{% extends 'home/layout.twig.html' %}

{% block title %}Congresos{% endblock %}
{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
	    	<p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
	        <h1 class="text-danger">
	            Apoyo para Congresos Regionales
	        </h1>
	        <h5>Introducción</h5>
	        <p class="lead-1 mt-2 mb-3">
				Los Congresos de la FEMECOG tienen como objetivo proporcionar a los médicos especialistas de todo el País, en particular a los que ejercen su trabajo en las áreas más alejadas y con mayores carencias, opciones de actualización del conocimiento médico.
	        </p>
        </div>
    </header> 

{% endblock %}
{% block page_contents %}
	<section class="section bg-gray">
    	<div class="container">
			<div class="row">
				<header class="section-header">
		            <h3></h3>
					
		         </header>
				<div class="col-lg-12">
					<h4>Emblema</h4>
					<p>
						El logotipo sólo lo utilizará el Consejo Directivo de la FEMECOG ubicándolo en el ángulo superior izquierdo de su papelería. Los colegios de la FEMECOG podrán imprimirlo en su papelería previa autorización del Consejo Directivo de la FEMECOG ubicándolo en el ángulo superior izquierdo.
					</p>
					<h4>Tres pasos a seguir</h4>
					<p>
						* Análisis<br/>
						* Planeación<br/>
						* Operación
					</p>
					<h4>DMC´s</h4>
						<p>
						Por sus siglas en inglés Destination Management Company y de acuerdo a la SECTUR (Secretaría de Turismo) y al CPTM ( Consejo de Promoción Turística de México), un DMC es una empresa profesional de servicios, con un amplio conocimiento y experiencia de las condiciones y recursos turísticos de una región, especializada tanto en el diseño como en la realización de eventos, recorridos, circuitos y toda clase de actividades de gran demanda en segmentos y/o nichos de mercado de alto valor; Hay una en cada estado.
					</p>
					<h4>Registro</h4>
						<p>
						La FEMECOG ha desarrollado una plataforma propia, con un sistema de vanguardia que permite el óptimo registro de los Congresistas, en los diversos eventos de la FEMECOG, con ello también ha ganado terreno en la propiedad de bases de datos; estas mismas quedan registradas de manera confidencial y únicamente con fines de uso para la propia FEMECOG.
					</p>
					<h4>¿Cuándo hacer cuentas?</h4>
					<p>
						Nunca dejes para mañana lo que puedes hacer hoy, particularmente en lo que se refiere a los dineros. Diariamente hay que ir a la oficina de “cuentas por cobrar” o con la persona que designe el hotel para ir “cerrando” cada día que pasa.<br/>
						De esta forma todo está fresco en la mente y es mucho más fácil hacer cuentas, incluyendo los temibles no shows, salidas anticipadas, garantías y cargos adicionales no programados, horas extras de los músicos, etc.
					</p>
					
				</div>
			</div>
		</div>
	</section>




{% endblock %}