{% extends 'home/layout.twig.html' %}
{% block title %}Historia{% endblock %}
{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                Beneficios FEMECOG 
            </h1>
            <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper. Aliquam porttitor elit diam, et pharetra felis vestibulum ac. Sed pharetra volutpat vestibulum.</p>
        </div>
    </header> 

{% endblock %}
{% block page_contents %}
    <section class="section bg-gray">
    	<div class="container">
            <div class="row align-items-center">
            	<header class="section-header">
            		<small>F E M E C O G</small>
            		<h2 class="text-danger">Beneficios de ser FEDERADO</h2>
                	<h3>¿Por qué ser Federado ?</h3>
                	<p>El ser colegiado es una figura de competencia profesional que puede ser utilizada en tu defensa en una demanda médico legal</p>
                	<hr>
            	</header>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
					<h6>Módulo publicaciones electrónicas</h6>
					<ul class="list-unstyled">
						<li><i class="ti-check text-success mr-2"></i> Revista electrónica Ginecología y Obstetricia de México (GOM)</li>
						<li><i class="ti-check text-success mr-2"></i> Conferencias FEMECOG</li>
						<li><i class="ti-check text-success mr-2"></i> Bibliotecas electrónicas</li>
						<li><i class="ti-check text-success mr-2"></i> Up to Date (precios preferenciales)</li>
						<li><i class="ti-check text-success mr-2"></i> INFEMECOG</li>
						<li><i class="ti-check text-success mr-2"></i> Avisos</li>
						<li><i class="ti-check text-success mr-2"></i> Boletines</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3">
					<h6>Congresos a precios preferenciales</h6>
					<ul class="list-unstyled">
						<li><i class="ti-check text-success mr-2"></i> Precios preferenciales en la inscripción a eventos de educación médica continua avalados por la FEMECOG</li>
						<li><i class="ti-check text-success mr-2"></i> Congreso Mexicano FEMECOG</li>
						<li><i class="ti-check text-success mr-2"></i> Congresos Regionales FEMECOG</li>
						<li><i class="ti-check text-success mr-2"></i> Poder participar siendo socio federado como profesor en los congresos regionales y nacionales</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3">
					<h6>Puntaje para recertificación</h6>
					<ul class="list-unstyled">
						<li><i class="ti-check text-success mr-2"></i> Puntaje anual válido para la recertificación</li>
						<li><i class="ti-check text-success mr-2"></i> Descuento en el pago de examen de vigencia de certificación</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3">
					<h6>Asesoría legal</h6>
					<ul class="list-unstyled">
						<li><i class="ti-check text-success mr-2"></i> Sin compromiso económico solo por ser FEDERADO con PMN</li>
						<li><i class="ti-check text-success mr-2"></i> Con compromiso económico con póliza a precio preferencial solo por ser FEDERADO con PMN</li>
						<li><i class="ti-check text-success mr-2"></i> Apoyo en el desarrollo de cabildeo ante las diputaciones estatales por parte de PMN y la información con la que cuenta la FEMECOG</li>
					</ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
    	<div class="container">
            <div class="row">
            	<header class="section-header">
            		<small>F E M E C O G</small>
            		<h2 class="text-danger">Beneficios a Agrupaciones</h2>
                	<p>Representatividad gremial a nivel Local, Estatal y Nacional, Latinoamericano y Mundial</p>
            	</header>
            </div>
            <div class="row gap-y">
                <div class="col-lg-6">
					<h6>Apoyo logístico en la organización de eventos</h6>
					<ul class="list-unstyled">
						<li><i class="ti-check text-success mr-2"></i> Evaluación de sedes</li>
						<li><i class="ti-check text-success mr-2"></i> Negociaciones comerciales por parte de expertos</li>
						<li><i class="ti-check text-success mr-2"></i> Asesoría en la ejecución del manual de operaciones para la planeación estratégica de los eventos</li>
						<li><i class="ti-check text-success mr-2"></i> Apoyo in situ a los eventos</li>
						<li><i class="ti-check text-success mr-2"></i> Asesoría del cronograma de actividades</li>
						<li><i class="ti-check text-success mr-2"></i> Asesoría en la ejecución del manual de operaciones para la planeación estratégica de las actividades del colegio en turno</li>
					</ul>
				</div>
				<div class="col-lg-6">
					<h6>Apoyo en la operación y promoción de eventos:</h6>
					<ul class="list-unstyled">
						<li><i class="ti-check text-success mr-2"></i> Módulo de inscripción de eventos</li>
						<li><i class="ti-check text-success mr-2"></i> Aplicación de administración de socios</li>
						<li><i class="ti-check text-success mr-2"></i> Aplicación de evaluación de eventos académicos</li>
						<li><i class="ti-check text-success mr-2"></i> Aplicación de descarga de constancias</li>
						<li><i class="ti-check text-success mr-2"></i> Promoción de cursos de los colegios</li>
						<li><i class="ti-check text-success mr-2"></i> Divulgación en: Página WEB, Facebook, Twitter e Instagram</li>
					</ul>
				</div>
				<div class="col-lg-6">
					<h6>Asociaciones internacionales - Pertenecer a las asociaciones internacionales</h6>
					<ul class="list-unstyled">
						<li><i class="ti-check text-success mr-2"></i> FLASOG</li>
						<li><i class="ti-check text-success mr-2"></i> FIGO</li>
					</ul>
				</div>
				<div class="col-lg-6">
					<h6>Precios preferenciales en las membresías de asociaciones prestigiosas a nivel mundial</h6>
					<ul class="list-unstyled">
						<li><i class="ti-check text-success mr-2"></i> ACOG</li>
						<li><i class="ti-check text-success mr-2"></i> RCOG</li>
					</ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}