{% extends 'home/layout.twig.html' %}

{% block title %}Boletines y Comunicados{% endblock %}

{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <h1 class="text-danger">
                <small class="small-1">F E M E C O G</small><br />
                    Boletines y Comunicados
             </h1>
            <p class="lead-1 mt-2 mb-3">Editada por la Federación Mexicana de Colegios de Obstetricia y Ginecología Fundada por la Asociación Mexicana de Ginecología y Obstetricia en 1945</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section pb-0">
        <div class="container">
        	<div class="row">
        		<div class="col-lg-8 mx-auto">
		        	<div class="alert alert-info text-center">
		        		<h3>North America Región COVID-19 Report</h3>
		        		<p>
		        			<strong>SOGC UPDATE, FEMECOG UPDATE y ACOG UPDATE </strong>
		        		</p>
		        		<a href="https://femecog.org.mx/docs/FIGO_COVID-19_North_America_Regional_Report_May_2020.pdf" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-file-text" aria-hidden="true"></i> Ver Articulo completo</a>
		        	</div>
	        		<div class="divider "></div>
	        	</div>
	        </div>
	        <div class="row">
		        <div class="col-lg-12">
					<ul class="nav nav-tabs-outline">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#header-color">FIGO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#header-gradient">FLASOG</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#header-typing">ACOG</a>
						</li>
					</ul>
		          	<br/>
		          	<br/>
					<div class="tab-content text-center" data-aos="fade-in">
						<div class="tab-pane fade show active" id="header-color">
							<h2 class="text-danger">Boletínes y Comunicados FIGO</h2>
							<hr/>
							<h3>Responsabilidades éticas en la atención postaborto.</h3>
							<p>
								<strong>Background:</strong><br/>
								1. Post-abortion care may be required when a woman experiences abortion that is deliberately induced, by the woman herself or by another, or that occurs spontaneously. At a later stage of pregnancy, this may be defined as miscarriage. Deliberately inducing abortion may be lawful or unlawful, depending on locally prevailing laws...<br/>						
							</p>
							<a href="https://femecog.org.mx/docs/abortion-figo.pdf" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i> Ver Articulo</a>
						</div>
						<div class="tab-pane fade" id="header-gradient">
							<h2 class="text-danger">Boletínes y Comunicados FLASOG</h2>
							<hr/>
							<h3>Revista FLASOG No.19</h3>
							<p>
								<strong>Revista Médica con Artículos de Revisión y Consulta - Marzo, 2021</strong><br/>
								Órgano de difusión de la Federación Latinoamericana de Sociedades de Obstetricia y Ginecología
							</p>
							<a href="https://flasog.org/wp-content/uploads/2021/03/REVISTA-FLASOG-NO19_compressed.pdf" class="btn btn-xs btn-primary" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Ver Articulo</a>
						</div>
						<div class="tab-pane fade" id="header-typing">
							<h2 class="text-danger">Boletínes y Comunicados ACOG</h2>
							<hr/>
						</div>
					</div>
	       		</div>
	       	</div>
	    </div>
      </section>
{% endblock %}