{% extends 'home/layout.twig.html' %}

{% block title %} Carta de Consentimeinto Informado{% endblock %}

{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                 Carta de Consentimeinto Informado  
            </h1>
            <p class="lead-1 mt-2 mb-3">Guía de llenado de la carta de consentimiento informado para actos ginecológicos y obstétricos</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
<section class="section bg-gray">
    	<div class="container">
    		<div class="row align-items-center">
                <header class="section-header">
                    <small>F E M E C O G</small>
                    <h2 class="text-danger">La Carta de Consentimiento informado se rige en la NORMA Oficial Mexicana NOM-004-SSA3-2012</h2>
                    <hr>
                </header>
            </div>
            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-7">
                    <a class="card px-6 py-8 shadow-11 hover-shadow-9 text-default border" href="faq.html">
                        <p><i class="icon-documents lead-7 text-danger"></i></p>
                        <h5 class="fw-500 my-4 text-danger">Descargar PDF <i class="fa fa-angle-double-down" aria-hidden="true"></i></h5>
                        <p class="mb-0">En el marco del ejercicio de los derechos del paciente, en esta norma se ratifica la importancia de que
                        la autoridad sanitaria, garantice la libre manifestación de la voluntad del paciente de ser o no atendido
                        a través de procedimientos clínicos o quirúrgicos, para lo cual, el personal de salud debe recabar su
                        consentimiento, previa información y explicación de los riesgos posibles y beneficios esperados.
                    </p>
                    </a>
                </div>
            </div>
    	</div>
    </section>
{% endblock %}