{% extends 'home/layout.twig.html' %}

{% block title %}Charlas de Café{% endblock %}

{% block header %}

    <header class="header pt-11 pb-10">
        <div class="container">
            <div class="row align-items-center h-100">
                <div class="col-lg-6" data-aos="fade-in" data-aos-delay="100">
                    <h1 class="text-danger">
                        <small class="small-1">F E M E C O G</small><br />
                       	Charlas de Café
                    </h1>
                    <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis justo eget dictum facilisis.</p>
                </div>
                <div class="col-lg-6 ml-auto d-none d-lg-block" data-aos="fade-left" data-aos-delay="300">
                    <img src="images/femecog-historia.png" alt="FEMECOG" class="aos-init aos-animate">
                </div>
            </div>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section">
		<div class="container">
			<div class="row">
    			<div class="col-lg-12 text-center">
					<h2 class="text-danger">Charlas de Café</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet est arcu, vel fringilla nunc molestie id. Sed tempus, purus vitae molestie mattis, nisl ligula congue quam, et laoreet lectus eros ac felis. Proin bibendum nisl mauris, at commodo diam suscipit sed. Sed urna nisi, egestas non dapibus ac, posuere sed erat. Nunc tellus orci, mollis vestibulum quam sit amet, porttitor porttitor mauris. Donec consequat venenatis nibh, vel consequat ante cursus tincidunt. Nam eleifend enim eu est congue posuere. Nullam ultricies placerat ex nec luctus. Pellentesque viverra lacus ac neque ullamcorper, luctus ullamcorper purus porta. Nulla non vestibulum dui.
					</p>
					<hr/>
    			</div>
    		</div>
			<div class="row gap-y">
			    <div class="col-lg-6 text-center">
					<iframe width="350" height="180" src="https://www.youtube.com/embed/P46DqjhGC1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h5>Trato digno y respetuoso</h5>
					<hr/>
				</div>
				<div class="col-lg-6 text-center">
					<iframe width="350" height="180" src="https://www.youtube.com/embed/Tk_zrntli1s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h5>Infección de las vías urinarias</h5>
					<hr/>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-lg-6 text-center">
					<iframe width="350" height="180" src="https://www.youtube.com/embed/7reC5HN4yxk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h5>Riesgos Cardiovasculares en la Menopausia</h5>
					<hr/>
				</div>
			    <div class="col-lg-6 text-center">
					<iframe width="350" height="180" src="https://www.youtube.com/embed/I7f-J0mRrns" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h5>Día internacional de la mujer</h5>
					<hr/>
				</div>
			</div>
    	</div>
    </section>

{% endblock %}