{% extends 'home/layout.twig.html' %}

{% block title %}Congresos{% endblock %}

{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <h1 class="text-danger">
                <small class="small-1">F E M E C O G</small><br />
                Atención a la Comunidad 
            </h1>
            <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis justo eget dictum facilisis.</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section">
    	<div class="container">
    		<div class="row gap-y">
    			<header class="section-header">
    				<small>F E M E C O G</small>
    				<h2 class="text-danger">Folletos</h2>
    				<p>El comité de educación comunitaria de la FEMECOG promueve acciones de educación para la salud de la mujer</p>
    				<hr>
    			</header>
    		</div>
    		<div class="row gap-y text-center pb-6">
				<div class="col-md-6 col-lg-3">
					<p><img src="img/folleto/esterilidad.jpg"></p>
					<h6>Esterilidad en la mujer</h6>
					<a href="docs/esterilidad.pdf" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar PDF</a>
				</div>


				<div class="col-md-6 col-lg-3">
					<p><img src="img/folleto/cancer.jpg"></p>
					<h6 class="fs-14">Detección de Cáncer de mama</h6>
					<a href="docs/CaMa.pdf" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar PDF</a>
				</div>


				<div class="col-md-6 col-lg-3">
					<p><img src="img/folleto/vph.jpg"></p>
					<h6 class="fs-14">VPH - Virus del Papiloma Humano</h6>
					<a href="docs/VPH.pdf" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar PDF</a>
				</div>


				<div class="col-md-6 col-lg-3">
					<p><img src="img/folleto/aborto.jpg"></p>
					<h6>Aborto</h6>
					<a href="docs/aborto.pdf" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar PDF</a>
				</div>
			</div>
			<div class="row gap-y text-center pb-6">
				<div class="col-md-6 col-lg-3">
					<p><img src="img/folleto/adolescencia.jpg"></p>
					<h6>Embarazo en Adolescencia</h6>
					<a href="docs/embarazo.pdf" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar PDF</a>
				</div>


				<div class="col-md-6 col-lg-3">
					<p><img src="img/folleto/metodos.jpg"></p>
					<h6>Métodos Anticonceptivos</h6>
					<a href="docs/metodosanticonceptivos.pdf" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar PDF</a>
				</div>


				<div class="col-md-6 col-lg-3">
					<p><img src="img/folleto/menopausia.jpg"></p>
					<h6>Menopausia y Climaterio</h6>
					<a href="docs/menopausiayclimaterio.pdf" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar PDF</a>
				</div>


				<div class="col-md-6 col-lg-3">
					<p><img src="img/folleto/sexualidad.jpg"></p>
					<h6>Sexualidad en la Mujer</h6>
					<a href="docs/sexualidadenlamujer.pdf" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar PDF</a>
				</div>
			</div>
			<div class="row gap-y text-center">
				<div class="col-md-6 col-lg-3">
					<p><img src="img/folleto/cuidados.jpg"></p>
					<h6>Cuidados antes del Embarazo</h6>
					<a href="docs/cuidadosantesdelembarazo.pdf" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar PDF</a>
				</div>


				<div class="col-md-6 col-lg-3">
					<p><img src="img/folleto/saludable.jpg"></p>
					<h6>Embarazo Saludable</h6>
					<a href="docs/embsaluda.pdf" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar PDF</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="row">
    			<div class="col-lg-12 text-center">
					<h2 class="text-danger">Comité de Seguimiento a la MM y Trato Digno y Respetuoso en la Atención Obstétrica</h2>
					<h5>Embarazo en tiempos de COVID</h5>
					<hr>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/lzaPqF1cEXQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    			</div>
    		</div>
    	</div>
    </section>

{% endblock %}