{% extends 'home/layout.twig.html' %}

{% block title %}Congresos Internacionales{% endblock %}
{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
        	<p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                Congresos Internacionales
            </h1>
            <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper. Aliquam porttitor elit diam, et pharetra felis vestibulum ac. Sed pharetra volutpat vestibulum.</p>
        </div>
    </header> 

{% endblock %}
{% block page_contents %}
	<section class="section">
    	<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="card shadow-4">
						<div class="card d-block">
							<img class="card-img-top" src="img/congreso-sigoba.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">SOGIBA 2021 XXXVIII</h5>
								<p>Congreso Internacional de Obstetricia y Ginecología<br/>
								(Buenos Aires - Argentina)</p>
								<a href="">Visitar Sitio</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card shadow-4">
						<div class="card d-block">
							<img class="card-img-top" src="img/congreso-figo.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">FIGO 2021</h5>
								<p>Manténgase conectado con el Congreso Mundial FIGO 2021</p>
								<a href="">Visitar Sitio</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}