{% extends 'home/layout.twig.html' %}

{% block title %}Congresos{% endblock %}
{% block header %}

    <header class="header pt-11 pb-10">
        <div class="container">
            <div class="row align-items-center h-100">
                <div class="col-lg-6" data-aos="fade-in" data-aos-delay="100">
                	<p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
                    <h1 class="text-danger">
                        Congresos 
                    </h1>
                    <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper. Aliquam porttitor elit diam, et pharetra felis vestibulum ac. Sed pharetra volutpat vestibulum.</p>
                </div>
                <div class="col-lg-6 ml-auto d-none d-lg-block" data-aos="fade-left" data-aos-delay="300">
                    <img src="images/femecog-congresos.png" alt="FEMECOG" class="aos-init aos-animate">
                </div>
            </div>
        </div>
    </header> 

{% endblock %}
{% block page_contents %}
    <section class="section">
    	<div class="container">
    		<div class="row align-items-center">
    			<header class="section-header">
    				<small>F E M E C O G</small>
		            <h2 class="text-danger">Nacionales</h2>
		            <p class="lead">Completely leverage other's covalent products whereas covalent manufactured products.</p>
		            <hr>
    			</header>
    		</div>
			<div class="row">
                <div class="col-lg-12 text-center">
                	<img src="img/congreso-virtual.jpg">
                	<h3>1ER. CONGRESO NACIONAL VIRTUAL FEMECOG - 2021</h3>
					<p class="lead">
						<strong>Para el congreso se acuño el lema “Priorizando la salud femenina en la era digital”.</strong><br/>
						El Comité de Actividades Científicas ha desarrollado un gran esfuerzo a fin de integrar un programa académico de calidad, con destacados profesores nacionales y extranjeros, de una gran trayectoria académica y profesional.<br />
						Los invidamos a que hagamos de este 1er Congreso Nacional Virtual FEMECOG una oportunidad para intercambiar ideas, pero sobre todo experiencias prácticas que nos sean útiles con el objetivo de mejorar y alcanzar la "Excelencia de la Salud Femenina".
					</p>
					<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
				</div>
			</div>
		</div>
	</section>
	<section class="section bg-gray">
    	<div class="container">
			<div class="row">
				<header class="section-header">
    				<small>F E M E C O G</small>
		            <h2 class="text-danger">Regionales | Reprogramación</h2>
		            <hr>
		            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper. </p>
    			</header>
			</div>
			<div class="row gap-y">
				<div class="col-12 col-lg-6">
					<div class="card d-block">
						<img class="card-img-top" src="img/congreso-comego.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">26 Congreso COMEGO - Virtual Presencial</h5>
							<p>
								Retos ante la nueva Normalidad | 22-25 de Junio 2021<br/>
								<strong>REGION I</strong>
							</p>
							<a class="fs-12 fw-600" href="https://comego.org.mx/26_Congreso_Virtual/" target="_blank">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="card d-block">
						<img class="card-img-top" src="img/congreso-regional.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">XXVII Congreso Regional de Obstetricia y  Ginecología</h5>
							<p>16 al 19 de Marzo 2022, Hermosillo Sonora<br/>
								<strong>REGION II</strong>
							</p>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-12 col-lg-6">
					<div class="card d-block">
						<img class="card-img-top" src="img/congreso-toluca.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">XXVI Congreso Regional de Obstetricia y Ginecología</h5>
							<p>19 al 22 de Mayo, 2022, Toluca, Estado de México<br/>
								<strong>REGION VI</strong>
							</p>
							<a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="card d-block">
						<img class="card-img-top" src="img/congreso-chiapas.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">XXVII Congreso Regional de Obstetricia y Ginecología</h5>
							<p>2 al 4 de junio, 2022, San Cristobal de las Casas, Chiapas<br/>
								<strong>REGION VII</strong>
							</p>
							<a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
    	<div class="container">
    		<div class="row">
    			<header class="section-header">
    				<small>F E M E C O G</small>
		            <h2 class="text-danger">Internacionales</h2>
		            <hr>
		            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper. </p>
    			</header>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="card shadow-4">
						<div class="card d-block">
							<img class="card-img-top" src="img/congreso-sigoba.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">SOGIBA 2021 XXXVIII</h5>
								<p>Congreso Internacional de Obstetricia y Ginecología<br/>
								(Buenos Aires - Argentina)</p>
								<a href="">Visitar Sitio</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card shadow-4">
						<div class="card d-block">
							<img class="card-img-top" src="img/congreso-figo.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">FIGO 2021</h5>
								<p>Manténgase conectado con el Congreso Mundial FIGO 2021</p>
								<a href="">Visitar Sitio</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section bg-gray">
    	<div class="container">
    		<div class="row">
    			<header class="section-header">
    				<small>F E M E C O G</small>
		            <h2 class="text-danger">Apoyo para Congresos Regionales</h2>
		            <hr>
		            <p class="lead">
						<strong>Introducción</strong><br/>
						Los Congresos de la FEMECOG tienen como objetivo proporcionar a los médicos especialistas de todo el País, en particular a los que ejercen su trabajo en las áreas más alejadas y con mayores carencias, opciones de actualización del conocimiento médico.
					</p>
    			</header>
			</div>
			<div class="row">
				<header class="section-header">
		            <h3></h3>
					
		         </header>
				<div class="col-lg-12">
					<h4>Emblema</h4>
					<p>
						El logotipo sólo lo utilizará el Consejo Directivo de la FEMECOG ubicándolo en el ángulo superior izquierdo de su papelería. Los colegios de la FEMECOG podrán imprimirlo en su papelería previa autorización del Consejo Directivo de la FEMECOG ubicándolo en el ángulo superior izquierdo.
					</p>
					<h4>Tres pasos a seguir</h4>
					<p>
						* Análisis<br/>
						* Planeación<br/>
						* Operación
					</p>
					<h4>DMC´s</h4>
						<p>
						Por sus siglas en inglés Destination Management Company y de acuerdo a la SECTUR (Secretaría de Turismo) y al CPTM ( Consejo de Promoción Turística de México), un DMC es una empresa profesional de servicios, con un amplio conocimiento y experiencia de las condiciones y recursos turísticos de una región, especializada tanto en el diseño como en la realización de eventos, recorridos, circuitos y toda clase de actividades de gran demanda en segmentos y/o nichos de mercado de alto valor; Hay una en cada estado.
					</p>
					<h4>Registro</h4>
						<p>
						La FEMECOG ha desarrollado una plataforma propia, con un sistema de vanguardia que permite el óptimo registro de los Congresistas, en los diversos eventos de la FEMECOG, con ello también ha ganado terreno en la propiedad de bases de datos; estas mismas quedan registradas de manera confidencial y únicamente con fines de uso para la propia FEMECOG.
					</p>
					<h4>¿Cuándo hacer cuentas?</h4>
					<p>
						Nunca dejes para mañana lo que puedes hacer hoy, particularmente en lo que se refiere a los dineros. Diariamente hay que ir a la oficina de “cuentas por cobrar” o con la persona que designe el hotel para ir “cerrando” cada día que pasa.<br/>
						De esta forma todo está fresco en la mente y es mucho más fácil hacer cuentas, incluyendo los temibles no shows, salidas anticipadas, garantías y cargos adicionales no programados, horas extras de los músicos, etc.
					</p>
					
				</div>
			</div>
		</div>
	</section>




{% endblock %}