{% extends 'home/layout.twig.html' %}

{% block title %}Congresos Nacionales{% endblock %}
{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
        	<p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                Congresos  Nacionales
            </h1>
            <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper. Aliquam porttitor elit diam, et pharetra felis vestibulum ac. Sed pharetra volutpat vestibulum.</p>
        </div>
    </header> 

{% endblock %}
{% block page_contents %}
    <section class="section">
    	<div class="container">
			<div class="row">
                <div class="col-lg-12 text-center">
                	<img src="img/congreso-virtual.jpg">
                	<h3>1ER. CONGRESO NACIONAL VIRTUAL FEMECOG - 2021</h3>
					<p class="lead">
						<strong>Para el congreso se acuño el lema “Priorizando la salud femenina en la era digital”.</strong><br/>
						El Comité de Actividades Científicas ha desarrollado un gran esfuerzo a fin de integrar un programa académico de calidad, con destacados profesores nacionales y extranjeros, de una gran trayectoria académica y profesional.<br />
						Los invidamos a que hagamos de este 1er Congreso Nacional Virtual FEMECOG una oportunidad para intercambiar ideas, pero sobre todo experiencias prácticas que nos sean útiles con el objetivo de mejorar y alcanzar la "Excelencia de la Salud Femenina".
					</p>
					<a class="fs-12 fw-600" href="https://eccsac.app/reservar-tarjeta/femecog-virtual" target="_blank">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
				</div>
			</div>
		</div>
	</section>

{% endblock %}