{% extends 'home/layout.twig.html' %}

{% block title %}Congresos Regionales{% endblock %}
{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
        	<p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                Congresos Regionales<br/>
                <small>Reprogramación</small>
            </h1>
            <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper. Aliquam porttitor elit diam, et pharetra felis vestibulum ac. Sed pharetra volutpat vestibulum.</p>
        </div>
    </header> 

{% endblock %}
{% block page_contents %}
	<section class="section">
    	<div class="container">
			<div class="row gap-y">
				<div class="col-12 col-lg-6">
					<div class="card d-block">
						<img class="card-img-top" src="img/congreso-comego.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">26 Congreso COMEGO - Virtual Presencial</h5>
							<p>
								Retos ante la nueva Normalidad | 22-25 de Junio 2021<br/>
								<strong>REGION I</strong>
							</p>
							<a class="fs-12 fw-600" href="https://comego.org.mx/26_Congreso_Virtual/" target="_blank">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="card d-block">
						<img class="card-img-top" src="img/congreso-regional.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">XXVII Congreso Regional de Obstetricia y  Ginecología</h5>
							<p>16 al 19 de Marzo 2022, Hermosillo Sonora<br/>
								<strong>REGION II</strong>
							</p>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-12 col-lg-6">
					<div class="card d-block">
						<img class="card-img-top" src="img/congreso-toluca.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">XXVI Congreso Regional de Obstetricia y Ginecología</h5>
							<p>19 al 22 de Mayo, 2022, Toluca, Estado de México<br/>
								<strong>REGION VI</strong>
							</p>
							<a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="card d-block">
						<img class="card-img-top" src="img/congreso-chiapas.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">XXVII Congreso Regional de Obstetricia y Ginecología</h5>
							<p>2 al 4 de junio, 2022, San Cristobal de las Casas, Chiapas<br/>
								<strong>REGION VII</strong>
							</p>
							<a class="fs-12 fw-600" href="#">Read more <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}