{% extends 'home/layout.twig.html' %}

{% block title %}Congresos{% endblock %}

{% block header %}

    <header class="header pt-10 pb-01 text-center" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container">
            <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                Consejo Directivo 2019 - 2021 
            </h1>
            <p class="lead-1 mt-2 mb-3"> Comités de Federación Mexicana de Colegios de Obstetricia y Ginecología, A.C.<br/>2019 – 2021</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section bg-gray">
    	<div class="container">
            <div class="row gap-y text-center">
            	<div class="col-md-4 p-5">	
                    <h5>Presidente</h5>
					<p> Dr. Cuauhtémoc Celis González.</br>
						<a href="mailto:presidencia@femecog.org.mx">presidencia@femecog.org.mx</a>
					</p>
                </div>
                <div class="col-md-4 p-5">
					<h5>Vicepresidente</h5>
                    <p> Dr. Javier Gomezpedroso Rea </br>
                    	<a href="mailto:vicepresidencia@femecog.org.mx">vicepresidencia@femecog.org.mx</a>
                    </p>
                </div>
                <div class="col-md-4 p-5">
					<h5>1er. Secretario Propietario</h5> 
                    <p> Dr. José Antonio B. Ayala Méndez </br>
                    	<a href="mailto:secretaria@femecog.org.mx">secretaria@femecog.org.mx</a>
                    </p>
                </div>
            </div>
            <div class="row gap-y text-center">
                <div class="col-md-4 p-5">
					<h5>Tesorero </h5>
                    <p> Dr. Jesús Chávez Brambila </br>
                    	<a href="mailto:tesoreria@femecog.org.mx">tesoreria@femecog.org.mx</a>
                    </p>
                </div>
				</hr>
				<div class="col-md-4 p-5">
					<h5>2do. Secretario Prop. </h5>
                    <p> Dra. Paola Iturralde Rosas Priego </br>
                    	<a href="mailto:paola.iturralde@femecog.org.mx">paola.iturralde@femecog.org.mx</a>
                    </p>
                </div>
				<div class="col-md-4 p-5">
					<h5>1er. Secretario Suplente </h5>
                    <p> Dra. Erika Torres Valdez </br>
                    	<a href="mailto:dra.erikatorres@gmail.com">dra.erikatorres@gmail.com</a>
                    </p>
                </div>
            </div>
            <div class="row text-center align-items-center">
				<div class="col-md-4 p-5">
					<h5>2do. Secretario Suplente </h5>
                    <p> Dr. Dante Carbajal Ocampo </br>
                    	<a href="mailto:dante.carbajal@femecog.org.mx">dante.carbajal@femecog.org.mx</a>
                    </p>
                </div>
				<div class="col-md-4 p-5">
					<h5>Sub-Tesorero </h5>
                    <p> Dr. Gerardo Eloy Arturo Aurioles López </br>
                    	<a href="mailto:gerardo.aurioles@femecog.org.mx">gerardo.aurioles@femecog.org.mx</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}