{% extends 'home/layout.twig.html' %}

{% block title %} Sistema de Constancias{% endblock %}

{% block header %}

    <header class="header pt-11 pb-10">
        <div class="container">
            <div class="row align-items-center h-100">
                <div class="col-lg-6" data-aos="fade-in" data-aos-delay="100">
                    <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
                    <h1 class="text-danger">
                         Constancias
                    </h1>
                    <p class="lead-1 mt-2 mb-3">Quisque nec neque a ipsum sodales vestibulum iaculis a ante. Fusce quis nunc non metus dapibus aliquam vel eu lorem.</p>
                </div>
                <div class="col-lg-6 ml-auto d-none d-lg-block" data-aos="fade-left" data-aos-delay="300">
                    <img src="images/femecog-profesores.png" alt="FEMECOG" class="aos-init aos-animate">
                </div>
            </div>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section bg-gray">
        <div class="container">
            <header class="section-header">
                <small>F E M E C O G</small>
                <h2 class="text-danger">Sistema de Constancias en Línea</h2>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis vitae justo ut porttitor. Quisque nec neque a ipsum sodales vestibulum iaculis a ante. Fusce quis nunc non metus dapibus aliquam vel eu lorem. </p>
            </header>
            <div class="row gap-y">
                <div class="col-md-6 mx-auto">
                    <a class="card card-body shadow-3 hover-shadow-6 text-default" href="https://federados.w4em.com/login" target="_blank">
                        <div class="media align-items-center">
                            <div class="mr-5">
                                <span class="iconbox iconbox-xxl bg-pale-success">
                                    <i class="icon-ribbon text-success"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h5>Medico Federado</h5>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis vitae justo ut porttitor. </p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 mx-auto">
                    <a class="card card-body shadow-3 hover-shadow-6 text-default" href="https://femecog.w4em.com/perfil/login" target="_blank">
                        <div class="media align-items-center">
                            <div class="mr-5">
                                <span class="iconbox iconbox-xxl bg-pale-danger">
                                    <i class="icon-trophy text-danger"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h5>Eventos FEMECOG</h5>
                                <p class="mb-0">Quisque nec neque a ipsum sodales vestibulum iaculis a ante. Fusce quis nunc non metus dapibus aliquam vel eu lorem.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}