<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>Correo electrónico</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700' rel="stylesheet" />
		<link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel="stylesheet" />
	</head>

	<body class="respond" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
		<div class="container">
			<div class="row">
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-10">		
					<strong>Nombre:</strong> {{email.nombre}}
					<br/><br/>
					<strong>Correo electrónico:</strong> {{email.correo}}
					<br/><br/>
					<strong>Teléfono:</strong> {{email.telefono}}
					<br/><br/>
					<strong>Mensaje:</strong>
					<br/><br/>
					{{email.mensaje}}
				</div>
				<div class="col-md-1">&nbsp;</div>
			</div>
		</div>
	</body>
</html>