{% extends 'home/layout.twig.html' %}

{% block title %}Contacto{% endblock %}
{% block header %}
	<header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <small class="small-1">F E M E C O G</small>
			<h1 class="display-4 text-danger">Contáctenos</h1>
			<p class="lead-2 mt-6">Here are the ways you can contact us with any questions you have</p>
		</div>
	</header><!-- /.header -->
{% endblock %}
{% block page_contents %}
<section class="section">
				<div class="container">
					{% if enviado %}
					<div class="m-5 text-center">
						<h4>Mensaje enviado<br/>¡Gracias!<br/><br/>Nos pondremos en contacto.</h4>
					</div>
					{% else %}
					<div class="row">
						<form class="col-lg-6 mx-auto p-6 bg-gray rounded" action="{{ path('get.home.contacto') }}" method="POST">
							<!-- <div class="alert alert-success d-on-success">We received your message and will contact you back soon.</div> -->
							<div class="form-row">
								<div class="form-group col-md-12">
									<input class="form-control form-control-lg" type="text" name="nombre" placeholder="Su Nombre">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<input class="form-control form-control-lg" type="text" name="telefono" placeholder="Su Teléfono">
								</div>
								<div class="form-group col-md-6">
									<input class="form-control form-control-lg" type="email" name="email" placeholder="Correo Electrónico">
								</div>
							</div>
							<div class="form-group">
								<textarea class="form-control form-control-lg" rows="4" name="mensaje" placeholder="Su Mensaje..."></textarea>
							</div>
							<div class="text-center">
								<button class="btn btn-lg btn-danger" type="submit">Enviar Formulario</button>
							</div>
						</form>
					</div>
					{% endif %}
				</div>
			</section>
			<section class="section text-white bg-dark bg-img" style="background-image: url(img/galeria/femecog-001.jpg)" data-overlay="6">
				<div class="container">
					<div class="row gap-y align-items-center">
						<div class="col-md-5">
							<p class="text-uppercase small opacity-70 fw-600 ls-1">Nuestras Oficinas</p>
							<h5> F E M E C O G</h5>
							<br>
							<p>Calle Nueva York 38, Nápoles, Benito Juárez</p>
							<p>03810 Ciudad de México, CDMX</p>
							<p>T: 55 56690211 | 55 56693880</p>
							<p>E: buzon@femecog.org.mx</p>
							<br>
							<h6>Sígenos en Nuestras Redes Sociales</h6>
							<div class="social social-lg social-inverse">
								<a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
								<a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
								<a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
								<a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
						<div class="col-md-7">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.378451974775!2d-99.18118928485976!3d19.396047586905105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff65557a080b%3A0xc6dba4e699484c2b!2sFederaci%C3%B3n%20Mexicana%20de%20Colegios%20de%20Obstetricia%20y%20Ginecolog%C3%ADa%2C%20A.C.!5e0!3m2!1ses-419!2smx!4v1629239770903!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
						</div>
					</div>
				</div>
			</section>
{% endblock %}