{% extends 'home/layout.twig.html' %}

{% block title %}COVID-19{% endblock %}
{% block header %}
    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <h1 class="text-danger">
                <small class="small-1">F E M E C O G</small><br />
                INFEMECOG COVID-19
            </h1>
            <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper.</p>
        </div>
    </header> 
{% endblock %}

{% block page_contents %}
<section class="section">
        <div class="container">
        	<div class="row gap-y">
        		<div class="col-lg-12 text-center pb-8">
        			<small class="small-1">F E M E C O G</small>
        			<h3 class="text-danger">Coronavirus en general</h3>
        		</div>
        	</div>
            <div class="row">
                <div class="col-lg-6">
					<h6><i class="icon-book-open lead-5"></i> Recurrencia del RNA viral de SARS-CoV-2 en pacientes recuperados de COVID-19 </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7592450/pdf/10096_2020_Article_4088.pdf">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/Recurrencia_del_RNA_viral_de_SARS-CoV-2_en_pacientes_recuperados_de_COVID-19%20.pdf">Resumen español</a>
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> La deleción del receptor NKG2C que codifica el gen KLRC2 y las variantes HLA-E son factores de riesgo para el COVID-19 grave </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7835668/pdf/41436_2020_Article_1077.pdf">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/La_deleci%C3%B3n_del_receptor_NKG2C_que_codifica_el_gen_KLRC2_y_las_variantes_HLA-E_son_factores_de_riesgo_para_el_COVID19_grave.pdf">Resumen español</a> 
					<hr/>                          
						

					<h6><i class="icon-book-open lead-5"></i> Remdesivir contra COVID-19 y otras enfermedades virales </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7566896/pdf/CMR.00162-20.pdf">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/Remdesivir_contra_COVID19_y_otras_enfermedades_virales.pdf">Resumen español</a>                          
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> Maximizar el ajuste de las mascarillas de tela y de procedimiento médico para mejorar el rendimiento y reducir la transmisión y exposición a SARS-CoV-2, 2021 </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.cdc.gov/mmwr/volumes/70/wr/pdfs/mm7007e1-H.pdf">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/Maximizar_el_ajuste_de_mascarillas_de_tela_SARS_CoV2_2021.pdf">Resumen español</a>             
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> Seguridad y eficacia de una vacuna COVID-19 heteróloga basada en vectores rAd26 y rAd5    </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.thelancet.com/action/showPdf?pii=S0140-6736%2821%2900234-8">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/Seguridad_y_eficacia_de_una_vacuna_COVID19_heterologa_basada_en_vectores_rAd26_y_rAd5%20.pdf">Resumen español</a>
					<hr/>                   
						

					<h6><i class="icon-book-open lead-5"></i> Reacciones alérgicas -incluyendo anafilaxia- después de la primera dosis de la vacuna Pfizer-BioNTech para COVID-19</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://jamanetwork.com/journals/jama/fullarticle/2775646">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/Reacciones_alergicas_vacuna_PfizerBioNTech_para_COVID-19.pdf">Resumen español</a>
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> Manual sobre la vacuna para COVID-19</h6>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/The_COVID19_Vaccine_Communication_Handbook.pdf">Resumen Español</a>
					<hr/>
					                                
					<h6><i class="icon-book-open lead-5"></i> Covid-19 y vitamina D: la mortalidad por la enfermedad se correlaciona negativamente con exposición a la luz solar</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7376335/pdf/main.pdf">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/Covid19_y_vitamina_D.pdf">Resumen español</a>
					<hr/>                         
							

					<h6><i class="icon-book-open lead-5"></i> Seguridad y eficacia del ARNm BNT162b2 de la vacuna COVID-19  </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.nejm.org/doi/pdf/10.1056/NEJMoa2034577?articleTools=true">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/Seguridad_y_eficacia_del_ARNm_BNT162b2_de_la_vacuna_COVID-19%20.pdf">Resumen español </a>
					<hr/>                           
						

					<h6><i class="icon-book-open lead-5"></i> Guías de tratamiento del COVID-19</h6>  
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/COVID-19_Treatment_Guidelines.pdf">Resumen Español</a>
					<hr/>
					                                  
					<h6><i class="icon-book-open lead-5"></i> SARS-CoV-2 viable en el aire de una habitación de hospital con pacientes COVID-19  </h6>	
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.medrxiv.org/content/10.1101/2020.08.03.20167395v1">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/SARS-CoV-2_viable_en_el_aire_de_una_habitaci%C3%B3n_de_hospital_con_pacientes_COVID-19.pdf">Resumen español </a>
					<hr/>                            


					<h6><i class="icon-book-open lead-5"></i> El inóculo en el momento de la exposición a SARS-CoV-2 y el riesgo de gravedad de la enfermedad </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.sciencedirect.com/science/article/pii/S1201971220304707">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/El_in%C3%B3culo_en_el_momento_de_la_exposici%C3%B3n_a_SARS-CoV-2_y_el_riesgo_de_gravedad_de_la_enfermedad.pdf">Resumen español</a>
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> Una vacuna mRNA contra el SARS-CoV-2 — Informe preliminar </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.nejm.org/doi/pdf/10.1056/NEJMoa2022483?articleTools=true">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Una_vacuna_mRNA_contra_el_SARS-CoV-2-Informe_preliminar.pdf">Resumen español </a>
					<hr/>                           


					<h6><i class="icon-book-open lead-5"></i> Impacto de la carga viral SARS-CoV-2 en el riesgo de intubación y mortalidad de los pacientes hospitalizados con </br>COVID-19</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://academic.oup.com/cid/article/doi/10.1093/cid/ciaa851/5865363#.XwW081Q7OWw.twitter">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Impacto_de_la_carga_viral_SARS-CoV-2.pdf">Resumen español</a>
					<hr/>                          


					<h6><i class="icon-book-open lead-5"></i> Interpretación de pruebas diagnósticas para SARS-CoV-2</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://jamanetwork.com/journals/jama/fullarticle/2765837">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Interpretaci%C3%B3n_de_pruebas_diagn%C3%B3sticas_para_SARS-CoV-2.pdf">Resumen español</a>
					<hr/>
				</div>
				<div class="col-lg-6">                        
					<h6><i class="icon-book-open lead-5"></i> Distanciamiento físico, mascarillas faciales y protección ocular para prevenir la transmisión de persona a persona de SARS-CoV-2 y COVID-19: una revisión sistemática y metanálisis</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.thelancet.com/action/showPdf?pii=S0140-6736%2820%2931142-9">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Distanciamiento_f%C3%ADsico,_mascarillas_faciales_y_protecci%C3%B3n...pdf">Resumen español</a>
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> Un modelo de predicción de mortalidad interpretable para pacientes con COVID-19 </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.nature.com/articles/s42256-020-0180-7.pdf">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Un_modelo_de_predicci%C3%B3n_de_mortalidad_interpretable_para_pacientes_con_COVID-19.pdf">Resumen español </a>
					<hr/>


					<h6><i class="icon-book-open lead-5"></i> ¿Protege la vitamina D contra EL COVID-19?</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.medscape.com/viewarticle/930152?src=WNL_trdalrt_200512_MSCPEDIT&uac=15661CT&impID=2378424&faf=1">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Protege_la_vitamina_D_contra_EL_COVID-19.pdf">Resumen español</a>
					<hr/>                          


					<h6><i class="icon-book-open lead-5"></i> Consenso de expertos sobre diagnóstico y tratamiento de la disfunción de la coagulación en COVID-19</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://mmrjournal.biomedcentral.com/track/pdf/10.1186/s40779-020-00247-7">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Consenso_de_expertos_sobre_diagnostico_COVID-19.pdf">Resumen español</a>
					<hr/>                            

					<h6><i class="icon-book-open lead-5"></i> Tendencias de la infección por SARS-Cov-2 en 67 países: Papel de la zona climática, temperatura, humedad y comportamiento de la frecuencia acumulada sobre el tiempo de duplicación</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.medrxiv.org/content/10.1101/2020.04.18.20070920v1">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Tendencias_de_la_infecci%C3%B3n_por_SARS-Cov-2_en_67_pa%C3%ADses.pdf">Resumen español </a>
					<hr/>                    

					<h6><i class="icon-book-open lead-5"></i> Información sobre COVID-19.  Tratamiento, prevención e investigación</h6> 
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.covid19treatmentguidelines.nih.gov/">Resumen Inglés</a>
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> Mascarillas para el público en la crisis de COVID-19 </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.bmj.com/content/bmj/369/bmj.m1435.full.pdf">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Mascarillas_para_el_p%C3%BAblico_en_la_crisis_de_COVID-19.pdf">Resumen español </a>
					<hr/>                           


					<h6><i class="icon-book-open lead-5"></i> Coagulopatía y anticuerpos antifosfolípido en pacientes con COVID-19</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.nejm.org/doi/pdf/10.1056/NEJMc2007575">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Coagulopat%C3%ADa_y_anticuerpos_antifosfol%C3%ADpido.pdf">Resumen español</a>
					<hr/>                          

					<h6><i class="icon-book-open lead-5"></i> Conocimientos actuales sobre los antivirales remdesivir (GS-5734) y GS441524 como opciones terapéuticas para coronavirus</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7118644/pdf/main.pdf">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Conocimientos_actuales_sobre_los_antivirales_remdesivir_%28GS-5734%29_y_GS441524_como_opciones_terap%C3%A9uticas_para_coronavirus.pdf">Resumen español</a>
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> La opción del suero de convalecientes para contener al COVID-19 </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.jci.org/articles/view/138003">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-danger" href="http://www.femecog.org.mx/docs/La_opci%C3%B3n_del_suero_de_convalecientes_para_contener_al_COVID-19.pdf">Resumen español</a>
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> Evidencias COVID-19. La Cochrane ha hecho una recopilación de evidencia</h6> 
					<a target="_blank" class="btn btn-xs btn-danger" href="https://es.cochrane.org/es/recursos/evidencias-covid-19">Resumen español</a>
					<hr/>
					                                   
					<h6><i class="icon-book-open lead-5"></i> Protección de la maternidad, incluyendo la era de la crisis del coronaviru</h6> 
					<a target="_blank" class="btn btn-xs btn-danger" href="http://www.femecog.org.mx/docs/Infemecog254.pdf">Resumen español</a>
					<hr/>
					                                   
					<h6><i class="icon-book-open lead-5"></i> Gráfico elaborado para uso en atención primaria, basado en datos disponibles en marzo de 2020, con información proveniente de pacientes hospitalizados en China </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.bmj.com/content/368/bmj.m1182">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-danger" href="http://www.femecog.org.mx/docs/Gr%C3%A1fico_atenci%C3%B3n_primaria,_marzo_de_2020,_informaci%C3%B3n_proveniente_de_pacientes_hospitalizados_en_China.pdf">Resumen español</a>  
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> OMS Brote de enfermedad por COVID-19: orientaciones para el públic</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019/advice-for-public">Artículo en inglés</a>
					<hr/>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-lg-12 text-center pb-8">
        			<small class="small-1">F E M E C O G</small>
					<h3 class="text-danger">Coronavirus y embarazo</h3>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-lg-6 ">
					<h6><i class="icon-book-open lead-5"></i> El impacto de la pandemia por COVID-19 en los niveles de depresión y estrés en mujeres embarazadas: una encuesta nacional durante la pandemia COVID-19 en México  </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://femecog.org.mx/docs/ARTICULO-DEPRESION-ESTRES-MUJER%20EMBARAZADA.pdf">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/El_impacto_de_la_pandemia_por_COVID-19.pdf">Resumen español </a>
					<hr/>                       


					<h6><i class="icon-book-open lead-5"></i> Covid-19 y embarazo: una visión general  </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://pubmed.ncbi.nlm.nih.gov/32559801/">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://femecog.org.mx/docs/Covid_19_y_embarazo_una_visi%C3%B3n_general%20.pdf">Resumen español </a>
					<hr/>                      


					<h6><i class="icon-book-open lead-5"></i> Síndrome similar a la preeclampsia inducido por COVID-19 grave: un estudio observacional prospectivo </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7300912/pdf/BJO-9999-na.pdf">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/S%C3%ADndrome_similar_a_la_preeclampsia_inducido_por_COVID-19_grave.pdf">Resumen español</a>
					<hr/> 


					<h6><i class="icon-book-open lead-5"></i> Evaluación y manejo ambulatorio de las gestantes con sospecha o confirmación de COVID-19</h6>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/2249-6874-2-PB.pdf">Resumen Español</a>
					<hr/>
					                                
												
					<h6><i class="icon-book-open lead-5"></i> Pandemia por coronavirus 2019 (COVID-19) y embarazo </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7270569/pdf/main.pdf?fbclid=IwAR2KdJuTUnjCqp5tNaucZTn6E0EYeWjjLxqn-53sG8oh-YQg_fx_M1CfccQ">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Pandemia_por_coronavirus_2019_COVID19_y_embarazo.pdf?fbclid=IwAR2YP_ab3PhySRsHvOTlq0c2i7hvF59RkHkyOH50jw60USLjoCPVdR_R-M8">Resumen español</a>  
					<hr/>                        


					<h6><i class="icon-book-open lead-5"></i> Los obstetras en la enfermedad del coronavirus 2019 (COVID-19) y el confuso mundo de los equipos de protección personal </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7188024/pdf/ong-publish-ahead-of-print-10.1097.aog.0000000000003919.pdf">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Los_obstetras_en_la_enfermedad_del_coronavirus_2019.pdf">Resumen español </a>
					<hr/>                            


					<h6><i class="icon-book-open lead-5"></i> Protocolo de la Federación Mexicana de Colegios de Obstetricia y Ginecología para sospecha de SARS-CoV-2 en mujeres embarazadas</h6>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Protocolo_FEMECOG.pdf">Resumen Español</a>
					<hr/>
					                                
					<h6><i class="icon-book-open lead-5"></i> Declaración sobre las medidas de seguridad y la realización de ecografías en obstetricia y ginecología durante la pandemia SARS-CoV-2 </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://journals.viamedica.pl/ginekologia_polska/article/view/GP.2020.0045/50746?fbclid=IwAR1jUXys5LnMrBzLt8_WE98dBKMGxSxnytlFnJvbEvhIkjQeKTC3bxUZ1Eg">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Declaraci%C3%B3n_sobre_las_medidas_de_seguridad_....pdf">Resumen español</a>
					<hr/>                         


					<h6><i class="icon-book-open lead-5"></i> Enfermedad por coronavirus 2019 (COVID-19) en mujeres embarazadas: Un informe basado en 116 casos </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7177142/pdf/main.pdf">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Enfermedad_por_COVID-19_en_mujeres_embarazadas_Un%20informe_basado_en_116_casos.pdf">Resumen español </a> 
					<hr/>
					<h6><i class="icon-book-open lead-5"></i> Posibles resultados maternos y neonatales de infección por coronavirus 2019-nCoV en mujeres embarazadas </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.mdpi.com/1999-4915/12/2/194">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Posibles_result_materyneonatales_2019-nCoV_embarazadas_SARS_MERS_y_otras_infecciones.pdf">Resumen español  </a>
					<hr/>  

				</div>
				<div class="col-lg-6">

					<h6><i class="icon-book-open lead-5"></i> ISUOG Orientación provisional sobre la nueva infección por COVID-19 en el embarazo y el puerperio </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://obgyn.onlinelibrary.wiley.com/doi/epdf/10.1002/uog.22013">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/ISUOG_Orientaci%C3%B3n_provisional_sobre_coronavirus_2019_durante_el_embarazo_y_el_puerperio.pdf">Resumen español </a>
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> Características clínicas, resultados obstétricos y neonatales de pacientes embarazadas con COVID-19 en Wuhan, China </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.thelancet.com/action/showPdf?pii=S1473-3099%2820%2930176-6">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Caracter%C3%ADsticas_cl%C3%ADnicas,_resultados_obst%C3%A9tricos_y_neonatales_de_pacientes_embarazadas_con_COVID-19_en_Wuhan,_China.pdf">Resumen español </a>
					<hr/>                         


					<h6><i class="icon-book-open lead-5"></i> Wolters Kluwer  por medio de UpToDate continúa ampliando sus recursos de Eficacia Clínica COVID-19 y los ha puesto a disposición *sin cargo* para cualquier persona que busque la información y la orientación clínica más recientes basadas en evidencia. </h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.uptodate.com/contents/coronavirus-disease-2019-covid-19-and-pregnancy-questions-and-answers?utm_source=Newsletter&utm_medium=Email&utm_campaign=COVID_News_040820&mkt_tok=eyJpIjoiT0dJd09XWTJObVl5WmpRMSIsInQiOiJseGVjMEVVOFVlR1VxUFo1RVROTFVCZ3NXVUNnNkM5SWtBeHlSQkZMSUo4cHRtYXNpN2lFNFkzOEJnbmlTWEFnM3BubUtyMk44RnBRNE9UMzJNVUVOenhIczR4Q2FRY1lPOUZwbkN1Qjc0ODMxRjBnWXNES1wvSHZBT1B4ZFY1MEMifQ%3D%3D">Artículo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Preguntas_y_respuestas._UpToDate.pdf">Resumen español  </a>
					<hr/>                          


					<h6><i class="icon-book-open lead-5"></i> Embarazo e Infección por Coronavirus -COVID 19- Actualización II de la FIMMF</h6>  
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://a0632327-c779-4ae7-bb49-be396f151252.filesusr.com/ugd/5748c8_4a4b6b11469c428da617c337ec52d4bd.pdf">Resumen Español</a>
					<hr/>
					                              
					<h6><i class="icon-book-open lead-5"></i> Lineamiento prevención y mitigación de COVID-19 en el embarazo CNEGSR</h6>  
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/Lineamiento_prevencion_y_mitigacion_de_COVID-19_en_el_embarazo_CNEGSR.pdf">Resumen Español</a>
					<hr/>
					                              
					<h6><i class="icon-book-open lead-5"></i> COVID-19: su repercusión en la Ginecoobstetricia </h6> 
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="https://ginecologiayobstetricia.org.mx/article/covid-19-su-repercusion-en-la-ginecoobstetricia/">Resumen Español</a>
					<hr/>
					                               

					<h6><i class="icon-book-open lead-5"></i> Guía SARS-CoV-2 y Embarazo</h6> 
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="http://www.femecog.org.mx/docs/GUIA_SARS-CoV-2_y_EMBARAZO.pdf">Resumen Español</a>
					<hr/>
					                               

					<h6><i class="icon-book-open lead-5"></i> SOGC Recomendaciones: COVID 19 y Embaraz</h6>  
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="docs/COVID-19.pdf">Resumen Español</a>
					<hr/>
					                              
					<h6><i class="icon-book-open lead-5"></i> ACOG Evaluación y manejo ambulatorio para mujeres embarazadas con COVID-19 sospechado o confirmado</h6> 
					<a target="_blank" class="btn btn-xs btn-success btn-danger" href="docs/covid-19ACOG.pdf">Resumen Español</a>
					<hr/>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-lg-12 text-center pb-8">
        			<small class="small-1">F E M E C O G</small>
					<h3 class="text-danger">Coronavirus y otros trastornos en ginecología</h3>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-lg-12">
					<h6><i class="icon-book-open lead-5"></i> Influenza y obesidad: su extraña relación y las lecciones para la pandemia de COVID-19</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7130453/pdf/592_2020_Article_1522.pdf">Artículo en inglés PubMed</a>
					<a target="_blank" class="btn btn-xs btn-danger" href="http://www.femecog.org.mx/docs/Influenza_y_obesidad_su_extra%C3%B1a_relaci%C3%B3n_y_las_lecciones_para_la_pandemia_de_COVID-19.pdf">Resumen español</a>
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> Clasificación de las manifestaciones cutáneas de COVID-19: un estudio prospectivo de consenso a nivel nacional en España con 375 casos</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=PROSPECTIVE+NATIONWIDE+CONSENSUS+STUDY+IN+SPAIN+WITH+375+CASES">Artículo en inglés PubMed</a>
					<a target="_blank" class="btn btn-xs btn-info" href="http://www.femecog.org.mx/docs/bjd19163-sup-0001-supinfos1.pdf">PDF en inglés</a>
					<a target="_blank" class="btn btn-xs btn-danger" href="http://www.femecog.org.mx/docs/Clasificaci%C3%B3n_de_las_manifestaciones_cut%C3%A1neas_de_COVID-19.pdf">Resumen español </a>
					<hr/>

					<h6><i class="icon-book-open lead-5"></i> Orientación conjunta de RCOG, BSGE y BGCS para el tratamiento del sangrado uterino anormal en la pandemia de coronavirus en evolución (COVID-19)</h6>
					<a target="_blank" class="btn btn-xs btn-success" href="https://www.hysteroscopyaction.org.uk/wp-content/uploads/2020/03/Joint-RCOG-BSGE-BGCS-guidance-for-management-of-abnormal-uterine-bleeding-AUB-in-the-evolving-Coronavirus-COVID-19-pandemic.pdf">Artículo completo en inglés</a>
					<a target="_blank" class="btn btn-xs btn-danger" href="http://www.femecog.org.mx/docs/Orientaci%C3%B3n_conjunta_de_RCOG,_BSGE_y_BGCS.pdf">Resumen español </a>
					<hr/>
				</div>
			</div>    

{% endblock %}