{% extends 'home/layout.twig.html' %}

{% block title %}Expresidentes{% endblock %}

{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                Expresidentes 
            </h1>
            <p class="lead-1 mt-2 mb-3">"Por una formación profesional médica continua !"</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section bg-gray">
    	<div class="container">
            <div class="row gap-y">
                <div class="col-lg-12 text-center">
					<figure class="figure img-thumbnail bg-light">
						<img src="https://femecog.org.mx/images/expresidentes2018.jpg" class="figure-img img-fluid" alt="...">
						<figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</section>
    <section class="section">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/001.png">
                    <h6>Dr. Alfonso Álvarez Bravo</h6>
                    <small>Periodo: 1960-1963</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/002.png">
                    <h6>Dr. Luis Castelazo Ayala</h6>
                    <small>Periodo: 1963-1966</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/003.png">
                    <h6>Dr. J.T. González Gutierrez</h6>
                    <small>Periodo: 1966-1969</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/004.png">
                    <h6>Dr. Jorge Manuel Septién González</h6>
                    <small>Periodo: 1969-1972</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/005.png">
                    <h6>Dr. Víctor Espinosa De los Reyes</h6>
                    <small>Periodo: 1972-1975</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/006.png">
                    <h6>Dr. Juan Rodríguez Arguelles<h6>
                    <small>Periodo: 1975-1978</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/007.png">
                    <h6>Dr. Carlos McGregor</h6>
                    <small>Periodo: 1978-1981</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/008.png">
                    <h6>Dr. Luis Ricaud Rothiot</h6>
                    <small>Periodo: 1981-1984</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/009.png">
                    <h6>Dr Carlos Espinosa Flores</h6>
                    <small>Periodo: 1984-1987</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/010.png">
                    <h6>Dr. Samuel Karchmer Krivitzky</h6>
                    <small>Periodo: 1987-1990</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/011.png">
                    <h6>Dr. Efrain Vázquez Benitez</h6>
                    <small>Periodo: 1990-1993</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/012.png">
                    <h6>Dr. José Roberto Ahued Ahued</h6>
                    <small>Periodo: 1993-1995</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/013.png">
                    <h6>Dr. Carlos Fernández Del Castillo</h6>
                    <small>Periodo: 1995-1997</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/014.png">
                    <h6>Dr. José Antonio Sereno Colo</h6>
                    <small>Periodo: 1997-1999</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/015.png">
                    <h6>Dr. Jorge Delgado Urdapilleta</h6>
                    <small>Periodo: 1999-2001</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/016.png">
                    <h6>Dr. Francisco Jesús Puente Tovar</h6>
                    <small>Periodo: 2001-2003</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/017.png">
                    <h6>Dr. Javier E. Santos González</h6>
                    <small>Periodo: 2003-2005</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/018.png">
                    <h6>Dr. Jesús Leal del Rosal</h6>
                    <small>Periodo: 2005-2007</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/019.png">
                    <h6>Dr. René Bailon Uriza</h6>
                    <small>Periodo: 2007-2009</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/020.png">
                    <h6>Dr. Alberto Kably Ambre</h6>
                    <small>Periodo: 2009-2011</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/021.png">
                    <h6>Dr. José de Jesús Montoya Romero</h6>
                    <small>Periodo: 2011-2013</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/022.png">
                    <h6>Dr. Ernesto Castelazo Morales</h6>
                    <small>Periodo: 2013-2015</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/023.png">
                    <h6>Dr. Sergio Fajardo Dueñas</h6>
                    <small>Periodo: 2015-2017</small>
                </div>
                <div class="col-lg-3 pt-3 pb-6">
                    <img src="images/expresidentes/024.png">
                    <h6>Dr. Juan de Dios Maldonado Alvarado</h6>
                    <small>Periodo: 2017-2019</small>
                </div>
            </div>
        </div>
    </section>
{% endblock %}