{% extends 'home/layout.twig.html' %}

{% block title %}FEMECOG Invita{% endblock %}

{% block header %}

    <header class="header pt-11 pb-10">
        <div class="container">
            <div class="row align-items-center h-100">
                <div class="col-lg-6" data-aos="fade-in" data-aos-delay="100">
                    <h1 class="text-danger">
                        <small class="small-1">F E M E C O G</small><br />
                       	FEMECOG Invita
                    </h1>
                    <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis justo eget dictum facilisis.</p>
                </div>
                <div class="col-lg-6 ml-auto d-none d-lg-block" data-aos="fade-left" data-aos-delay="300">
                    <img src="images/femecog-historia.png" alt="FEMECOG" class="aos-init aos-animate">
                </div>
            </div>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section">
		<div class="container">
			<div class="row">
    			<div class="col-lg-12 text-center">
					<h2 class="text-danger">FEMECOG Invita</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet est arcu, vel fringilla nunc molestie id. Sed tempus, purus vitae molestie mattis, nisl ligula congue quam, et laoreet lectus eros ac felis. Proin bibendum nisl mauris, at commodo diam suscipit sed. Sed urna nisi, egestas non dapibus ac, posuere sed erat. Nunc tellus orci, mollis vestibulum quam sit amet, porttitor porttitor mauris. Donec consequat venenatis nibh, vel consequat ante cursus tincidunt. Nam eleifend enim eu est congue posuere. Nullam ultricies placerat ex nec luctus. Pellentesque viverra lacus ac neque ullamcorper, luctus ullamcorper purus porta. Nulla non vestibulum dui.
					</p>
					<hr/>
    			</div>
    		</div>
			<div class="row gap-y">
			    <div class="col-lg-6">
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Gestación gemelar. Un reto en su diagnóstico y tratamiento
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 11/septiembre/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/527061985029110">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Vitamina D y medicina de la mujer
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 04/septiembre/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/962084121315843">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>	
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Abordaje práctico de trastornos hemorrágicos en ginecoobstetricia
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 28/agosto/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/992947061504323">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Hacia una práctica personalizada en el tracto genital inferior
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 21/agosto/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/371947081173888">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> El ginecólogo y la mastología. Temas de interés común
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 14/agosto/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/331350312100672">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Lo que debes saber en nutrición y ultrasonido
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 07/agosto/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/246735800608601">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Anticoncepción en tiempos de la pandemia
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 31/julio/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/1240056129756700">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Avances en tecnología de reproducción asistida
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 24/julio/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/554619609308017">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Diálogo de expertos de la A a la Z en Histeroscopía
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 17/julio/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/301614328372973">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Papel de los inositoles en la salud y la enfermedad de la mujer
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 10/julio/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.youtube.com/watch?v=J01ntuQYFeU">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>

				</div>
				<div class="col-lg-6">
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Medicina de la reproducción y sexualidad
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 03/julio/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/810993639419852">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>

					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Menopausia: impacto sobre el metabolismo y el estado de ánimo
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 26/junio/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/406917917173527">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>

					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Enfermedades de la vulva
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 19/junio/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.youtube.com/watch?v=VDfxpGBmwys">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>

					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Avances en cirugía fetal
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 12/junio/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/325300135701287">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>

					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Vulvodinia parte 2/2
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 05/junio/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/938817086691426">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>

					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Vulvodinia parte 1/2
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 05/junio/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/992176951523990">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>
					
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Recuperación Mejorada después de Cirugía
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 29/mayo/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/148383970661744">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/> 

					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Diagnóstico prenatal
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 22/mayo/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/489424795507382">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/> 

					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Anticoncepción libre de estrógenos
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 15/mayo/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/3417443331690842">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/> 
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Viviendo con y tras el cáncer
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 08/mayo/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/475651333715403">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/> 
					<h6>
						<i class="fa fa-file-video-o" aria-hidden="true"></i> Atrofia vulvovaginal y deseo sexual
						<br/><small><i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 01/mayo/2021</small>
					</h6>
					<a target="_blank" class="btn btn-md btn-danger" href="https://www.facebook.com/FEMECOG/videos/172552771427946">
						<i class="fa fa-play"></i> Ver Video
					</a>
					<hr/>
				</div>
			</div>
    	</div>
    </section>

{% endblock %}