{% extends 'home/layout.twig.html' %}

{% block title %}Gineco-Tips{% endblock %}

{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <h1 class="text-danger">
                <small class="small-1">F E M E C O G</small><br />
                Gineco-Tips
            </h1>
            <p class="lead-1 mt-2 mb-3">Derechos de autor, octubre de 2014, Por La Federación Mexicana de Colegios de Obstetricia y Ginecología, AC (FEMECOG). Todos Los Derechos Reservados.</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section">
		<div class="container">
			<div class="row">
    			<div class="col-lg-12 text-center">
					<h2 class="text-danger">Gineco-tips</h2>
					<p>
						<strong>IMPORTANTE !</strong><br/>
						 Esta información es para pacientes y tiene un nivel de dificultad de lectura correspondiente al grado escolar de nivel medio. La Información descrita en este medio no indica un curso exclusivo de tratamiento o procedimiento que deba seguirse, y no debe interpretarse como excluyente de otros métodos o prácticas aceptables. Puede ser apropiado considerar adaptaciones según las necesidades específicas del paciente, los recursos y las limitaciones particulares de la institución o tipo de práctica.
					</p>
					<hr/>
    			</div>
    		</div>
    		<div class="row gap-y">
    			<div class="col-lg-4 text-center">	
					<iframe width="350" height="210" src="https://www.youtube.com/embed/Twc2FIjf7TI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    				<h6 class="text-danger">Nutrición en la mujer embarazada</h6>
    				<hr/>
    			</div>
    			<div class="col-lg-4 text-center">	
					<iframe width="350" height="210" src="https://www.youtube.com/embed/aZNM_KMQkL8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    				<h6 class="text-danger">Parto Humanizado</h6>
    				<hr/>
    			</div>
    			<div class="col-lg-4 text-center">	
					<iframe width="350" height="210" src="https://www.youtube.com/embed/C62Qz2v7ITw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    				<h6 class="text-danger">Zika</h6>
    				<hr/>
    			</div>
    		</div>
    		<div class="row gap-y">
    			<div class="col-lg-4 text-center">
					<iframe width="350" height="210" src="https://www.youtube.com/embed/j_a_wc8pj68?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    				<h6 class="text-danger">Cáncer de mama</h6>
    				<hr/>
    			</div>
    			<div class="col-lg-4 text-center">
					<iframe width="350" height="210" src="https://www.youtube.com/embed/OtlkqtbNzz0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    				<h6 class="text-danger">Cáncer Cervico Uterino</h6>
    				<hr/>
    			</div>
    			<div class="col-lg-4 text-center">
					<iframe width="350" height="210" src="https://www.youtube.com/embed/9c2s9Gp5fGg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>	
    				<h6 class="text-danger">La Mujer y el Envejecimiento</h6>
    				<hr/>
    			</div>
    		</div>
    		<div class="row gap-y">
    			<div class="col-lg-4 text-center">	
					<iframe width="350" height="210" src="https://www.youtube.com/embed/90YTXH4AdO8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    				<h6 class="text-danger">Obesidad y Sexualidad</h6>
    				<hr/>
    			</div>
    			<div class="col-lg-4 text-center">	
					<iframe width="350" height="210" src="https://www.youtube.com/embed/m3qnIFI6nDg?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    				<h6 class="text-danger fs-16">Obesidad en la Infacia y Adolescencia</h6>
    				<hr/>
    			</div>
    			<div class="col-lg-4 text-center">	
					<iframe width="350" height="210" src="https://www.youtube-nocookie.com/embed/twffrW6m1z4?rel=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
					<h6 class="text-danger">Obesidad y Embarazo</h6>
					<hr/>
    			</div>
    		</div>
    		<div class="row gap-y">
    			<div class="col-lg-4 text-center">	
					<iframe width="350" height="210" src="https://www.youtube.com/embed/dvEqidMJ92E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">Ruptura prematura de membranas</h6>
					<hr/>
    			</div>
    			<div class="col-lg-4 text-center">
    				
    			</div>
    			<div class="col-lg-4 text-center">
    				
    			</div>
    		</div>
    	</div>
    </section>

{% endblock %}