{% extends 'home/layout.twig.html' %}
{% block title %}Historia{% endblock %}
{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                Quiénes Somos
            </h1>
            <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper. Aliquam porttitor elit diam, et pharetra felis vestibulum ac. Sed pharetra volutpat vestibulum.</p>
        </div>
    </header> 

{% endblock %}
{% block page_contents %}
    <section class="section bg-gray">
    	<div class="container">
    		<div class="row align-items-center">
    			<header class="section-header">
    				<small>F E M E C O G</small>
		            <h2 class="text-danger">Historia</h2>
		            <hr>
    			</header>
    		</div>
            <div class="row gap-y text-justify">
                <div class="col-lg-6">
                	<p class="lead">El Maestro Dr. Dn. José Manuel Septién González (1917-2011) relata en su monumental obra Historia de la Ginecología y la Obstetricia en México lo siguiente:</p>
                	<p>
                		"... El 14 de octubre del mismo año [1960], en el seno de la IX Reunión Nacional de Ginecología y Obstetricia realizada en Monterrey, N.L., se constituyó formalmente la Federación Mexicana [de Asociaciones de Ginecología y Obstetricia]..."
                	</p>
                	<p>
                		Previamente, dice: “…Los ginecobstetras de varios estados de la República Mexicana, sintiendo la necesidad de agruparse para mejorar en los aspectos relacionados con la especialidad. Cuando se celebró la I Reunión Nacional de Ginecología y Obstetricia en junio de 1950, los representantes de varias Sociedades de Ginecología y Obstetricia decidieron fundar el Instituto de Reuniones Nacionales de Ginecología y Obstetricia, el cual quedó integrado definitivamente durante la V Reunión Nacional [en San Luis Potosí, en 1954] Una vez que la Federación Mexicana de Asociaciones de Ginecología y Obstetricia fue creada, este Instituto desapareció...".
                	</p>
                </div>
                <div class="col-lg-6">
                	<p>
                		Para la creación legal de la Federación Mexicana de Asociaciones de Ginecología y Obstetricia, en la VIII Reunión Nacional, celebrada en Mexicali, se designaron delegados que se reunieron en el Hospital Concepción Béistegui, de la Ciudad de México, sede de la Asociación Mexicana de Ginecología y Obstetricia, entre el 9 de abril y el 3 de septiembre de 1960, con objeto de discutir y aprobar sus Estatutos. El Acta Constitutiva de la Federación se firmó ante el Notario Público No. 22 de Monterrey, Lic. Agustín Basave Fernández del Valle, y quedó asentada con el número 460 en el Libro I, volumen IV, foja 250. En sesión extraordinaria celebrada en el mismo acto de la constitución de la Federación se eligió a su primer Comité Ejecutivo, con el siguiente resultado: Presidente Dr. Alfonso Álvarez Bravo Secretario Dr. Luis Castelazo Ayala Tesorero Dr. Alfredo López de Nava 1er. Vocal Dr. José G. Martínez 2°. Vocal Dr. J. Trinidad González Gutiérrez ; Posteriormente se agregó como Vocal al Dr. Enrique Pérez Roca. y el 22 de octubre de 2009 pasó a ser la Federación Mexicana de Colegios de Obstetricia y Ginecología, A.C.
                	</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
    	<div class="container">
    		<div class="row text-justify">
    			<div class="col-lg-4">
    				<h2 class="text-danger">Nuestra Misión</h2>
    				<hr/>
    				<p>
    					Integrar a las agrupaciones de médicos Gineco-Obstetras en una única federación incluyente, con representatividad nacional e internacional, que propicie la salud de la mujer a través de la educación, el fomento de la investigación y la vigilancia del ejercicio profesional.
    				</p>
    			</div>
    			<div class="col-lg-4">
    				<h2 class="text-danger">Nuestra Visión</h2>
    				<hr/>
    				<p>
    					Ser una institución líder, innovadora y ética a nivel nacional e internacional, que promueva la excelencia a través de los estándares más altos del ejercicio profesional contribuyendo a la salud femenina en base a la educación de calidad y del fomento de la investigación, constituyendo un soporte organizacional que favorezca la integración, el crecimiento y desarrollo de todos los Gineco-Obstetras del país
    				</p>
    			</div>
    			<div class="col-lg-4">
    				<h2 class="text-danger">Nuestros Valores</h2>
    				<hr/>
    				<ul class="list-unstyled">
    					<li><i class="ti-check text-success mr-2"></i> Unión</li>
    					<li><i class="ti-check text-success mr-2"></i> Transparencia</li>
    					<li><i class="ti-check text-success mr-2"></i> Representatividad</li>
    					<li><i class="ti-check text-success mr-2"></i> Profesionalismo</li>
    					<li><i class="ti-check text-success mr-2"></i> Excelencia en el servicio</li>
    					<li><i class="ti-check text-success mr-2"></i> Calidad</li>
    					<li><i class="ti-check text-success mr-2"></i> Trabajo colaborativo</li>
    					<li><i class="ti-check text-success mr-2"></i> Liderazgo</li>
    				</ul>
    			</div>
    		</div>
    	</div>
    </section>
    <section class="section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-12">
					<div class="gallery gallery-4-type4" data-provide="photoswipe">
						<a class="gallery-item" href="img/galeria/femecog-0000.jpg">
							<img src="img/galeria/femecog-0000.jpg" alt="...">
						</a>
						<div class="gallery-item-group">
							<a class="gallery-item" href="img/galeria/femecog-000.jpg">
								<img src="img/galeria/femecog-000.jpg" alt="...">
							</a>
							<a class="gallery-item" href="img/galeria/femecog-001.jpg">
								<img src="img/galeria/femecog-001.jpg" alt="...">
							</a>
							<a class="gallery-item" href="img/galeria/femecog-002.jpg">
								<img src="img/galeria/femecog-002.jpg" alt="...">
							</a>
						</div>
						<div class="gallery-item-group">
							<a class="gallery-item" href="img/galeria/femecog-004.jpg">
								<img src="img/galeria/femecog-004.jpg" alt="...">
							</a>
							<a class="gallery-item" href="img/galeria/femecog-005.jpg">
								<img src="img/galeria/femecog-005.jpg" alt="...">
							</a>
							<a class="gallery-item" href="img/galeria/femecog-007.jpg">
								<img src="img/galeria/femecog-007.jpg" alt="...">
							</a>
						</div>
						<a class="gallery-item" href="img/galeria/femecog-003.jpg">
							<img src="img/galeria/femecog-003.jpg" alt="...">
						</a>
					</div>
    			</div>
    		</div>
    	</div>
    </section>
{% endblock %}