{% extends 'home/layout.twig.html' %}
{% block title %}Bienvenida{% endblock %}
{% block header %}

    <header class="header headerFemecog">
                <div class="align-items-center">
                    <div data-provide="slider" data-arrows="true" data-dots="true" data-autoplay="true">
                        <div class="femecogSlider" style="background-image: url(img/femecog-slider-001.jpg);">
                            <div class="container">
                                <div class="row py-6">
                                    <div class="col-lg-6">
                                        <h1 class="text-danger">
                                            <small class="small-1">F E M E C O G</small><br />
                                            Federación Mexicana de Colegios de Obstetricia y Ginecología, A.C
                                        </h1>
                                        <p class="lead-1 mt-2 mb-3">
                                            El objetivo de la Federación Mexicana de Colegios de Obstetricia y Ginecología AC (FEMECOG), es integrar a todos los médicos gineco-obstetras afiliados del país, para promover que la práctica de la profesión se realice dentro de los términos que la ley señala y se mantenga siempre con el más alto nivel técnico, científico y ético.
                                        </p>
                                        <a class="btn btn-xl btn-round btn-danger px-7" href="{{ path('get.home.historia') }}">Conocer Más <i class="ti-angle-double-right"></i></a>
                                    </div>
                                    <div class="col-lg-6 ml-auto d-none d-lg-block" data-aos="fade-left" data-aos-delay="300">
                                        <img src="img/femecog-element-slider-001.png" alt="FEMECOG" class="aos-init aos-animate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="femecogSlider" style="background-image: url(img/femecog-slider-002.jpg);">
                            <div class="container">
                                <div class="row py-6">
                                    <div class="col-lg-6">
                                        <h1 class="text-danger">
                                            <small class="small-1">F E M E C O G</small><br />
                                            Federación Mexicana de Colegios de Obstetricia y Ginecología, A.C
                                        </h1>
                                        <p class="lead-1 mt-2 mb-3">
                                            El objetivo de la Federación Mexicana de Colegios de Obstetricia y Ginecología AC (FEMECOG), es integrar a todos los médicos gineco-obstetras afiliados del país, para promover que la práctica de la profesión se realice dentro de los términos que la ley señala y se mantenga siempre con el más alto nivel técnico, científico y ético.
                                        </p>
                                        <a class="btn btn-xl btn-round btn-danger px-7" href="{{ path('get.home.historia') }}">Conocer Más <i class="ti-angle-double-right"></i></a>
                                    </div>
                                    <div class="col-lg-6 ml-auto d-none d-lg-block" data-aos="fade-left" data-aos-delay="300">
                                        <img src="img/femecog-element-slider-001.png" alt="FEMECOG" class="aos-init aos-animate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="femecogSlider" style="background-image: url(img/femecog-slider-003.jpg);">
                            <div class="container">
                                <div class="row py-6">
                                    <div class="col-lg-6">
                                        <h1 class="text-danger">
                                            <small class="small-1">F E M E C O G</small><br />
                                            Federación Mexicana de Colegios de Obstetricia y Ginecología, A.C
                                        </h1>
                                        <p class="lead-1 mt-2 mb-3">
                                            El objetivo de la Federación Mexicana de Colegios de Obstetricia y Ginecología AC (FEMECOG), es integrar a todos los médicos gineco-obstetras afiliados del país, para promover que la práctica de la profesión se realice dentro de los términos que la ley señala y se mantenga siempre con el más alto nivel técnico, científico y ético.
                                        </p>
                                        <a class="btn btn-xl btn-round btn-danger px-7" href="{{ path('get.home.historia') }}">Conocer Más <i class="ti-angle-double-right"></i></a>
                                    </div>
                                    <div class="col-lg-6 ml-auto d-none d-lg-block" data-aos="fade-left" data-aos-delay="300">
                                        <img src="img/femecog-element-slider-001.png" alt="FEMECOG" class="aos-init aos-animate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </header> 

{% endblock %}
{% block page_contents %}
<section class="section">
        <div class="container">
            <div class="row gap-y text-center">
                <div class="col-lg-12 pt-5 pb-7">
                    <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
                    <h2 class="text-danger">Atención a la Comunidad</h2>
                </div>
                <div class="col-md-4">
                    <div class="card text-center shadow-1 hover-shadow-9">
                        <div class="card-img-top text-white bg-img h-200 d-flex align-items-center" style="background-image: url(images/thumb-001.jpg)" data-overlay="2">
                            <div class="position-relative w-100">
                                
                            </div>
                        </div>
                        <div class="card-body py-6">
                            <p><img src="images/femecog-simple.png" /></p>
                            <h5 class="fw-500 my-4">Sistema de Trabajos Libres</h5>
                            <p>
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam et efficitur urna.
                            </p>
                      <br>
                      <div><a class="btn btn-round btn-success w-200" href="https://femecog.trabajos.w4em.com/" target="_blank">Leer Más <i class="ti-angle-double-right"></i></a></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center shadow-1 hover-shadow-9">
                        <div class="card-img-top text-white bg-img h-200 d-flex align-items-center" style="background-image: url(images/thumb-002.jpg)" data-overlay="2">
                            <div class="position-relative w-100">
                                
                            </div>
                        </div>
                        <div class="card-body py-6">
                            <p><img src="images/femecog-simple.png" /></p>
                            <h5 class="fw-500 my-4">Constancias</h5>
                            <p>
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam et efficitur urna.
                            </p>
                            <br>
                            <div><a class="btn btn-round btn-success w-200" href="{{ path('get.home.constancias') }}" data-bind-href="pricing" data-monthly="#monthly" data-yearly="#yearly">Leer Más <i class="ti-angle-double-right"></i></a></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center shadow-1 hover-shadow-9">
                        <div class="card-img-top text-white bg-img h-200 d-flex align-items-center" style="background-image: url(images/thumb-003.jpg)" data-overlay="2">
                            <div class="position-relative w-100">
                                
                            </div>
                        </div>
                        <div class="card-body py-6">
                            <p><img src="images/femecog-simple.png" /></p>
                            <h5 class="fw-500 my-4">Revista GOM</h5>
                            <p>
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam et efficitur urna.
                            </p>
                            </p>
                            <br>
                            <div><a class="btn btn-round btn-success w-200" href="{{ path('intranet.revista') }}">Leer Más <i class="ti-angle-double-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-gray">
        <div class="container">
            <div class="row gap-y align-items-center">
                <div class="col-md-6 text-md-right">
                    <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
                    <h3 class="fw-500 text-danger">Consejo Directivo 2019-2021</h3>
                    <br>
                    <p>
                        El Gobierno de la FEMECOG residirá en el Consejo Directivo el cual será designado por la Asamblea de Delegados. El Consejo Directivo está constituido por: un Presidente, un Vicepresidente, dos Secretarios Propietarios, dos Secretarios Suplentes, un Tesorero y un Subtesorero, y son auxiliados por un Director Regional nombrado por cada una de las Regiones pertenecientes a la FEMECOG.
                    </p>
                    <a class="btn btn-xl btn-round btn-success" href="{{ path('get.home.consejo') }}">Conocer Más <i class="ti-angle-double-right"></i></a>
                </div>

                <div class="col-md-6 mx-auto">
                    <img class="rounded-md" src="https://femecog.org.mx/images/cd2019.JPG" alt="...">
                </div>

            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row gap-y align-items-center">
                <div class="col-md-6 text-center text-md-left order-md-2">
                    <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
                    <h3 class="fw-500 text-danger">UpToDate</h3>
                    <br>
                    <p>
                        UpToDate® y FEMECOG se unen para ofrecerle a los doctores del más alto nivel una oferta exclusiva en suscripciones personales a UpToDate. Gracias a nuestra nueva alianza y por ser miembro de FEMECOG, usted puede obtener hasta un 15% de descuento en una suscripción individual a UpToDate! Más de 1,900,000 médicos de todo el mundo confían en UpToDate para mejorar la calidad que ofrecen a sus pacientes. De hecho, UpToDate es el recurso de conocimientos clínicos más utilizado en el mundo y el único asociado a mejores resultados clínicos. Una suscripción personal a UpToDate le permitirá acceder a información clínica confiable y basada en la evidencia, que le ayudará a tomar las decisiones correctas de diagnóstico y tratamiento para sus pacientes.
                    </p>
                    <a class="btn btn-xl btn-round btn-success" target="_blank" href="https://learn.uptodate.com/FEMECOG/top-doctors-2019----final-3-esp--ar--co--mx--band-3--copy-4263LH-10637TT.html">Conocer Más <i class="ti-angle-double-right"></i></a>
                </div>

                <div class="col-md-6 mx-auto">
                    <img class="rounded-md" src="images/docApp.jpg" alt="...">
                </div>
            </div>
        </div>
    </section>
    <!-- POP UP actual-->
    <!-- <div class="modal fade" id="modal-background" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-autoshow="500">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-img" style="background-image: url(img/cong-virtual-bg.jpg)" data-overlay-light="7">

                <div class="modal-body text-center">
                    <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="img/cong-virtual-logo.png">
                    <br/><br/>
                    <p class="mb-2"><a class="btn btn-lg btn-round btn-success px-7" href="{{ path('get.home.congresos-nacionales') }}">Más Información</a></p>
                    <p class="small mb-0"><a href="#" data-dismiss="modal">No estoy interesado!</a></p>
                </div>

            </div>
        </div>
    </div> -->
{% endblock %}