{% extends 'home/layout.twig.html' %}

{% block title %}INFEMECOG{% endblock %}
{% block header %}
    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <h1 class="text-danger">
                <small class="small-1">F E M E C O G</small><br />
                INFEMECOG 
            </h1>
            <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper.</p>
        </div>
    </header> 
{% endblock %}

{% block page_contents %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Vacunación en el embarazo </h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Vacunaci%C3%B3n_en_el_embarazo.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> 
                                <a target="_blank" class="btn btn-xs btn-success" href="https://obgyn.onlinelibrary.wiley.com/doi/abs/10.1002/ijgo.13456"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Progesterona vaginal micronizada para prevenir el aborto espontáneo </h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Progesterona_vaginal_micronizada_para_prevenir_el%20aborto_espont%C3%A1neo.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> 
                                <a target="_blank" class="btn btn-xs btn-success" href="https://www.ajog.org/action/showPdf?pii=S0002-9378%2819%2932762-0"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Importancia de las imágenes en la planeación quirúrgica de pacientes con  endometriosis intestinal </h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Importancia_de_las_imagenes_en_la_planeacion_quirurgica_de_pacientes_con_endometriosis_intestinal%20.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a>   
                                <a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4762458/pdf/cmrh-10-2016-001.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Vigilancia por ultrasonido en el embarazo gemelar </h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Vigilancia_por_ultrasonido_en_el_embarazo_gemelar.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6243450/pdf/10.1177_1742271X18794013.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Resultados adversos del embarazo en pacientes con y sin síndrome respiratorio agudo severo por coronavirus 2 (SARS-CoV-2)</h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Resultados_adversos_del_embarazo.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a>  <a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7984633/pdf/ong-137-585.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Pérdida de peso intencional y riesgo de cáncer relacionado con la obesidad </h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/P%C3%A9rdida_de_peso_intencional_y_riesgo_de_c%C3%A1ncer.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6795232/pdf/pkz054.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>¿Tiene un papel la terapia hormonal para la menopausia en el tratamiento de la osteoporosis de la posmenopausia?  </h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Tiene%20un%20papel%20la%20terapia.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7661391/pdf/198_2020_Article_5497.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Exámenes de detección eventuales o rutinarios en el tercer trimestre para la restricción tardía del crecimiento fetal  </h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Examenes_de_detecci%C3%B3n_eventuales.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://obgyn.onlinelibrary.wiley.com/doi/epdf/10.1002/uog.15740"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Síndrome del ovario poliquístico en adolescentes según la guía internacional basada en evidencia  </h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Sindrome_del_ovario_poliquistico.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7092491/pdf/12916_2020_Article_1516.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Inmunidad humoral contra la espiga del SARS-CoV-2 en individuos convalecientes hasta ocho meses después del inicio de síntomas  </h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Inmunidad_humoral.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8097665/pdf/main.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Infecciones del tracto urinario: patogénesis microbiana, interacciones huésped-patógeno y nuevas estrategias de tratamiento  </h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Infecciones_del_tracto_urinario.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7942789/pdf/nihms-1616140.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Parto prematuro espontáneo: avance hacia el descubrimiento de la predisposición genética </h4> 
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Parto_prematuro_espontaneo.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5834399/pdf/nihms938824.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Consideraciones sobre el tratamiento práctico en el manejo del síndrome genitourinario de la menopausia </h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Consideraciones_sobre_tratamiento_practico_en_manejo_del_sindrome_genitourinario_de_la_menopausia.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://link.springer.com/content/pdf/10.1007/s40266-019-00700-w.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Embarazo en pacientes adolescentes con cardiopatía</h4> 
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://www.archivoscardiologia.com/files/acm_20_90_1_81-85.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español</a>
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Embarazo en pacientes adolescentes con cardiopatía</h4> 
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://www.archivoscardiologia.com/files/acm_20_90_1_81-85.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Protocolo de Iberoamerican Research Network y la FEMECOG para SARS-CoV2 y embarazo</h4>
                            <p><a target="_blank" class="btn btn-xs btn-success" href="https://osf.io/3rf8m/"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Drospirenona: una perspectiva latinoamericana para la anticoncepción oral libre de estrógenos</h4> 
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Drospirenona_una_perspectiva_latinoamericana_para_la_anticoncepcion_oral_libre_de_estrogenos.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://www.tandfonline.com/doi/abs/10.1080/13625187.2020.1837364?journalCode=iejc20"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>   
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Detección e intervención para prevenir caídas y fracturas en personas mayores</h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Detecci%C3%B3n_e_intervenci%C3%B3n_para_prevenir_ca%C3%ADdas_y_fracturas_en_personas_mayores.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://www.nejm.org/doi/full/10.1056/NEJMoa2001500"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Ética en el personal de salud ante la pandemia… ¿Estamos preparados?</h4> 
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/E%CC%81tica_en_el_personal_de_salud_ante_la_pandemia..._Estamos_preparados.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a>   
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Trato digno y respetuoso en la atención obstétrica Una cuestión de ética</h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Trato_digno_y_respetuoso_en_la_atenci%C3%B3n_obst%C3%A9trica.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Tratamiento quirúrgico de la hemorragia uterina anormal idiopática </h4> 
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Tratamiento_quir%C3%BArgico_de_la_hemorragia_uterina_anormal_idiop%C3%A1tica%20.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Diagnóstico prenatal de anomalías congénitas en la era de la cirugía fetal en México</h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://repository.uaeh.edu.mx/revistas/index.php/MJMR/article/view/6052/7309?fbclid=IwAR3MVMMrQkqHdRp2Aa70CVOs3tZK77Pd_rRVo3OThHOphWymarJOtOQQBOw"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>La heterogeneidad de las lesiones de endometriosis requiere la individualización del diagnóstico y tratamiento y un abordaje diferente de la investigación y la medicina basada en la evidencia</h4> 
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="http://www.femecog.org.mx/docs/La_heterogeneidad_de_las_lesiones_de_endomet...pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6822957/pdf/FVVinObGyn-11-57.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>  
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Reconocimiento a nuestras agrupaciones médicas</h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="http://www.femecog.org.mx/docs/Ginecol_7_CIERRE_(1).pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Predictores de una experiencia negativa de parto basados en una encuesta nacional de mujeres canadienses</h4> 
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Predictores_de_una_experiencia_negativa_de_parto_basados_en_una_encuesta_nacional_de_mujeres_canadienses.pdf?fbclid=IwAR35gkMEOYHL7xgwl6ltEDCAN62X_pRYHAO-s5Zo2SsTOi4IFDtEmy8f4-w"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a> <a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4870779/pdf/12884_2016_Article_903.pdf?fbclid=IwAR35gkMEOYHL7xgwl6ltEDCAN62X_pRYHAO-s5Zo2SsTOi4IFDtEmy8f4-w"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés</a>  
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Síntomas vasomotores y envejecimiento epigenético acelerado en la Iniciativa de Salud de la Mujer (WHI)</h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://academic.oup.com/jcem/article-abstract/105/4/1221/5742127?redirectedFrom=fulltext&fbclid=IwAR0BK0lgZnTOLxnXVXXZQ0jCB9OL_pC6plP_eMbuMkZd-R9bqFDaD1CUmSU">Resumen Ingles </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>4to.Comunicado sobre Ley General de Acceso a las Mujeres a una Vida Libre de Violencia</h4> 
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/CartaM%c3%b3nicaFern%c3%a1ndez.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen español </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Guías para la atención de las principales emergencias obstétricas</h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/EmergenciasObstetricas.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen Español </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Evidencia de mala perfusión uteroplacentaria en fetos con defectos cardíacos congénitos mayores</h4> 
                            <p>
                                <a target="_blank" class="btn btn-xs btn-success" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7001956/pdf/pone.0226741.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen inglés </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Lineamiento Estandarizado para la Vigilancia Epidemiológica y por Laboratorio de Enfermedad por 2019-NCOV</h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://femecog.org.mx/docs/Lineamiento2019nCoVDGEVigilanciayLaboratorio30ene2020.pdf"><i class="fa fa-eye" aria-hidden="true"></i> Resumen Español </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <hr class="my-7">
                    <div class="media">
                        <div class="mr-4"><i class="icon-book-open lead-5"></i></div>
                        <div class="media-body">
                            <h4>Conocimiento del síndrome de ovario poliquístico entre ginecoobstetras y endocrinólogos en el norte de Europa</h4>
                            <p>
                                <a target="_blank" class="btn btn-xs btn-danger" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6932801/"><i class="fa fa-eye" aria-hidden="true"></i> Resumen Español </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}