{% extends 'base.twig.html' %}

{% block companytitle %} FEMECOG | Federación Mexicana de Colegios de Obstetricia y Ginecología, A.C.{% endblock %}

{% block metas %}
    <meta name="description" content="El objetivo de la Federación Mexicana de Colegios de Obstetricia y Ginecología AC (FEMECOG), es integrar a todos los médicos gineco- obstetras afiliados del país, para promover que la práctica de la profesión se realice dentro de los términos que la ley señala y se mantenga siempre con el más alto nivel técnico, científico y ético.">
    <meta name="keywords" content="FEMECOG, Infemecog, Federación Mexicana de Colegios de Obstetricia y Ginecología A.C., Ginecología, ginecologos, gineco">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
{% endblock %}

{% block favicon %}img/femecog-simple.png{% endblock %}
{% block stylesheets %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('css/custom.css') }}">
{% endblock %}
{% block navbar %}
            <div class="navbar-left">
                <button class="navbar-toggler" type="button">&#9776;</button>
                <a class="navbar-brand" href="{{ path('get.home') }}">
                    <img class="logo-dark" src="{{ asset('images/femecog-logo-small.png') }}" alt="FEMECOG">
                    <img class="logo-light" src="{{ asset('images/femecog-logo-small.png') }}" alt="FEMECOG">
                </a>
            </div>

            <section class="navbar-mobile">
                <span class="navbar-divider d-mobile-none"></span>
                <ul class="nav nav-navbar">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('get.home') }}">Inicio </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nosotros <span class="arrow"></span></a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.historia') }}">Quiénes Somos </a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.regiones') }}">Regiones </a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.profesores') }}">Profesores </a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.comites') }}">Comites </a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.consejo') }}">Consejo Directivo </a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.expresidentes') }}">Expresidentes </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Congresos <span class="arrow"></span></a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.congresos-nacionales') }}">Congresos Nacionales</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.congresos-internacionales') }}">Congresos Internacionales</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.congresos-regionales') }}">Congresos Regionales</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.apoyo-congresos') }}">Apoyo para Congresos</a>
                            </li>
                            <li class="nav-divider"></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Federados <span class="arrow"></span></a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.beneficios') }}">Beneficios a Federados</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.federados') }}">Apoyo a Federados</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.boletines') }}">Boletines y Comunicados</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('intranet.revista') }}">Revista GOM</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.plataformas') }}">Nuestras Plataformas</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Comuinidad <span class="arrow"></span></a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.comunidad') }}">Atención a la Comuinidad</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.proyectos-virtuales') }}">Proyectos Virtuales</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.ginecotips') }}">Gineco-Tips</a>
                            </li>
                            <li class="nav-divider"></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">INFEMECOG <span class="arrow"></span></a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.infemecog') }}">Articulos INFEMECOG</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.covid19') }}">INFEMECOG COVID19</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('get.home.videos-covid19') }}">Videos COVID19</a>
                            </li>
                            <li class="nav-divider"></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('get.home.contacto') }}">Contacto</a></li>
                </ul>
            </section>
{% endblock %}
{% block main %}
<!-- Main Content -->
<main class="main-content">
    {% block page_contents %}
    {% endblock %}
</main>
{% endblock %}
{% block footer %}
<section class="section">
        <div class="container">
            <header class="section-header">
                <h2>Grupo Elite</h2>
                <hr>
            </header>
            <div class="align-items-center" data-provide="slider" data-autoplay="true" data-slides-to-show="4">
                <div class="text-center"><img src="{{ asset('img/elite/1.png') }}" alt="partner 1"></div>
                <div class="text-center"><img src="{{ asset('img/elite/2.png') }}" alt="partner 2"></div>
                <div class="text-center"><img src="{{ asset('img/elite/3.png') }}" alt="partner 3"></div>
                <div class="text-center"><img src="{{ asset('img/elite/4.png') }}" alt="partner 4"></div>
                <div class="text-center"><img src="{{ asset('img/elite/5.png') }}" alt="partner 5"></div>
            </div>
        </div>
    </section>
<footer class="footer">
    <div class="container">
        <div class="row gap-y align-items-center">

            <div class="col-6 col-lg-3">
                <a href="./"><img class="logo-dark" src="{{ asset('images/femecog-logo-small.png') }}" alt="FEMECOG"></a>
            </div>

            <div class="col-6 col-lg-3 text-right order-lg-last">
                <div class="social social-bg-brand">
                    <a class="social-facebook" target="_blank" href="https://www.facebook.com/FEMECOG/"><i class="fa fa-facebook"></i></a>
                    <a class="social-twitter" target="_blank" href="https://twitter.com/FemecogOficial"><i class="fa fa-twitter"></i></a>
                    <a class="social-instagram" target="_blank" href="https://www.instagram.com/femecogoficial/"><i class="fa fa-instagram"></i></a>
                    <a class="social-youtube" target="_blank" href="https://www.youtube.com/c/femecog1960"><i class="fa fa-youtube"></i></a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="nav nav-bold nav-uppercase nav-trim justify-content-lg-center">
                    <small>&copy;{{ "now"|date("Y") }} | Federación Mexicana de Colegios de Obstetricia y Ginecología, A.C</small>
                </div>
            </div>

        </div>
    </div>
</footer><!-- /.footer -->
{% endblock %}
{% block js %}
<script src="{{ asset('js/page.min.js') }}"></script>
<script src="{{ asset('js/script.js') }}"></script>
{% endblock %}