{% extends 'home/layout.twig.html' %}

{% block title %}Nuestras Plataformas{% endblock %}

{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <h1 class="text-danger">
                <small class="small-1">F E M E C O G</small><br />
                    Nuestras Plataformas
             </h1>
            <p class="lead-1 mt-2 mb-3">Editada por la Federación Mexicana de Colegios de Obstetricia y Ginecología Fundada por la Asociación Mexicana de Ginecología y Obstetricia en 1945</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section pb-0">
        <div class="container">
	        <div class="row gap-y text-center">
		        <div class="col-lg-6">
		        	<div class="card">
						<div class="card-body shadow-4">
							<h2 class="text-danger"><i class="fa fa-user-md" aria-hidden="true"></i> ECO-FEMECOG</h2>
							<h5 class="card-title">Default</h5>
							<p>
				        		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus et ante efficitur sagittis. Nulla et lorem mattis, dapibus tellus eget, ullamcorper dolor. Quisque porta tellus.
				        	</p>
							<a class="fs-12 fw-600 btn btn-xs btn-danger" href="https://eco.w4em.com/#!/" target="_blank"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Read more <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
	       		</div>
	       		<div class="col-lg-6">
	       			<div class="card">
						<div class="card-body shadow-4">
							<h2 class="text-danger"><i class="fa fa-user-circle-o" aria-hidden="true"></i> FEDERADOS</h2>
							<h5 class="card-title">Default</h5>
							<p>
			       				Morbi vestibulum sed mauris vel ultrices. Donec mattis euismod sem. Nullam at orci semper, pretium diam sed, tristique sapien. Praesent id urna aliquet, lobortis massa a, dignissim nulla.
			       			</p>
							<a class="fs-12 fw-600 btn btn-xs btn-danger" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Read more <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
	       		</div>
	       	</div>
	    </div>
      </section>
{% endblock %}