{% extends 'home/layout.twig.html' %}

{% block title %}Profesores{% endblock %}

{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                Profesores 
            </h1>
            <p class="lead-1 mt-2 mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper. Aliquam porttitor elit diam, et pharetra felis vestibulum ac. Sed pharetra volutpat vestibulum.
            </p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
<section class="section bg-gray">
    	<div class="container">
            <div class="row align-items-center pb-3">
    			<div class="col-md-6 col-xl-3">
                    <div class="card card-body shadow-3 text-center">
                        <h3 class="feature-icon text-danger"><i class="fa fa-user-md" aria-hidden="true"></i></h3>
                        <h5 class="mb-5 fw-500">REGIÓN I</h5>
                        <a class="fs-12 fw-600 btn btn-xs btn-danger" href="docs/profesoresI.pdf" target="_blank">Ver Archivo PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card card-body shadow-3 text-center">
                        <h3 class="feature-icon text-danger"><i class="fa fa-user-md" aria-hidden="true"></i></h3>
                        <h5 class="mb-5 fw-500">REGIÓN II</h5>
                        <a class="fs-12 fw-600 btn btn-xs btn-danger" href="docs/profesoresII.pdf" target="_blank">Ver Archivo PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card card-body shadow-3 text-center">
                        <h3 class="feature-icon text-danger"><i class="fa fa-user-md" aria-hidden="true"></i></h3>
                        <h5 class="mb-5 fw-500">REGIÓN III</h5>
                        <a class="fs-12 fw-600 btn btn-xs btn-danger" href="docs/profesoresIII.pdf" target="_blank">Ver Archivo PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card card-body shadow-3 text-center">
                        <h3 class="feature-icon text-danger"><i class="fa fa-user-md" aria-hidden="true"></i></h3>
                        <h5 class="mb-5 fw-500">REGIÓN IV</h5>
                        <a class="fs-12 fw-600 btn btn-xs btn-danger" href="docs/profesoresIV.pdf" target="_blank">Ver Archivo PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 col-xl-3">
                    <div class="card card-body shadow-3 text-center">
                        <h3 class="feature-icon text-danger"><i class="fa fa-user-md" aria-hidden="true"></i></h3>
                        <h5 class="mb-5 fw-500">REGIÓN V</h5>
                        <a class="fs-12 fw-600 btn btn-xs btn-danger" href="docs/profesoresV.pdf" target="_blank">Ver Archivo PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card card-body shadow-3 text-center">
                        <h3 class="feature-icon text-danger"><i class="fa fa-user-md" aria-hidden="true"></i></h3>
                        <h5 class="mb-5 fw-500">REGIÓN VI</h5>
                        <a class="fs-12 fw-600 btn btn-xs btn-danger" href="docs/profesoresVI.pdf" target="_blank">Ver Archivo PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card card-body shadow-3 text-center">
                        <h3 class="feature-icon text-danger"><i class="fa fa-user-md" aria-hidden="true"></i></h3>
                        <h5 class="mb-5 fw-500">REGIÓN VII</h5>
                        <a class="fs-12 fw-600 btn btn-xs btn-danger" href="docs/profesoresVII.pdf" target="_blank">Ver Archivo PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
    	</div>
    </section>
{% endblock %}