{% extends 'home/layout.twig.html' %}

{% block title %}Proyectos Virtuales{% endblock %}

{% block page_contents %}

<h1>Proyectos virtuales FEMECOG</h1>
<h2>Charlas de café</h2>
<h3>Día internacional de la mujer</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/FaeQh5UdwxM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>FEMECOG Invita</h3>

<h4>Diagnóstico prenatal
<br/><small>22/mayo/2021</small></h4>

<h4>Anticoncepción libre de estrógenos
<br/><small>15/mayo/2021</small></h4>

<h4>Viviendo con y tras el cáncer
<br/><small>08/mayo/2021</small></h4>

<h4>Atrofia vulvovaginal y deseo sexual
<br/><small>01/mayo/2021</small></h4>

<hr/>

<h4>COVID-19: aspectos éticos </h4> 
<p>(27 de mayo, 2021) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/1094543144375223">Enlace Facebook</a>


<h4>Infecciones en vías urinarias </h4>
<p>(20 de mayo, 2021) </p> 
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/857995714789965">Enlace Facebook</a>
 	

<h4>Herramientas predictoras en parto pretérmino </h4>
<p>(13 de mayo, 2021) </p> 
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/2894536527493661">Enlace Facebook</a>
 	

<h4>Endometriosis profunda. Cómo y hasta dónde tratarla </h4> 
<p>(06 de mayo, 2021) </p>
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/301577104708578">Enlace Facebook</a>	


<h4>Histeroscopia desde su inicio y actualidades </h4> 
<p>(29 de abril, 2021) </p>
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/1368524203512826">Enlace Facebook</a>	

<h4>Episiotomía y desgarros vaginales </h4> 
<p>(22 de abril, 2021) </p>
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/119433233485891">Enlace Facebook</a>
  	
<h4>Detección abordaje y tratamiento en cáncer ginecológico </h4> 
<p>(15 de abril, 2021)</p> 
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/4084854774911225">Enlace Facebook</a>
 	
<h4>COVID-19 y embarazo </h4> 
<p>(08 de abril, 2021) </p> 
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/283573043275884">Enlace Facebook</a>
 	
<h4>Actualidades en embarazo ectópico </h4> 
<p>(25 de marzo, 2021)</p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/1337960949910053">Enlace Facebook</a>

<h4>Histerectomía vaginal </h4> 
<p>(18 de marzo, 2021) </p> 
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/162919295675799">Enlace Facebook</a>
 	
<h4>Trato digno y respetuoso. Los retos en el ejercicio de la medicina actual </h4> 
<p>(11 de marzo, 2021) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/201181448449916">Enlace Facebook</a>
	
<h4>Retomando la operatoria obstétrica y fórceps </h4> 
<p>(04 de marzo, 2021) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/1148332242278509">Enlace Facebook</a>
		
<h4>Eliminación de Cáncer Cervicouterino ¿Cómo alcanzar la meta? </h4> 
<p>(25 de febrero, 2021) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/236421327894877">Enlace Facebook</a>
			
<h4>Abordaje del aborto y la pérdida gestacional </h4> 
<p>(18 de febrero, 2021) </p>  	
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/2884618758482383">Enlace Facebook</a>
	
<h4>Anemia en el embarazo - Lo que debe saber el obstetra </h4> 
<p>(11 de febrero, 2021) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/263264838512954">Enlace Facebook</a>
  		
<h4>Tratamiento quirúrgico del riesgo de parto pretérmino </h4> 
<p>(04 de febrero, 2021) </p> 
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/160236035708486">Enlace Facebook</a>
 			
<h4>Trastornos del espectro de placenta acreta </h3> 
<p>(28 de enero, 2021) </h4></a>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/325442412114788">Enlace Facebook</a>
			
<h4>Cáncer de cérvix en México - Lo que el ginecólogo debe saber </h4> 
<p>(21 de enero, 2021) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/1068725766935920">Enlace Facebook</a>
			
<h4>Origen fetal de las enfermedades del adulto </h4> 
<p>(14 de enero, 2021) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/732314511032635">Enlace Facebook</a>
		
<h4>Rotura prematura de membranas </h4> 
<p>(17 de diciembre, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/726968987950661">Enlace Facebook</a>
			
<h4>Anticoncepción </h4> 
<p>(10 de diciembre, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/410741653308566">Enlace Facebook</a>
			
<h4>Tópicos utilitarios en reproducción asistida</h4> 
<p>(03 de diciembre, 2020) </p>  	
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/679688229365284">Enlace Facebook</a>
		
<h4>Endometriosis</h4> 
<p>(26 de noviembre, 2020) </p>  	
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/877625472778313">Enlace Facebook</a>
		
<h4>Medicación en el embarazo</h4> 
<p>(19 de noviembre, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/408767190532172">Enlace Facebook</a>
			
<h4>Una evaluación sobre la prevención de la enfermedad RH</h4> 
<p>(14 de noviembre, 2020) </p>  
<a target="_blank" class="" href="https://vimeo.com/479343827">Enlace Facebook</a>
			

<h4>Ultrasonido obstétrico. Estrategia actual para mejorar el resultado perinatal</h4> 
<p>(12 de noviembre, 2020) </p> 
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/374304780494625">Enlace Facebook</a>
 

<h4>COVID-19 y embarazo </h4> 
<p>(05 de noviembre, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/370169314410075">Enlace Facebook</a>

			
<h4>Conmemoración del Día Mundial de la Menopausia</h4> 
<p>(29 de octubre, 2020) </p> 
<a target="_blank" class="" href="https://www.youtube.com/watch?v=sOQLaMSd6zY&t=6356s">Enlace Youtube</a>


<h4>Retos actuales en el manejo de la vejiga hiperactiva</h4> 
<p>(22 de octubre, 2020) </p>  		
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/339381863829473">Enlace Facebook</a>

	
<h4>Conmemoración del Día Mundial de la Osteoporosis / Diagnóstico oportuno y tratamiento óptimo </h4> 
<p>(20 de octubre, 2020) </p>  
<a target="_blank" class="" href="https://www.youtube.com/watch?v=l-etFks38wE">Enlace Youtube</a>


<h4>Embarazo gemelar</h4> 
<p>(15 de octubre, 2020)</p>  	
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/780620862793643">Enlace Facebook</a>


<h4>Taller de lectura masto-sonográfica  </h4> 
<p>(08 de octubre, 2020) </p> 
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/353144159260364">Enlace Facebook</a>
 

<h4>Impacto perinatal del COVID en la paciente con obesidad  </h4> 
<p>(01 de octubre, 2020) </p> 
<a target="_blank" class="" href="https://www.youtube.com/watch?v=b4Ut9Q08L5M">Enlace Youtube</a>


<h4>Modelos predictivos de preeclampsia durante el primer trimestre de embarazo  </h4> 
<p>(24 de septiembre, 2020) </p> 
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/383543319477084">Enlace Facebook</a>


<h4>Sarcopenia una amenaza para el envejecimiento saludable  </h4> 
<p>(17 de septiembre, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/2577681269116256">Enlace Facebook</a>


<h4>"Top ten"  de la patología mamaria</h4> 
<p>(10 de septiembre, 2020) </p> 
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/388726582119507">Enlace Facebook</a>
 

<h4>Sangrado uterino anormal</h4> 
<p>(03 de septiembre, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/318384346137746">Enlace Facebook</a>


<h4>La depresión en la mujer</h4> 
<p>(27 de agosto, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/750191225813466">Enlace Facebook</a>


<h4>Testosterona en climaterio</h4> 
<p>(20 de agosto, 2020) </p>
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/409329626705494">Enlace Facebook</a>


<h4>Estrategias en la prevención de parto pretérmino  </h4> 
<p>(13 de agosto, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/296582234934302">Enlace Facebook</a>


<h4>Actualidades en Histeroscopía  </h4> 
<p>(06 de agosto, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/302100734342150/">Enlace Facebook</a>


<h4>Insuficiencia Venosa y trombosis  </h4> 
<p>(30 de julio, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/628815931384179/">Enlace Facebook</a>
 			

<h4>Aspectos Perinatales de la muerte fetal, causas y prevención </h4> 
<p>(23 de julio, 2020) </p>  
<a target="_blank" class="" href="https://web.facebook.com/FEMECOG/videos/326609048727342/">Enlace Facebook</a>


<h4>SGU Frecuentes en la menopausia </h4> 
<p>(09 de julio, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/watch/live/?v=271306327305067&ref=watch_permalink">Enlace Facebook</a>


<h4>La Hemorragia Obstétrica una historia perenne de muerte</h4> 
<p>(02 de julio, 2020) </p>  
<a target="_blank" class="" href="https://www.youtube.com/watch?v=0fZXnFW_218&t=131s">Enlace Youtube</a>


<h4>Complicaciones Cardiometabólicas del SOP</h4> 
<p>(25 de junio, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/649109425947533/">Enlace Facebook</a>
	

<h4>RCIU a través de la historia</h4> 
<p>(18 de junio, 2020) </p>
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/191298522233613/">Enlace Facebook</a>
  			  		

<h4>Cirugía en Control de Daños en Obstetricia</h4> 
<p>(16 de junio, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/1103113840059362/">Enlace Facebook</a>


<h4>Vitamina D puesta al día</h4> 
<p>(11 de junio, 2020) </p>  
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/181766329940203/">Enlace Facebook</a>
 

<h4>Repercusiones del SARCOV-2</h4> 
<p>(04 de junio, 2020) </p> 
<a target="_blank" class="" href="https://www.youtube.com/watch?v=4_zv6o5ZdO0">Enlace Youtube</a>
 

<h4>Predicción y Manejo de la Diabetes Gestacional en el 2020</h4> 
<p>(28 de mayo, 2020) </p>     
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/256462572363178/">Enlace Facebook</a>
 

<h4>Administración del Consultorio como Microsistema</h4> 
<p>(14 de mayo, 2020) </p> 
<a target="_blank" class="" href="https://www.youtube.com/watch?v=c8QOn85SQwA&t=2692s">Enlace Youtube</a>
 

<h4>Responsabilida legal del Ginecoobstetra en la pandemia</h4> 
<p>(07 de mayo, 2020) </p> 
<a target="_blank" class="" href="https://www.facebook.com/FEMECOG/videos/236756217553682/">Enlace Facebook</a>
 

{% endblock %}