{% extends 'home/layout.twig.html' %}

{% block title %} Webinars | Proyectos virtuales FEMECOG{% endblock %}

{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                Proyectos Virtuales FEMECOG</small>
            </h1>
            <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
<section class="section">
        <div class="container">

          <div class="row gap-y align-items-center py-7">
            <div class="col-md-6 text-center">
              <img src="images/webinars.jpg" alt="...">
            </div>

            <div class="col-md-5 ml-auto text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">01</p>
              <h3 class="text-danger">Webinars FEMECOG</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula, nunc id pretium mollis, nunc nunc pellentesque ex, ut sagittis orci ante non enim. Phasellus nulla tortor, tempus pellentesque sodales nec, dictum sed nisl. Suspendisse ac vestibulum lorem. Sed vitae massa ante. Morbi lobortis lobortis mi, vel blandit ligula tincidunt nec. Praesent auctor tortor vitae diam posuere, id congue velit blandit. Nullam malesuada finibus felis quis rhoncus. </p>
              <a href="{{ path('get.home.webinars-2021') }}" class="btn btn-sm btn-success"><i class="fa fa-info-circle" aria-hidden="true"></i> Ver Archivos 2021</a> <a href="{{ path('get.home.webinars-2020') }}" class="btn btn-sm btn-danger"><i class="fa fa-info-circle" aria-hidden="true"></i> Ver Archivos 2020</a>
            </div>
          </div>


          <div class="row gap-y align-items-center py-7">
            <div class="col-md-5 mr-auto text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">02</p>
              <h3 class="text-danger">Videoseries FEMECOG</h3>
              <p>Aliquam laoreet tortor pulvinar maximus rhoncus. Aenean a ultricies sapien. Morbi euismod, libero in bibendum rhoncus, quam tortor venenatis mi, ac dignissim neque massa consequat mauris. Etiam blandit ex et purus laoreet aliquet. Cras cursus, tellus sit amet consequat rhoncus, eros purus volutpat purus, ut suscipit purus est ut diam.</p>
              <a href="{{ path('get.home.videoseries') }}" class="btn btn-sm btn-danger"><i class="fa fa-info-circle" aria-hidden="true"></i> Ver Más Info</a>
            </div>

            <div class="col-md-6 text-center order-first order-md-last">
              <img src="images/videoseries.jpg" alt="...">
            </div>
          </div>


          <div class="row gap-y align-items-center py-7">
            <div class="col-md-6 text-center">
              <img src="images/cafe.jpg" alt="...">
            </div>

            <div class="col-md-5 ml-auto text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">03</p>
              <h3 class="text-danger">Charlas de Café</h3>
              <p>In blandit quam sed massa pretium porta. Integer at molestie orci. Donec ultricies arcu augue, at blandit urna hendrerit id. Vestibulum nec scelerisque mauris. Sed laoreet velit erat, ac ultrices quam facilisis id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas vehicula elit vel vulputate lacinia.</p>
              <a href="{{ path('get.home.charlas_de_cafe')}}" class="btn btn-sm btn-danger"><i class="fa fa-info-circle" aria-hidden="true"></i> Ver Más Info</a>
            </div>
          </div>


          <div class="row gap-y align-items-center py-7">
            <div class="col-md-5 text-center text-md-left">
              <p class="lead-9 fw-900 lh-1 opacity-10">04</p>
              <h3 class="text-danger">FEMECOG Invita</h3>
              <p>Quisque convallis lectus lacus, sed elementum lacus consectetur id. Vivamus mollis eget leo sed elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam nec pretium ex. Phasellus velit augue, fermentum sit amet sollicitudin tristique, finibus et ex..</p>
              <a href="{{ path('get.home.femecog_invita')}}" class="btn btn-sm btn-danger"><i class="fa fa-info-circle" aria-hidden="true"></i> Ver Más Info</a>
            </div>

            <div class="col-md-6 ml-auto text-center order-first order-md-last">
              <img src="images/invita.jpg" alt="...">
            </div>
          </div>


        </div>
      </section>
{% endblock %}