{% extends 'home/layout.twig.html' %}

{% block title %}Regiones{% endblock %}
{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                Regiones 
            </h1>
            <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper. Aliquam porttitor elit diam, et pharetra felis vestibulum ac. Sed pharetra volutpat vestibulum.</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
<section class="section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-12 pb-10 text-center">
    				<h2 class="text-danger">Mapa Regional FEMECOG</h2>
    				<img src="images/regiones.jpg">
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-lg-6 p-2 text-justify">
    				<h3><span class="badge badge-dot badge-region1"></span> REGIÓN I</h3>
    				<small class="text-danger text-uppercase"><i class="fa fa-map-marker" aria-hidden="true"></i> Ciudad de Mexico</small>
					<p><strong>Dr. Ranferi Gaona Arreola</strong> </p>
					<ul class="list-unstyled regiones">
						<li><i class="ti-check text-danger"></i> 
							Colegio Mexicano de Especialistas en Ginecología y Obstetricia, A.C. | 
							<small><a href="#modal-small-000" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
					</ul>
					<hr />
				</div>
				<div class="col-lg-6 p-2 text-justify">
					<h3><span class="badge badge-dot badge-region2"></span> REGIÓN II</h3>
					<small class="text-danger text-uppercase"><i class="fa fa-map-marker" aria-hidden="true"></i> Baja California, Baja California Sur, Sonora</small>
					<p><strong>Dr. Oscar Gustavo Ornelas Gutiérrez </strong></p>
					<ul class="list-unstyled regiones">
						<li><i class="ti-check text-danger"></i> 
							Asociación de Ginecología y Obstetricia de Tijuana, BC, AC | 
							<small><a href="#modal-small-001" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li><i class="ti-check text-danger"></i> 
							Colegio de Ginecobstetras de Guaymas, A.C. | 
							<small><a href="#modal-small-002" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li><i class="ti-check text-danger"></i> 
							Colegio de Ginecología y Obst. de Ciudad Obregón, A. C. | 
							<small><a href="#modal-small-003" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li><i class="ti-check text-danger"></i> 
							Colegio de Ginecología y Obst. de Ensenada, A. C. | 
							<small><a href="#modal-small-004" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li><i class="ti-check text-danger"></i> 
							Colegio de Ginecología y Obst. de Mexicali, A. C. | 
							<small><a href="#modal-small-005" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li><i class="ti-check text-danger"></i> 
							Colegio de Ginecología y Obst. de S. L. Rio C. Sonora, A. C. | 
							<small><a href="#modal-small-006" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li><i class="ti-check text-danger"></i> 
							Colegio de Ginecología y Obst. del Norte de Sonora, A. C. | 
							<small><a href="#modal-small-007" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li><i class="ti-check text-danger"></i> 
							Colegio de Ginecólogos y Obstetras de Hermosillo, A. C. | 
							<small><a href="#modal-small-008" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li><i class="ti-check text-danger"></i> 
							Colegio Sudcaliforniano de Ginecología y Obst., A. C. | 
							<small><a href="#modal-small-009" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
					</ul>
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 p-2 text-justify">
					<h3><span class="badge badge-dot badge-region3"></span> REGIÓN III</h3>
					<small class="text-danger text-uppercase"><i class="fa fa-map-marker" aria-hidden="true"></i> Chihuahua, Durango, Sinaloa</small>
					<p><strong>Dr. Cesar Ramón Aguilar Torres</strong></p>
					<ul class="list-unstyled regiones">
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Cd. Juárez, A. C. | 
							<small><a href="#modal-small-010" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Asociación de Ginecología y Obst. de Delicias, A. C. | 
							<small><a href="#modal-small-011" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Chihuahua, A.C. | 
							<small><a href="#modal-small-012" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Durango, A. C. | 
							<small><a href="#modal-small-013" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Los Mochis, A. C. | 
							<small><a href="#modal-small-014" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Mazatlán, A. C. | 
							<small><a href="#modal-small-015" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Parral, Chihuahua, A.C. | 
							<small><a href="#modal-small-016" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Gineco-Obstetras Guasave-Guamuchil, A. C. | 
							<small><a href="#modal-small-017" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio Sinaloense de Ginecología y Obstetricia, A. C. | 
							<small><a href="#modal-small-018" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Sociedad Cuauhtemense de Ginecología, A. C. | 
							<small><a href="#modal-small-019" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
					</ul>
					<hr />
				</div>
				<div class="col-lg-6 p-2 text-justify">
					<h3><span class="badge badge-dot badge-region4"></span> REGIÓN IV</h3>
					<small class="text-danger text-uppercase"><i class="fa fa-map-marker" aria-hidden="true"></i> Coahuila, Nuevo León, San Luis Potosi, Tamaulipas, Zacatecas</small>
					<p><strong>Dr. Fernando O´farrill Santoscoy</strong></p>
					<ul class="list-unstyled regiones">
						<li>
							<i class="ti-check text-danger"></i> Asociación de Ginecología y Obstetricia de Matehuala, A. C. | 
							<small><a href="#modal-small-020" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Asociación de Ginecología y Obstetricia de Piedras Negras, A. C. | 
							<small><a href="#modal-small-021" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Cd. Valles S.L.P. y Zona Huasteca, A. C. | 
							<small><a href="#modal-small-022" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de La Laguna, A.C. | 
							<small><a href="#modal-small-023" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Matamoros Tam., A. C. | 
							<small><a href="#modal-small-024" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Monclova, A. C. | 
							<small><a href="#modal-small-025" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Monterrey, A.C. | 
							<small><a href="#modal-small-026" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Nuevo Laredo, A. C.V | 
							<small><a href="#modal-small-027" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Reynosa, A. C. | 
							<small><a href="#modal-small-028" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Ríoverde, S.L.P., A. C. | 
							<small><a href="#modal-small-029" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Saltillo, A. C. | 
							<small><a href="#modal-small-030" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de San Luis Potosí, S.C. | 
							<small><a href="#modal-small-031" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Zacatecas, A. C. | 
							<small><a href="#modal-small-032" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecoobstetras de la Zona Sur de Tamaulipas, A.C. | 
							<small><a href="#modal-small-033" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio Victorense de Ginecología y Obstetricia, A.C. | 
							<small><a href="#modal-small-034" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
					</ul>
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 p-2 text-justify">
					<h3><span class="badge badge-dot badge-region5"></span> REGIÓN V</h3>
					<small class="text-danger text-uppercase"><i class="fa fa-map-marker" aria-hidden="true"></i> Aguascalientes, Colima, Guanajuato, Jalisco, Michoacán, Nayarit</small>
					<p><strong>Dr. Saul Osvaldo Ruiz Torres</strong></p>
					<ul class="list-unstyled regiones">
						<li>
							<i class="ti-check text-danger"></i> Asociación de Ginecología y Obstetricia de la Piedad, A.C. | 
							<small><a href="#modal-small-035" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecólogos y Obstetras de Michoacán, A. C. | 
							<small><a href="#modal-small-036" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio Colimense de Ginecología y Obstetricia, A.C. | 
							<small><a href="#modal-small-037" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Especialistas en Ginecología y Obstetricia de la Costa de Jalisco, A. C. | 
							<small><a href="#modal-small-038" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Acámbaro Gto., A.C. | 
							<small><a href="#modal-small-039" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Aguascalientes, A. C. | 
							<small><a href="#modal-small-040" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Celaya, Gto., A. C. | 
							<small><a href="#modal-small-041" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de León, A. C. | 
							<small><a href="#modal-small-042" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de los Altos de Jalisco, A.C. | 
							<small><a href="#modal-small-043" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Nayarit, A. C. | 
							<small><a href="#modal-small-044" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Zamora, A. C. | 
							<small><a href="#modal-small-045" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia del Sur de Jalisco, A. C. | 
							<small><a href="#modal-small-046" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Gineco-Obstetras de Uruapan, A. C. | 
							<small><a href="#modal-small-047" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Médicos Gineco-Obstetras del Estado de Jalisco, A. C. | 
							<small><a href="#modal-small-048" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Obstetricia y Ginecología de Salamanca, A. C. | 
							<small><a href="#modal-small-049" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio Irapuatense de Ginecología y Obstetricia, A. C. | 
							<small><a href="#modal-small-050" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
					</ul>
					<hr />
				</div>
				<div class="col-lg-6 p-2 text-justify">
					<h3><span class="badge badge-dot badge-region6"></span> REGIÓN VI</h3>
					<small class="text-danger text-uppercase"><i class="fa fa-map-marker" aria-hidden="true"></i> Estado de México, Guerrero, Hidalgo, Querétaro, Morelos, Puebla, Tlaxcala, Veracruz</small>
					<p><strong>Dr. Carlos Arturo Rebolledo Fernández</strong></p>
					<ul class="list-unstyled regiones">
						<li>
							<i class="ti-check text-danger"></i> Asociación de Ginecología y Obst. de Córdoba y Orizaba, A. C. | 
							<small><a href="#modal-small-051" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio Pozarricense de Ginecología y Obstetricia, A. C. | 
							<small><a href="#modal-small-052" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Médicos Especialistas en Ginecología y Obstetricia de Querétaro,  | A.C.
							<small><a href="#modal-small-053" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecólogos y Obstetras de Tuxpam, Ver, A.C. | 
							<small><a href="#modal-small-054" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecólogos de la Región Minatitlán Veracruz, A. C. | 
							<small><a href="#modal-small-055" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Chilpancingo, Gro., A. C. | 
							<small><a href="#modal-small-056" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Morelos, A. C. | 
							<small><a href="#modal-small-057" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia del Estado de Tlaxcala, A. C. | 
							<small><a href="#modal-small-058" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecólogos y Obstetras del Estado de Puebla, A. C. | 
							<small><a href="#modal-small-059" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio Gineco-Obstétrico de Tehuacán, A. C. | 
							<small><a href="#modal-small-060" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio Guerrerense de Gineco-Obstetras, A.C. | 
							<small><a href="#modal-small-061" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio Hidalguense de Especialistas en Ginecología y Obst., A. C. | 
							<small><a href="#modal-small-062" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio Mexiquense de Ginecología y Obstetricia, A. C. | 
							<small><a href="#modal-small-063" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio Veracruzano de Ginecología y Obstetricia, A. C. | 
							<small><a href="#modal-small-064" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio Xalapeño de Ginecología y Obstetricia, A.C. | 
							<small><a href="#modal-small-065" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>					
						</li>
					</ul>
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 p-2 text-justify">
					<h3><span class="badge badge-dot badge-region7"></span> REGIÓN VII</h3>
					<small class="text-danger text-uppercase"><i class="fa fa-map-marker" aria-hidden="true"></i> Campeche, Chiapas, Oaxaca, Quintana Roo, Tabasco, Yucatán</small>
					<p><strong>Dr. José Luis Ayón Lizárraga</strong></p>
					<ul class="list-unstyled regiones">
						<li>
							<i class="ti-check text-danger"></i> Asociación de Ginecología y Obstetricia de Tuxtla Gutiérrez, A. C.  | 
							<small><a href="#modal-small-066" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>	
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Campeche, A. C. | 
							<small><a href="#modal-small-076" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>	
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obst. de la Cuenca del Papaloapan, A. C. | 
							<small><a href="#modal-small-068" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>	
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia de Yucatán, A. C. | 
							<small><a href="#modal-small-069" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>	
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecología y Obstetricia del Estado de Tabasco, A. C. | 
							<small><a href="#modal-small-070" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>	
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Ginecólogos y Obstetras de Cd. del Carmen, Cpe, A.C. | 
							<small><a href="#modal-small-071" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>	
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Obstetricia y Ginecología de Quintana Roo, A. C. | 
							<small><a href="#modal-small-072" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>	
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio Oaxaqueño de Ginecología y Obstetricia, A.C. | 
							<small><a href="#modal-small-073" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>	
						</li>
						<li>
							<i class="ti-check text-danger"></i> Colegio de Médicos Especialistas en Obstetricia y Ginecología de Coatzacoalcos, A.C.  | 
							<small><a href="#modal-small-074" data-toggle="modal">Más Info <i class="fa fa-caret-right ml-2"></i></a></small>	
						</li>
					</ul>
					<hr />
    			</div>
    		</div>
    	</div>
    </section>
    {% include 'home/ubicaciones.twig.html' %}
{% endblock %}