

	<!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Modales - Ubicacaiones
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
	<div class="modal fade" id="modal-small-000" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Mexicano de Especialistas en Ginecología y Obstetricia, A.C.</h6>
					<small>
						Montecito 38 Piso 29 Oficina 21 Col. Nápoles Alc. Benito Juárez CDMX<br/>
						C.P. 08900 Tel. 9000-3160 al 60<br/>
						E-mail: informacion@comego.org.mx<br/>
						Presidente: Dr. Ranferi Gaona Arreola
					</small>
				</div>
			</div>
		</div>
	</div>
	<!-- REGION II -->
	<div class="modal fade" id="modal-small-001" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Asociación de Ginecología y Obstetricia de Tijuana, A. C.</h6>
					<small>
						José Gorostiza No. 1169<br/>
						Zona Urbana Río Tijuana, "Tijuana, B.C."<br/>
						col.01664-973-2233 Cons.634-0248<br/>
						E-mail: asociacionginecotij13@hotmail.com<br/>
						Presidente: Dra. Elida Silvana Servín Zenteno
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-002" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecobstetras de Guaymas, A.C.</h6>
					<small>
						Alfonso Iberri y calle 23 # 111 int 2 (pasaje),<br/>
						Col. Centro, "Guaymas, Son."<br/>
						01622-222-3960<br/>
						E-mail: aguilardelacruz3@hotmail.com<br/>
						Presidente: Dr. Luis Alfonso Aguilar de la Cruz
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-003" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Ciudad Obregón, A. C.</h6>
					<small>
						No Reelección 311 Poniente, entre Tabasco y Tamaulipas)<br/>
						Col. Centro, "Cd. Obregón, Son."<br/>
						01644-415-2346<br/>
						E-mail: drlaurrabaquio@hotmail.com<br/>
						Presidente: Dr. Israel Hernández Laurrabaquio
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-004" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Ensenada, A. C.</h6>
					<small>
						blvd. Bucaneros y Av. Diamante s/n<br/>
						Col. Playa Ensenada, "Ensenada, B.C."<br/>
						01686-552-6319<br/>
						E-mail: amelia.camacho@me.com<br/>
						Presidente: Dra. Amelia Camacho Niebla
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-005" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Mexicali, A. C.</h6>
					<small>
						Av. Madero 714-4<br/>
						Col. Zona Centro, "Mexicali, B.C."<br/>
						01686-552-6319<br/>
						E-mail: pupasoledad@gmail.com<br/>
						Presidente: Dra. María Esther Lattanzi Angulo
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-006" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de San Luis R. C. Son., A. C.</h6>
					<small>
						5 de Mayo 791-2 B<br/>
						Col. Comercial, "San Luis Río Colorado, Son."<br/>
						01653-536-1381<br/>
						E-mail: gineyobst6@gmail.com<br/>
						Presidente: Dr. Homero Flores Resendez
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-007" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia del Norte de Sonora, A. C.</h6>
					<small>
						San Matrin 850 local 4Esq. Con 5 de Febrero, Col. Feudo Legal, Nogales, Son.<br/>
						01631-313-5822<br/>
						E-mail: cavymed@yahoo.com.mx.com<br/>
						Presidente: Dra. Yolanda Castellanos Villa<br/>
						Secretario: Dra. Cinthia Clarisa Castro Castro<br/>
						Tesorero: Dra. Juanita Castañeda Velázquez
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-008" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecólogos y Obstetras de Hermosillo, A. C.</h6>
					<small>
						"Blvd. Morelos 340 int 210-C," Col. Bachoco<br/>
						"Hermosillo, Sonora"<br/>
						01662-109-0520<br/>
						E-mail: gerardovela@gmail.com<br/>
						Presidente: Dr. Gerardo Vela Antillón<br/>
						Secretario: Dr. Saúl Antonio Madrigal Sánchez<br/>
						Tesorero: Dr. Germán de la Maza Krzeptowsky
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-009" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Sudcaliforniano de Ginecología y Obstetricia de B.C.S., A. C.</h6>
					<small>
						Yucatán 2925<br/>
						Col. Los Olivos, La Paz B.C. Sur<br/>
						01613-132-1110<br/>
						E-mail: ginecaneca@gmail.com<br/>
						Presidente: Dr. Carlos Negreros Castillo
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-010" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Cd. Juárez, A. C.</h6>
					<small>
						Campos Eliseos 9371- 820<br/>
						Col. Campos Eliseos, "Cd. Juárez, Chih."<br/>
						04656-227-1900<br/>
						E-mail: glez7@hotmail.com<br/>
						Presidente: Dr. Erik Reynaldo González González
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-011" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Asociación de Ginecología y Obstetricia de Delicias, A. C.</h6>
					<small>
						Círculo Plaza Benito Juárez 5-B<br/>
						Col. Centro, "Cd. Delicias, Chih."<br/>
						01639-472-7696<br/>
						E-mail: drdelarocha@hotmail.com<br/>
						Presidente: Dr. Federico De la Rocha Aguirre<br/>
						Secretario: Dr. Sergio Monares Mendoza<br/>
						Tesorero: Dr. Martín Corona Torres
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-012" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Chihuahua, A.C.</h6>
					<small>
						Ojinaga 808 int 103, Col. Centro, "Chihuahua, Chih."<br/>
						01614-412-0355<br/>
						E-mail: drarome@hotmail.com<br/>
						Presidente: Dra. María Nancy Romero Moreno<br/>
						Secretario: Dra. Rosana Ávila Ochoa<br/>
						Tesorero: Dr. Miguel Ángel Aranda Vargas
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-013" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Durango, A. C.</h6>
					<small>
						XXXX<br/>
						XXXX<br/>
						XXXX<br/>
						XXXX
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-014" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Los Mochis, A. C.</h6>
					<small>
						Rodolfo T. Loaiza 739- 3 altos, Col. Centro, "Los Mochis, Sin."<br/>
						01668-817-1200 y 817-0040<br/>
						E-mail: drheloga@hotmail.com<br/>
						Presidente: Dr. Héctor Ramón López Gastelum<br/>
						Secretario: Dr. Oscar Osuna Álvarez<br/>
						Tesorero: Dra. Aída Rodríguez Saiz
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-015" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Mazatlán, A. C.</h6>
					<small>
						Av. Niños Heroes 106-A, Col. San Felipe, "Magdalena de Kino, Sonora.<br/>
						01632-322-3833<br/>
						E-mail: vikman2000@hotmail.com<br/>
						Presidente: Dr. Victor Arrequín Romero
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-016" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Parral, Chihuahua, A.C.</h6>
					<small>
						Av. Zaragoza 72 piso 2 Unidad Médica Zaragoza, Col. Centro C.P. 33800<br/>
						"Hgo. del Parral. Chih."<br/>
						01627-522-2347<br/>
						E-mail: jlsv2m@hotmail.com<br/>
						Presidente: Dr. Jorge Luis Saldívar de la Vega
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-017" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Gineco-Obstetras Guasave-Guamuchil, A. C.</h6>
					<small>
						Av. López Mateos 643-7, Col. Del Bosque, "Guasave, Sin."<br/>
						01687-872-3363<br/>
						E-mail: dr_efrainvega@hotmail.com<br/>
						Presidente: Dr. J. Rosario Efraín Vega Cota
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-018" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Sinaloense de Ginecología y Obstetricia, A. C.</h6>
					<small>
						Hidalgo No. 1105 Ote., Col. Las Quintas, "Culiacán, Sin. "<br/>
						01667-715-4711<br/>
						E-mail: dralvarezmondaca@gmail.com<br/>
						Presidente: Dr. Jesús Ramón Álvarez Mondaca<br/>
						Secretario: Dr. Adrían Guadalupe Ramos Ojeda<br/>
						Tesorero: Dr. César Bernardo Félix Pico
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-019" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Sociedad Cuauhtemense de Ginecología, A. C.</h6>
					<small>
						Av. V. Guerrero No. 755, Col. Centro, "Cd. Cuauhtémoc, Chih."<br/>
						01625-582-5780.Cons-4860<br/>
						E-mail: tchavira@prodigy.net.mx<br/>
						Presidente: Dr. Jorge Anselmo Chavira Castillo<br/>
						Secretario: Dr. Javier Aguilar Natividad<br/>
						Tesorero: Dr. Gustavo Olivas Galaviz
					</small>
				</div>
			</div>
		</div>
	</div>
	<!-- REGION IV -->
	<div class="modal fade" id="modal-small-020" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Asociación de Ginecología y Obstetricia de Matehuala, A. C.</h6>
					<small>
						Av. V. Guerrero No. 755, Col. Centro, "Cd. Cuauhtémoc, Chih."<br/>
						Altamirano 405 A, Col. Centro, "Matehuala , S.L.P."<br/>
						045488-109-1294<br/>
						E-mail: bevt_go@hotmail.com<br/>
						Presidente: Dra. Blanca Estela Verduzco Torres<br/>
						Secretario: Dra. Juana María Martínez Hernández<br/>
						Tesorero: Dr. Ignacio Jiménez Machorro
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-021" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Asociación de Ginecología y Obstetricia de Piedras Negras, A. C.</h6>
					<small>
						Av. Emiliano Carranza 1017 cons 201A, Col. Burócratas, Piedras Negras Coah.<br/>
						01878-784-0265<br/>
						E-mail: jr_rober@hotmail.com<br/>
						Presidente: Dr. José Roberto Menchaca Ortiz
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-022" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Cd. Valles S.L.P. y Zona Huasteca, A. C.</h6>
					<small>
						Constitución 62 Clinica de especialidades médica Ebano 6, Col. Centro, "Ebano, S.L.P."<br/>
						01845-263-2853 y 102-0075<br/>
						E-mail: especialidadesmediebano@hotmail.com<br/>
						Presidente: Dr. Vicente Chávez Torres
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-023" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Sociedad de Ginecología y Obstetricia de La Laguna, A.C.</h6>
					<small>
						Av. Allende 139 ote., Col. Centro, "Torreón, Coahuila"<br/>
						01871-712-0220<br/>
						E-mail: colegiogodelalaguna@hotmail.com<br/>
						Presidente: Dr. Axdruval Avila Elizalde<br/>
						Secretario: Dr. Cecilio Medina Elizondo<br/>
						Tesorero: Dra. Irma Alejandra Barragán Maynez
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-024" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Matamoros Tamaulipas, A. C.</h6>
					<small>
						Calle Primera 1105, Col. Centro, "Matamoros, Tamps."<br/>
						01868-813-4303 y 01868-816-1766<br/>
						E-mail: info@ginemat.com<br/>
						Presidente: Dra. Leyza Angélica Nieto Galicia<br/>
						Secretario: Dr. Rubén Molina Maldonado<br/>
						Tesorero: Dra. Leticia Rosalía Luna Ambia sánchez
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-025" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Monclova, A. C.</h6>
					<small>
						Cuauhtémoc 1517 Norte Local 8, Col. El Pueblo, "Monclova, Coah."<br/>
						01866-633-3075<br/>
						E-mail: cosme.rodriguez@hotmail.com<br/>
						Presidente: Dr. Cosme Rodríguez Elizondo<br/>
						Secretario: Dr. Abel Jaime Coronado Ramos<br/>
						Tesorero: Dr. José Santos Navarro Aguilera
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-026" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Monterrey, A.C.</h6>
					<small>
						Av. Hidalgo 1842 pte.Sótano, Col. Obispado, "Monterrey, N.L."<br/>
						01818-333-9996<br/>
						E-mail: ginemty@live.com.mx<br/>
						Presidente: Dra. Leticia Maldonado Gómez<br/>
						Secretario: Dr. Raúl Cortés Flores<br/>
						Tesorero: Dr. Luis Antonio Torres Facundo
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-027" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Nuevo Laredo, A. C.</h6>
					<small>
						Anahuac 3406, Col. Jardín, "Nuevo Laredo, Tamps."<br/>
						01818-677-1512<br/>
						E-mail: presidencia@cgonld.com<br/>
						Presidente: Dr. Iván Hernández de León<br/>
						Secretario: Dr. Dr. Carlos Figueroa Galindo<br/>
						Tesorero: Dr. Juan Manuel Benavides Buruato
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-028" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Reynosa, A. C.</h6>
					<small>
						Carr Ribereña km 5.5 torre de especialidades 2do. Piso cons 212 Hosp. Christus Muguerza<br/>
						Col. Rancho Grande, "Reynosa, Tamps."<br/>
						01899-221-0083<br/>
						E-mail: jorge_emiliot@hotmail.com<br/>
						Presidente: Dr. Jorge Emilio Trujillo Vázquez<br/>
						Secretario: Dr. Jorge Luis León González<br/>
						Tesorero: Dra. Yadiera Viera Bañelos
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-029" tabindex="-1" role="dialog">
		<div class="modal-dialog modal" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Ríoverde, S.L.P., A. C.</h6>
					<small>
						Fco. I. Madero 107 int 9, Col. Centro, Rioverde, S.L.P.<br/>
						01487-872-1208<br/>
						E-mail: canoalonsor7@hotmail.com<br/>
						Presidente: Dr. Rodrigo Cano Alonso<br/>
						Secretario: Dr. Marco Antonio González Jasso<br/>
						Tesorero: Dra. Erika Medina Gutiérrez
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-030" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Saltillo, A. C.</h6>
					<small>
						Calz. Fco I Madero 1328, Col. Centro, "Saltillo, Coah."<br/>
						01844-414-6690<br/>
						E-mail: drignacio82@hotmail.com<br/>
						Presidente: Dr. José Ignacio García de la Torre
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-031" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de San Luis Potosí, S.C.</h6>
					<small>
						Jesús Goytortua 106 piso 3 int 307, Col. Tangamanga, "San Luis Potosi, S.L.P."<br/>
						01444-123-0405<br/>
						E-mail: info@colegiogineslp.com<br/>
						Presidente: Dr. Pedro Mario Grimaldo Valenzuela<br/>
						Secretario: Dr. Ramón Mendoza Mares<br/>
						Tesorero: Dra. Margarita Paz Mendoza Romo
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-032" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Zacatecas, A. C.</h6>
					<small>
						Calz. García Salinas 19 C int 12, Col. El Carmen, "Guadalupe, Zac.<br/>
						01492-922-3737<br/>
						E-mail: gineco_acuna@hotmail.com<br/>
						Presidente: Dr. Abelardo Acuña Bernal<br/>
						Secretario: Dr. Miguel Ortega Cisneros<br/>
						Tesorero: Dr. Luis Joaquín Romo Enciso
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-033" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecoobstetras de la Zona Sur de Tamaulipas, A.C.</h6>
					<small>
					Av. Hidalgo 1601 Hospital CEMAIN, Col. Martock, "Matamoros, Tamps."<br/>
					01833-241-2816<br/>
					E-mail: juancuan@hotmail.com<br/>
					Presidente: Dr. Juan Ramón Cuan Martínez<br/>
					Secretario: Dra. Judith Galindo López<br/>
					Tesorero: Dr. José Eugenio Guerra Cárdenas
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-034" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Victorense de Ginecología y Obstetricia, A.C.</h6>
					<small>
						16 y 17 Veracruz No. 117-C, Col. Periodista, "Cd. Victoria, Tamps."<br/>
						01834-305-9706<br/>
						E-mail: hnudding065@gmail.com<br/>
						Presidente: Dr. Herbert Nudding Martínez<br/>
						Secretario: Dra. Dulce Margarita Gutiérrez Espinosa<br/>
						Tesorero: Dra. Iris Alejandra Benítez Trejo
					</small>
				</div>
			</div>
		</div>
	</div>
	<!-- REGION V -->
	<div class="modal fade" id="modal-small-035" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Asociación de Ginecología y Obstetricia de la Piedad, A.C.</h6>
					<small>
						Heriberto Jara 53-6, Col. Centro, La Piedad, Mich, C.P. 59300<br/>
						01352-522-636
						E-mail: drporras@prodigy.net.mx
						Presidente: Dr. José Luis Porras Zaragoza
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-036" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecólogos y Obstetras de Michoacán, A. C.</h6>
					<small>
						General Pedro Ampudia 151, Col. Chapultepec Norte, "Morelia, Mich., C.P. 28260<br/>
						01443-314-4198<br/>
						E-mail: vitd610318@hotmail.com<br/>
						Presidente: Dra. María Dolores Villalón Tinocoa<br/>
						Secretario: Dra. Ana Gloria Alonso Mejía<br/>
						Tesorero: Dra. Isela Alvarado Aguilar
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-037" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Colimense de Ginecología y Obstetricia, A.C.</h6>
					<small>
						Constitucion 2141 int 14, Col. Puerta Del Sol, "Colima, Col., C.P. 28017<br/>
						01312-313-1013<br/>
						E-mail: luisolague@hotmail.com<br/>
						Presidente: Dr. Luis Raúl Ramírez Olague
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-038" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Especialistas en Ginecología y Obstetricia de la Costa de Jalisco, A. C.</h6>
					<small>
						Río Rhin 155, Col. Resindencial Fluvial Vallarta, "Pto. Vallarta, Jal., C.P. 48312<br/>
						01322-221-1600 y 224-8335<br/>
						E-mail: gineco_dramonica@hotmail.com<br/>
						Presidente: Dra. Mónica del Carmen De la Torre Talamantes<br/>
						Secretario: Dr. Armando Ortiz Arias<br/>
						Tesorero: Dr. Jorge H. Preciado Mora
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-039" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Acámbaro Gto., A.C.</h6>
					<small>
						Morelos 1072 A int 7, Col. Centro, "Acámbaro, Gto., C.P. 38600<br/>
						01417-172-2438<br/>
						E-mail: gato.feo@hotmail.com<br/>
						Presidente: Dr. Francisco Javier Lechuga de la Cruz<br/>
						Secretario: Dra. Ana Maria Escamilla Amezcua<br/>
						Tesorero: Dr. Reyes Duarte Angulo
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-040" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Aguascalientes, A. C.</h6>
					<small>
						Av. Universidad 103-226,  Villas de la Universidad, "Aguascalientes, Ags. C.P. 20020<br/>
						01449-153-3626,<br/>
						E-mail: drgutierrezpadilla@prodigy.net.mx<br/>
						Presidente: Dr. Juan Gerardo Gutiérrez Padilla<br/>
						Secretario: Dra. María del Consuelo Robles Martínez<br/>
						Tesorero: Dr. Juan Manuel Rubio Rubio
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-041" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Celaya, Gto., A. C.</h6>
					<small>
						Colegio de Ginecología y Obstetricia de Celaya, Gto., A. C., Tenochtitlan 634<br/>
						Col. Alameda, Celaya, Gto., C.P. 38050<br/>
						01461-613-1638<br/>
						E-mail: drlalorivas@hotmail.com<br/>
						Presidente: Dr. Eduardo Rivas Larrauri
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-042" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de León, A. C.</h6>
					<small>
						Av. Américas 612 Entre Albania y Roma, Col. Andrade, León, Gto., C.P. 37020<br/>
						01477-716-6774<br/>
						E-mail: ginecoleon@hotmail.com<br/>
						Presidente: Dr. Marthel Raúl Alvarado López<br/>
						Secretario: Dr. Rogoberto Martínez Alvarado<br/>
						Tesorero: Dra. Delia Márquez Gamiño
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-043" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de los Altos de Jalisco, A.C.</h6>
					<small>
						J. Matias Navarro 147-B  Col. Capilla de Guadalupe, Tepatitlán, Jal., C.P. 47700<br/>
						01378-116-6761 <br/>
						E-mail: dr_puga44@hotmail.com<br/>
						Presidente: Dr. Darío Puga Aguilar
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-044" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Nayarit, A. C.</h6>
					<small>
						Roble 390,  Col. San Juan, Tepic, Nay., C.P. 63130<br/>
						01311-103-4397<br/>
						E-mail: coleginenayarit@hotmail.com<br/>
						Presidente: Dra. Elia Trinidad Quiroz Guardado<br/>
						Secretario: Dra. Martha Fabiola Rodríguez Mercado<br/>
						Tesorero: Dra. María Magdalena Ruiz Rivera
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-045" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Zamora, A. C.</h6>
					<small>
						Colón 327-3, Col. Centro," Zamora, Mich., C.P. 59600<br/>
						01351-515-2241<br/>
						E-mail: dra.ma.elena.alvarez@hotmail.com<br/>
						Presidente: Dra. María Elena Álvarez González<br/>
						Secretario: Dra. Manuelita Alejandra Lievano<br/>
						Tesorero: Dr. Sergio Navarrete Peña
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-046" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia del Sur de Jalisco, A. C.</h6>
					<small>
						Colegio de Ginecología y Obstetricia del Sur de Jalisco, A. C.<br/>
						San Gabriel, Jal., C.P. 49700<br/>
						01343-427-0114<br/>
						E-mail: sitzel77@hotmail.com<br/>
						Presidente: Dra. Silvia Itzel Peña Valencia
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-047" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Gineco-Obstetras de Uruapan, A. C.</h6>
					<small>
						Américas 26-A int 3, Col. Morelos" Uruapan, Mich., C.P. 60050<br/>
						045452-525-6574<br/>
						E-mail: drajcordoba@hotmail.com<br/>
						Presidente: Dra. Josefina Córdoba Ochoa<br/>
						Secretario: Dra. Alejandra Zavala Vaca
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-048" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Médicos Gineco-Obstetras del Estado de Jalisco, A. C.</h6>
					<small>
						Hospital 2038, Col. Ladrón De Guevara"Guadalajara, Jal. C.P. 44680<br/>
						01333-616-9139<br/>
						E-mail: infocolginjal@gmail.com<br/>
						Presidente: Dr. Agustín Patiño Segura<br/>
						Secretario: Dra. Yolanda Guadalupe López Macedo<br/>
						Tesorero: Dr. Félix Rafael Huerta Casillas
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-049" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Obstetricia y Ginecología de Salamanca, A. C.</h6>
					<small>
						Ezequiel Ordoñez 702 local 1, Col. Bellavista, Salamanca, Gto., C.P. 36730<br/>
						01464-648-9373<br/>
						E-mail: miguelangelrangel@hotmail.com<br/>
						Presidente: Dr. Miguel Ángel Rangel Velázquez<br/>
						Secretario: Dra. Karla Denisse Luna Hinojosa<br/>
						Tesorero: Dra. Alma Patricia Jacobo Chávez
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-050" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Irapuatense de Ginecología y Obstetricia, A. C.</h6>
					<small>
						Irapuato, Gto., C.P. 36650<br/>
						01429-693-1414<br/>
						E-mail: glory_diosdado@live.com <br/>
						Presidente: Dra. Gloria Concepción Diosdado Amezola<br/>
						Secretario: Dra. Delia Blanca Carranza Sánchez<br/>
						Tesorero: Dr. Gustavo Alonso Martínez Vázquez
					</small>
				</div>
			</div>
		</div>
	</div>
	<!-- REGION VI -->
	<div class="modal fade" id="modal-small-051" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Asociación de Ginecología y Obstetricia de Córdoba y Orizaba, A. C.</h6>
					<small>
						Poniete 7 # 203 (clin Mat. Pluviosilla, Col. Centro" Orizaba, Ver., C.P. 94300<br/>
						01272-725-0940<br/>
						E-mail: eddc76@hotmail.com<br/>
						Presidente: Dr. José Jorge Delgado Montiel
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-052" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Pozarricense de Ginecología y Obstetricia, A. C.</h6>
					<small>
						General Ohighins 214  Col. Morelos" Poza Rica, Ver., C.P. 93340<br/>
						01782-822-0363<br/>
						E-mail: noragchan19@hotmail.com<br/>
						Presidente: Dra. Nora Galeano Chan<br/>
						Secretario: Dr. Felipe Castillo Córdova<br/>
						Tesorero: Dra. Margarita Xochihua San Martín
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-053" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Médicos Especialistas en Ginecología y Obstetricia de Querétaro, A.C.</h6>
					<small>
						Colegio de Médicos Especialistas en Ginecología y Obstetricia de Querétaro, A.C.<br/>
						Hospital San José Prol. Constituyentes 302 cons 522 torre II 4to piso, Col. El Jacal, Querétaro, Qro., C.P. 76187<br/>
						01442-242-1022 y 242-4317 <br/>
						E-mail:refc1907@hotmail.com<br/>
						Presidente: Dr. José Ramón Rivera Ruiz
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-054" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecólogos y Obstetras de Tuxpam, Ver, A.C.</h6>
					<small>
						Av. Independencia 82-M,<br/>
						Col. Del Valle Tuxpan, Ver., C.P. 92875<br/>
						01783-834-7500 <br/>
						E-mail:a.cabreragzz64@hotmail.com<br/>
						Presidente: Dra. Adriana Cabrera González<br/>
						Secretario: Dra. Zulma Iveth Enriquez Mar<br/>
						Tesorero: Dr. Fernando Ángel Lozano Villarreal
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-055" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecólogos de la Región Minatitlán Veracruz, A. C.</h6>
					<small>
						Primera del Profesorado 2, Col. Centro"Minatitlán, Ver., C.P. 96700<br/>
						01922-223-4842<br/>
						E-mail:amartinezv_1@hotmail.com<br/>
						Presidente: Dr. Alejandro Martínez Vivas<br/>
						Secretario: Dr. Víctor Hugo Herberh Hernández<br/>
						Tesorero: Dra. Mónica del Carmen Durán Cárdenas
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-056" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Chilpancingo, Gro., A. C.</h6>
					<small>
						Abasolo 16, Col. Centro"Chilpancingo, Gro., C.P. 39000<br/>
						01747-472-7446<br/>
						E-mail:eligmginedra@hotmail.com<br/>
						Presidente: Dra. Elizabeth Gómez Monroy
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-057" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Morelos, A. C.</h6>
					<small>
						Av. Cuauhtémoc 1698 plaza chapultepec Local 26-B, Col. Chapultepec"Cuernavaca, Mor., C.P. 62399<br/>
						01777-100-0825<br/>
						E-mail:ga_lor30@hotmail.com<br/>
						Presidente: Dr. Lorenzo Alcántar García<br/>
						Secretario: Dr. Cuauhtémoc Flores Martínez<br/>
						Tesorero: Dr. Mario Alberto Rueda García
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-058" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia del Estado de Tlaxcala, A. C.</h6>
					<small>
						Av. Hidalgo Sur 905<br/>
						Col. Centro, Apizaco, Tlax., C.P. 90300<br/>
						01241-417-2122 y 01749-918-1956<br/>
						E-mail:zamgo54@hotmail.com<br/>
						Presidente: Dr. Agustín Huerta Hernández
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-059" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecólogos y Obstetras del Estado de Puebla, A. C.</h6>
					<small>
						Diag. I. Zaragoza 5128-4.Esq.J.Pablo II, Col. Jardines de San Manuel, Puebla, Pue., C.P. 72570<br/>
						01222-264-7158<br/>
						E-mail: cgineco_obstetra@prodigy.net.mx<br/>
						Presidente: Dra. Esperanza Judith Solis García<br/>
						Secretario: Dr. René A. Hernández Morales<br/>
						Tesorero: Dra. Catherine López Cervantes
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-060" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Gineco-Obstétrico de Tehuacán, A. C.</h6>
					<small>
						1 poniente 233 esq. 4 Sur primer piso # 6, Col. Centro Tehuacán, Puebla, C.P. 75700<br/>
						01238-392-2842<br/>
						E-mail: marcohmont@hotmail.com<br/>
						Presidente: Dr. Marco Antonio Hernández Mont<br/>
						Secretario: Dra. Jessica Francisca Cuevas González<br/>
						Tesorero: Dr. Hassan Chalini Sarabia
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-061" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Guerrerense de Gineco-Obstetras, A.C.</h6>
					<small>
						Alvaro Amezquita 8 int.102, Col. Magallanes Acapulco, Gro., C.P. 39610<br/>
						01744-486-9133<br/>
						E-mail: ortegabarrioss@yahoo.com.mx<br/>
						Presidente: Dra. Silvia Ortega Barrios<br/>
						Tesorero: Dra. Beatriz Landa Ríos
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-062" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Hidalguense de Especialistas en Ginecología y Obstetricia, A. C.</h6>
					<small>
						Zamora 400  Col. Ex Hacienda de Guadalupe Pachuca, Hgo., C.P. 42050<br/>
						01771-718-5404<br/>
						E-mail: arturogin@gmail.com<br/>
						Presidente: Dr Arturo Bulos Nicolás<br/>
						Secretario: Dra. María de los Ángeles Lazcano Ortíz<br/>
						Tesorero: Dra. Nicolasa Pardo Arteaga
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-063" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Mexiquense de Ginecología y Obstetricia, A. C.</h6>
					<small>
						Emilio Carranza 111-5, Col. San Sebastián Toluca, Edo.de Méx., C.P. 50090<br/>
						01722-237-3447<br/>
						E-mail: ginecogranja@hotmail.com<br/>
						Presidente: Dr. Juan Granja Rodríguez
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-064" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Veracruzano de Ginecología y Obstetricia, A. C.</h6>
					<small>
						Gobernación No 25 esq. Lázaro Cárdenas, Col. Estatuto Jurídico Boca del Río, Ver., C.P. 94295<br/>
						01229-124-7334 y 01229-688-5194<br/>
						E-mail: serranogomez75@hotmail.com<br/>
						Presidente: Dr. Servando Germán Serrano Gómez<br/>
						Secretario: Dr. Francisco Delgado Salamanca<br/>
						Tesorero: Dra. Nalliely Hernández Sebastián
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-065" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Xalapeño de Ginecología y Obstetricia, A.C.</h6>
					<small>
						Allende 14, Col. Centro Altotonga, Ver., C.P. 93700<br/>
						01226-316-0628<br/>
						E-mail: balmontes_go@hotmail.com<br/>
						Presidente: Dr. Miguel Vladimiro Baltazar Montes
					</small>
				</div>
			</div>
		</div>
	</div>
	<!-- REGION VII -->
	<div class="modal fade" id="modal-small-066" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Asociación de Ginecología y Obstetricia de Tuxtla Gutiérrez, A. C.</h6>
					<small>
						15 poniente Norte 193-4, Col. Moctezuma Tuxtla Gutiérrez, Chis., C.P. 29030<br/>
						01961-121-5960<br/>
						E-mail: ross.jo@hotmail.com<br/>
						Presidente: Dra. Rosalba Jiménez Ocaña
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-067" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Campeche, A. C.</h6>
					<small>
						Av. Lavalle Urbina Mza G1 lt 21, Col. Ah Kim pech sección Fundadores, Campeche, Camp., C.P. 24010<br/>
						01981-811-1802<br/>
						E-mail: colegioginecocamp@outlook.es<br/>
						Presidente: Dra. Guadalupe Del Pilar Palomo Arroyo<br/>
						Secretario: Dr. Medardo Cohuó Muñoz<br/>
						Tesorero: Dra. Doris Marlene Cambranis Díaz
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-068" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de la Cuenca del Papaloapan, A. C.</h6>
					<small>
						Col. Centro  Tuxtepec, Oax., C.P. 68300<br/>
						01287-106-3298<br/>
						E-mail: ginecortizjulio@hotmail.com<br/>
						Presidente: Dr. José Julio Ortíz Maldonado
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-069" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia de Yucatán, A. C.</h6>
					<small>
						Calle 17 # 611-A entre 9 y 11, Col. Jardines de Mérida  Mérida, Yuc., C.P. 97135<br/>
						01999-943-2571<br/>
						E-mail: luisgine1heredia@gmail.com<br/>
						Presidente: Dr. Luis Ramón Heredia Navarrete
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-070" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecología y Obstetricia del Estado de Tabasco, A. C.</h6>
					<small>
						Juárez 421, Col. Santo Domingo Comalcalco, Tab., C.P. 86340<br/>
						01933-334-1498 y 327-5092<br/>
						E-mail: juanjose@lopezginecologos.com<br/>
						Presidente: Dr. Juan José López Macías
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-071" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Ginecólogos y Obstetras de Ciudad del Carmen, Campeche, A.C.</h6>
					<small>
						Calle 48 # 38, entre 7 y 45, Col. Tecolutla  Cd. Del Carmen, Camp., C.P. 24178<br/>
						01938-286-0279<br/>
						E-mail: juancarlossoza@yahoo.com.mx<br/>
						Presidente: Dr. Juan Carlos Solís Zapata
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-072" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Obstetricia y Ginecología de Quintana Roo, A. C.</h6>
					<small>
						Av. Tulum Mz 1 Lt 3 Planta Baja Fertilitiy Center Esq.Nizuc Hospital Galenia, Supermanzana 9  Cancún, Q.Roo, C.P. 77500<br/>
						01998-889-8250<br/>
						E-mail: info@cogqui.org<br/>
						Presidente: Dr. Eduardo Manuel Espadas Reyes
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-073" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio Oaxaqueño de Ginecología y Obstetricia, A.C.</h6>
					<small>
						Manuel Sabino Crespo 217, Oaxaca, Oax. C.P.<br/>
						01998-889-8250 <br/>
						E-mail: colegioaxgo@hotmail.com<br/>
						Presidente: Dra. Yenni Denisse Gijón Heredia
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-small-074" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h6 class="text-danger"><i class="fa fa-map" aria-hidden="true"></i> Colegio de Médicos Especialistas en Obstetricia y Ginecología de Coatzacoalcos, A.C.</h6>
					<small>
						Miguel A. de Quevedo 524, Col. Centro  Coatzacoalcos, Ver., C.P.96400<br/>
						01921-212-2292<br/>
						E-mail: moisesgalvez6@gmail.com<br/>
						Presidente: Dr. Moisés Gálvez Valdivieso
					</small>
				</div>
			</div>
		</div>
	</div>