{% extends 'home/layout.twig.html' %}

{% block title %}Video Series{% endblock %}

{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <h1 class="text-danger">
                <small class="small-1">F E M E C O G</small><br />
               	Videos COVID-19
            </h1>
            <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis justo eget dictum facilisis.</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section">
		<div class="container">
			<div class="row gap-y">
			    <div class="col-lg-6 text-center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/tojezrcNhM0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">¿Será efectiva la próxima vacuna vs Covid-19 que patrocina México?</h6>
					<hr/>
				</div>
				<div class="col-lg-6 text-center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/h8o7dWv0_LE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">Charla Científica Virtual sobre SARS-CoV-2 y Embarazo</h6>
					<hr/>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-lg-6 text-center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/20tmtuF49Do" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">COVID-19 por especialidades y temas</h6>
					Ver articulo completo <a href="https://sites.google.com/view/covid19-por-especialidades/p%C3%A1gina-principal" target="_blank">Click Aquí</a>
					<hr/>
				</div>
			    <div class="col-lg-6 text-center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/xafPqcy3lwk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">Tienen que escuchar a este experto de COVID-19 de Corea del Sur | Asian Boss Español</h6>
					<hr/>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-lg-6 text-center">	
					<iframe width="560" height="315" src="https://www.youtube.com/embed/4rjyRBw8294" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">SARS - CoV-2 (COVID-19) una pandemia - Dr. Josep Maria Miró PostCROI 2020</h6>
					<hr/>
				</div>
				<div class="col-lg-4 text-center">
				</div>
			</div>
    	</div>
    </section>

{% endblock %}