{% extends 'home/layout.twig.html' %}

{% block title %}Video Series{% endblock %}

{% block header %}

    <header class="header pt-11 pb-10">
        <div class="container">
            <div class="row align-items-center h-100">
                <div class="col-lg-6" data-aos="fade-in" data-aos-delay="100">
                    <h1 class="text-danger">
                        <small class="small-1">F E M E C O G</small><br />
                       	Video Series
                    </h1>
                    <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis justo eget dictum facilisis.</p>
                </div>
                <div class="col-lg-6 ml-auto d-none d-lg-block" data-aos="fade-left" data-aos-delay="300">
                    <img src="images/femecog-historia.png" alt="FEMECOG" class="aos-init aos-animate">
                </div>
            </div>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section">
		<div class="container">
			<div class="row">
    			<div class="col-lg-12 text-center">
					<h2 class="text-danger">Video Series</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet est arcu, vel fringilla nunc molestie id. Sed tempus, purus vitae molestie mattis, nisl ligula congue quam, et laoreet lectus eros ac felis. Proin bibendum nisl mauris, at commodo diam suscipit sed. Sed urna nisi, egestas non dapibus ac, posuere sed erat. Nunc tellus orci, mollis vestibulum quam sit amet, porttitor porttitor mauris. Donec consequat venenatis nibh, vel consequat ante cursus tincidunt. Nam eleifend enim eu est congue posuere. Nullam ultricies placerat ex nec luctus. Pellentesque viverra lacus ac neque ullamcorper, luctus ullamcorper purus porta. Nulla non vestibulum dui.
					</p>
					<hr/>
    			</div>
    		</div>
			<div class="row gap-y">
			    <div class="col-lg-4 text-center">
					<iframe width="350" height="210" src="https://www.youtube.com/embed/EKwsjtG6fFE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">Vacunas COVID-19</h6>
					<hr/>
				</div>
				<div class="col-lg-4 text-center">
					<iframe width="350" height="210" src="https://www.youtube.com/embed/G5RHQKis-b4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">Perdida de cabello en la mujer</h6>
					<hr/>
				</div>
				<div class="col-lg-4 text-center">
					<iframe width="350" height="210" src="https://www.youtube.com/embed/bW4PNbSZmcE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">La importancia de la bioética en la práctica del gineco-obstetra</h6>
					<hr/>
				</div>
			</div>
			<div class="row gap-y">
			    <div class="col-lg-4 text-center">
					<iframe width="350" height="210" src="https://www.youtube.com/embed/Cwk_Mn6mTxA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">COVID 19 en el puerperio y lactancia</h6>
					<hr/>
				</div>
				<div class="col-lg-4 text-center">	
					<iframe width="350" height="210" src="https://www.youtube.com/embed/4YmOH-3ldq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">Resistencia bacteriana en el tratamiento de las infecciones urinarias complicadas</h6>
					<hr/>
				</div>
				<div class="col-lg-4 text-center">
					<iframe width="350" height="210" src="https://www.youtube.com/embed/ljOcKPd1DoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">Violencia Obstétrica</h6>
					<hr/>
				</div>
			</div>
			<div class="row gap-y">
			    <div class="col-lg-4 text-center">
					<iframe width="350" height="210" src="https://www.youtube.com/embed/dVzgCsZOy9A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">COVID 19 y Embarazo, perlas en manejo de la paciente en consulta</h6>
					<hr/>
				</div>	
				<div class="col-lg-4 text-center">
					<iframe width="350" height="210" src="https://www.youtube.com/embed/lc-c4Fm58fk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">Episiotomía</h6>
					<hr/>
				</div>	
				<div class="col-lg-4 text-center">
					<iframe width="350" height="210" src="https://www.youtube.com/embed/IIp0J9h8-Ho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h6 class="text-danger">Consentimiento informado y bioética en reproducción asistida</h6>
					<hr/>					
			    </div>
			</div>
    	</div>
    </section>

{% endblock %}