{% extends 'home/layout.twig.html' %}

{% block title %} Webinars | Proyectos virtuales FEMECOG{% endblock %}

{% block header %}

    <header class="header pt-11 pb-10">
        <div class="container">
            <div class="row align-items-center h-100">
                <div class="col-lg-6" data-aos="fade-in" data-aos-delay="100">
                    <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
                    <h1 class="text-danger">
                        Webinars Archivo 2020<br/><small>Proyectos virtuales FEMECOG</small>
                    </h1>
                    <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-lg-6 ml-auto d-none d-lg-block" data-aos="fade-left" data-aos-delay="300">
                    <img src="images/femecog-profesores.png" alt="FEMECOG" class="aos-init aos-animate">
                </div>
            </div>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
<section class="section bg-gray">
    	<div class="container">
    		<div class="row align-items-center">
                <header class="section-header">
                    <small>F E M E C O G</small>
                    <h2 class="text-danger">Archivo Año 2020</h2>
                </header>
            </div>
            <div class="row gap-y">
                <div class="col-md-4">
                    <h4 class="mb">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Mayo 2020
                    </h4>
                    <hr/>
                    <h6>Predicción y Manejo de la Diabetes Gestacional en el 2020<br/>
                        <small>(28 de mayo, 2020)</small>
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/256462572363178/"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>   
                    <h6>Administración del Consultorio como Microsistema<br/>
                        <small>(14 de mayo, 2020)</small> 
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.youtube.com/watch?v=c8QOn85SQwA&t=2692s"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>Responsabilida legal del Ginecoobstetra en la pandemia
                        <br/><small>(07 de mayo, 2020)</small> 
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/236756217553682/"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h4 class="mb">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Junio 2020
                    </h4>
                    <hr/>
                    <h6>
                        Complicaciones Cardiometabólicas del SOP
                        <br/><small>(25 de junio, 2020)</small> 
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/649109425947533/"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        RCIU a través de la historia
                        <br/><small>(18 de junio, 2020)</small>
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/191298522233613/"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>                
                    <h6>
                        Cirugía en Control de Daños en Obstetricia
                        <br/><small>(16 de junio, 2020)</small> 
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/1103113840059362/"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Vitamina D puesta al día
                        <br/><small>(11 de junio, 2020)</small>  
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/181766329940203/"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Repercusiones del SARCOV-2
                        <br/><small>(04 de junio, 2020)</small> 
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.youtube.com/watch?v=4_zv6o5ZdO0"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h4 class="mb">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Julio 2020
                    </h4>
                    <hr/>
                    <h6>
                        Insuficiencia Venosa y trombosis
                        <br/><small>(30 de julio, 2020)</small> 
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/628815931384179/"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Aspectos Perinatales de la muerte fetal, causas y prevención
                        <br/><small>(23 de julio, 2020)</small>  
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://web.facebook.com/FEMECOG/videos/326609048727342/"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        SGU Frecuentes en la menopausia
                        <br/><small>(09 de julio, 2020)</small>  
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/watch/live/?v=271306327305067&ref=watch_permalink"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        La Hemorragia Obstétrica una historia perenne de muerte
                        <br/><small>(02 de julio, 2020)</small>
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.youtube.com/watch?v=0fZXnFW_218&t=131s"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
            </div>
            <div class="row gap-y">
                <div class="col-md-4">
                    <h4 class="mb">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Agosto 2020
                    </h4>
                    <hr/>
                    <h6>
                        La depresión en la mujer
                        <br/><small>(27 de agosto, 2020)</small> 
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/750191225813466"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Testosterona en climaterio
                        <br/><small>(20 de agosto, 2020)</small> 
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/409329626705494"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Estrategias en la prevención de parto pretérmino
                        <br/><small>(13 de agosto, 2020)</small> 
                    </h6>
                    <hr/>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/296582234934302"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <h6>
                        Actualidades en Histeroscopía
                        <br/><small>(06 de agosto, 2020)</small> 
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/302100734342150/"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h4 class="mb">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Septiembre 2020
                    </h4>
                    <hr/>
                    <h6>
                        Modelos predictivos de preeclampsia durante el primer trimestre de embarazo
                        <br/><small>(24 de septiembre, 2020)</small>  
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/383543319477084"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Sarcopenia una amenaza para el envejecimiento saludable
                        <br/><small>(17 de septiembre, 2020)</small> 
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/2577681269116256"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        "Top ten"  de la patología mamaria
                        <br/><small>(10 de septiembre, 2020)</small>  
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/388726582119507"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Sangrado uterino anormal
                        <br/><small>(03 de septiembre, 2020)</small>  
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/318384346137746"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h4 class="mb">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Octubre 2020
                    </h4>
                    <hr/>
                    <h6>
                        Conmemoración del Día Mundial de la Menopausia
                        <br/><small>(29 de octubre, 2020)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.youtube.com/watch?v=sOQLaMSd6zY&t=6356s"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Retos actuales en el manejo de la vejiga hiperactiva
                        <br/><small>(22 de octubre, 2020)</small>
                    </h6>  
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/339381863829473"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Conmemoración del Día Mundial de la Osteoporosis / Diagnóstico oportuno y tratamiento óptimo
                        <br/><small>(20 de octubre, 2020)</small>
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.youtube.com/watch?v=l-etFks38wE"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Embarazo gemelar
                        <br/><small>(15 de octubre, 2020)</small> 
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/780620862793643"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Taller de lectura masto-sonográfica
                        <br/><small>(08 de octubre, 2020)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/353144159260364"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Impacto perinatal del COVID en la paciente con obesidad
                        <br/><small>(01 de octubre, 2020)</small>
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.youtube.com/watch?v=b4Ut9Q08L5M"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
            </div>
            <div class="row gap-y">
                <div class="col-md-4">
                    <h4 class="mb">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Noviembre 2020
                    </h4>
                    <hr/>
                    <h6>
                        Endometriosis
                        <br/><small>(26 de noviembre, 2020)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/877625472778313"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Medicación en el embarazo
                        <br/><small>(19 de noviembre, 2020)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/408767190532172"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Una evaluación sobre la prevención de la enfermedad RH
                        <br/><small>(14 de noviembre, 2020)</small> 
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://vimeo.com/479343827"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Ultrasonido obstétrico. Estrategia actual para mejorar el resultado perinatal
                        <br/><small>(12 de noviembre, 2020)</small> 
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/374304780494625"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        COVID-19 y embarazo
                        <br/><small>(05 de noviembre, 2020)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/370169314410075"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h4 class="mb">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Diciembre 2020
                    </h4>
                    <hr/>
                    <h6>
                        Rotura prematura de membranas
                        <br/><small>(17 de diciembre, 2020)</small> 
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/726968987950661"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Anticoncepción
                        <br/><small>(10 de diciembre, 2020)</small> 
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/410741653308566"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Tópicos utilitarios en reproducción asistida
                        <br/><small>(03 de diciembre, 2020)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/679688229365284"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
                <div class="col-md-4">
                </div>
            </div>
    	</div>
    </section>
{% endblock %}