{% extends 'home/layout.twig.html' %}

{% block title %} Webinars | Proyectos virtuales FEMECOG{% endblock %}

{% block header %}

    <header class="header pt-11 pb-10">
        <div class="container">
            <div class="row align-items-center h-100">
                <div class="col-lg-6" data-aos="fade-in" data-aos-delay="100">
                    <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
                    <h1 class="text-danger">
                        Webinars Archivo 2021<br/><small>Proyectos virtuales FEMECOG</small>
                    </h1>
                    <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-lg-6 ml-auto d-none d-lg-block" data-aos="fade-left" data-aos-delay="300">
                    <img src="images/femecog-profesores.png" alt="FEMECOG" class="aos-init aos-animate">
                </div>
            </div>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
<section class="section bg-gray">
    	<div class="container">
    		<div class="row align-items-center">
                <header class="section-header">
                    <small>F E M E C O G</small>
                    <h2 class="text-danger">Archivo Año 2021</h2>
                </header>
            </div>
            <div class="row gap-y">
                <div class="col-md-4">
                    <h4>
                        <i class="fa fa-calendar" aria-hidden="true"></i> Enero 2021
                    </h4>
                    <hr/>
                    <h6>
                        Trastornos del espectro de placenta acreta
                        <br/><small>(28 de enero, 2021)</small> 
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/325442412114788"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Cáncer de cérvix en México - Lo que el ginecólogo debe saber
                        <br/><small>(21 de enero, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/1068725766935920"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Origen fetal de las enfermedades del adulto
                        <br/><small>(14 de enero, 2021)</small>
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/732314511032635"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h4>
                        <i class="fa fa-calendar" aria-hidden="true"></i> Febrero 2021
                    </h4>
                    <hr/>
                    <h6>
                        Eliminación de Cáncer Cervicouterino ¿Cómo alcanzar la meta?
                        <br/><small>(25 de febrero, 2021)</small> 
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/236421327894877"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>          
                    <h6>
                        Abordaje del aborto y la pérdida gestacional
                        <br/><small>(18 de febrero, 2021)</small>
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/2884618758482383"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/> 
                    <h6>
                        Anemia en el embarazo - Lo que debe saber el obstetra
                        <br/><small>(11 de febrero, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/263264838512954"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Tratamiento quirúrgico del riesgo de parto pretérmino
                        <br/><small>(04 de febrero, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/160236035708486"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h4>
                        <i class="fa fa-calendar" aria-hidden="true"></i> Marzo 2021
                    </h4>
                    <hr/>
                    <h6>
                        Actualidades en embarazo ectópico
                        <br/><small>(25 de marzo, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/1337960949910053"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Histerectomía vaginal
                        <br/><small>(18 de marzo, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/162919295675799"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Trato digno y respetuoso. Los retos en el ejercicio de la medicina actual
                        <br/><small>(11 de marzo, 2021)</small>  
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/201181448449916"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/> 
                    <div class="media-left">
                    <h6>
                        Retomando la operatoria obstétrica y fórceps
                        <br/><small>(04 de marzo, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/1148332242278509"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
            </div>
            <div class="row gap-y">
                <div class="col-md-4">
                    <h4>
                        <i class="fa fa-calendar" aria-hidden="true"></i> Abril 2021
                    </h4>
                    <hr/>
                    <h6>
                        Histeroscopia desde su inicio y actualidades
                        <br/><small>(29 de abril, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/1368524203512826"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Episiotomía y desgarros vaginales
                        <br/><small>(22 de abril, 2021)</small> 
                    </h6>  
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/119433233485891"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Detección abordaje y tratamiento en cáncer ginecológico
                        <br/><small>(15 de abril, 2021)</small> 
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/4084854774911225"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        COVID-19 y embarazo
                        <br/><small>(08 de abril, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/283573043275884"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h4>
                        <i class="fa fa-calendar" aria-hidden="true"></i> Mayo 2021
                    </h4>
                    <hr/>
                    <h6>
                        COVID-19: aspectos éticos
                        <br/><small>(27 de mayo, 2021)</small>  
                    </h6>
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/1094543144375223"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Infecciones en vías urinarias 
                        <br/><small>(20 de mayo, 2021)</small> 
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/857995714789965"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Herramientas predictoras en parto pretérmino
                        <br/><small>(13 de mayo, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/2894536527493661"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Endometriosis profunda. Cómo y hasta dónde tratarla
                        <br/><small>(06 de mayo, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/301577104708578"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h4>
                        <i class="fa fa-calendar" aria-hidden="true"></i> Junio 2021
                    </h4>
                    <hr/>
                    <h6>
                        Enfermedades de la vulva
                        <br/><small>(24 de junio, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.youtube.com/watch?v=VDfxpGBmwys"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Manejo de las heridas en ginecología
                        <br/><small>(17 de junio, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/517327196052519"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Actualidades en el abordaje de la incontinencia urinaria
                        <br/><small>(10 de junio, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/832809447644081"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Actualidades en terapia hormonal en la menopausia
                        <br/><small>(03 de junio, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/316114319968485"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
            </div>
            <div class="row gap-y">
                <div class="col-md-4">
                    <h4>
                        <i class="fa fa-calendar" aria-hidden="true"></i> Julio 2021
                    </h4>
                    <h6>
                        Alteraciones tiroideas en ginecología y obstetricia
                        <br/><small>(29 de julio, 2021)</small>
                    </h6>  
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/2595594184068995"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Endocrinopatías en ginecología
                        <br/><small>(22 de julio, 2021)</small>
                    </h6>  
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/555335649165966"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <h6>
                        Dolor en ginecología
                        <br/><small>(15 de julio, 2021)</small>
                    </h6>  
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/361975945293101"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/> 
                    <h6>
                        Infecciones vulvovaginales
                        <br/><small>(08 de julio, 2021)</small>
                    </h6>  
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/1779365842251749"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Diagnóstico prenatal
                        <br/><small>(01 de julio, 2021)</small>
                    </h6>  
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/1448014672228789"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h4>
                        <i class="fa fa-calendar" aria-hidden="true"></i> Agosto 2021
                    </h4>
                    <h6>
                        Repercusiones de COVID-19 en la salud de la mujer
                        <br/><small>(26 de agosto, 2021)</small>
                    </h6>  
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/1068707710201015"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Diagnóstico y terapia fetal en Latinoamérica
                        <br/><small>(19 de agosto, 2021)</small>
                    </h6>  
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/234025811972154"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Patología ovárica en diferentes etapas de la vida: adolescencia, edad reproductiva, peri y posmenopausia
                        <br/><small>(12 de agosto, 2021)</small>
                    </h6>  
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/1143605656130391"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                    <h6>
                        Obesidad y síndrome metabólico
                        <br/><small>(05 de agosto, 2021)</small>
                    </h6>  
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/234808365163860"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h4>
                        <i class="fa fa-calendar" aria-hidden="true"></i> Septiembre 2021
                    </h4>
                    <h6>
                        Enfermedades concomitantes asociadas al embarazo
                        <br/><small>(02 de septiembre, 2021)</small>  
                    </h6> 
                    <a target="_blank" class="btn btn-round btn-success" href="https://www.facebook.com/FEMECOG/videos/1227277587736886"><i class="fa fa-video-camera" aria-hidden="true"></i> Ver Video >></a>
                </div>
            </div>
    	</div>
    </section>
{% endblock %}