body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Poppins', sans-serif;
}

.navbar-dark .nav-navbar>.nav-item>.nav-link, .navbar-dark .nav-navbar>.nav-link, .navbar-stick-dark.stick .nav-navbar>.nav-item>.nav-link, .navbar-stick-dark.stick .nav-navbar>.nav-link {
    color: rgba(54,54,54,0.8);
}

.headerFemecog {
    padding-top: 116px;
}

.femecogSlider {
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    background-color: #F4F6FD; 
    height: 650px;
    overflow: hidden;
}

.nav-navbar .nav-link {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.87em;
    word-spacing: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-navbar .nav {
    min-width: 14rem;
    }

.nav-navbar .nav .nav-link {
    font-weight: 400;
    text-transform: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    letter-spacing: 0.5px;
    color: rgba(117,117,117,0.9);
}

.topbar {
    background-color: #F6FAFA;
    border-bottom: 1px solid #f1f2f3;
    height: 45px;
}

.regiones {
    font-size: .85rem;
    color: #757575;    
}

.badge-dot {
    width: 25px;
    height: 25px;
    padding: 0;
    border-radius: 100%;
    vertical-align: middle;
}

.badge-region1 {
    color: #fff;
    background-color: #ff114f;
}

.badge-region2 {
    color: #fff;
    background-color: #0c890f;
}

.badge-region3 {
    color: #fff;
    background-color: #0ea68c;
}

.badge-region4 {
    color: #fff;
    background-color: #eade51;
}

.badge-region5 {
    color: #fff;
    background-color: #69ccc4;
}

.badge-region6 {
    color: #fff;
    background-color: #eda657;
}

.badge-region7 {
    color: #fff;
    background-color: #ec5307;
}

.txt-shadow {
    text-shadow: 0px 3px 2px rgba(61, 61, 61, 1);
}