{% extends 'home/layout.twig.html' %}

{% block title %}Federados{% endblock %}

{% block header %}

   	<header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
        	<p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                Apoyo a Federados
            </h1>
            <p class="lead-1 mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim vel justo sodales semper. Aliquam porttitor elit diam, et pharetra felis vestibulum ac. Sed pharetra volutpat vestibulum.</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section">
        <div class="container">
    		<div class="row align-items-center">
    			<header class="section-header">
		            <h2 class="text-danger">Bibliotecas Electrónicas</h2>
		            <p class="lead">Completely leverage other's covalent products whereas covalent manufactured products.</p>
		            <hr>
    			</header>
    		</div>
    		<div class="row gap-y">
    			<div class="col-md-4">
					<div class="media">
						<div class="mr-4 fw-600 lh-1 lead-5 text-lightest">01</div>
						<div class="media-body">
							<h5>FIGO news Report</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a class="fs-12 fw-600" href="#">Descargar PDF <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media">
						<div class="mr-4 fw-600 lh-1 lead-5 text-lightest">02</div>
						<div class="media-body">
							<h5>Up To Date</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media">
						<div class="mr-4 fw-600 lh-1 lead-5 text-lightest">03</div>
						<div class="media-body">
							<h5>Cochrane Plus</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
			</div>
    		<div class="row gap-y">
    			<div class="col-md-4">
					<div class="media">
						<div class="mr-4 fw-600 lh-1 lead-5 text-lightest">04</div>
						<div class="media-body">
							<h5>First Consulting</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media">
						<div class="mr-4 fw-600 lh-1 lead-5 text-lightest">05</div>
						<div class="media-body">
							<h5>National Guideline</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media">
						<div class="mr-4 fw-600 lh-1 lead-5 text-lightest">06</div>
						<div class="media-body">
							<h5>NHS Evidence</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
    		</div>
    		<div class="row gap-y">
    			<div class="col-md-4">
					<div class="media">
						<div class="mr-4 fw-600 lh-1 lead-5 text-lightest">07</div>
						<div class="media-body">
							<h5>Fundación Ginebrina</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media">
						<div class="mr-4 fw-600 lh-1 lead-5 text-lightest">08</div>
						<div class="media-body">
							<h5>GLOWN</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
				</div>
    		</div>
    	</div>
    </section>
    <section class="section bg-gray">
    	<div class="container">
    		<div class="row align-items-center">
    			<header class="section-header">
    				<small>F E M E C O G</small>
    				<h2 class="text-danger">Sitios de Interés</h2>
    				<p class="lead">Completely leverage other's covalent products whereas covalent manufactured products.</p>
		            <hr>
    			</header>
    		</div>
    		<div class="row gap-y text-center">
    			<div class="col-md-4">
    				<div class="card shadow-4">
						<div class="card-body">
		    				<h6 class="mb-4">Asociaciones Nacionales</h6>
							<ul class="list-unstyled">
								<li><i class="ti-check text-success mr-2"></i> Asociaciones FEMECOG y Otras Asociaciones</li>
							</ul>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
    			</div>
    			<div class="col-md-4">
    				<div class="card shadow-4">
						<div class="card-body">
							<h6 class="mb-4">Asociaciones Internacionales</h6>
							<ul class="list-unstyled">
								<li><i class="ti-check text-success mr-2"></i> FIGO, FLASOG, ACOG y<br/> RCOG</li>
							</ul>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
    			</div>
    			<div class="col-md-4">
    				<div class="card shadow-4">
						<div class="card-body">
		    				<h6 class="mb-4">Carta Promenal 2020</h6>
							<ul class="list-unstyled">
								<li><i class="ti-check text-success mr-2"></i> Convenio con<br/> PNN</li>
							</ul>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
    			</div>
    		</div>
    		<div class="row gap-y text-center">
    			<div class="col-md-4">
    				<div class="card shadow-4">
						<div class="card-body">
	    					<h6 class="mb-4">Cartas de Consentimiento</h6>
							<ul class="list-unstyled">
								<li><i class="ti-check text-success mr-2"></i> Para actos Ginecológicos y <br/>Obstétricos</li>
							</ul>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
    			</div>
    			<div class="col-md-4">
    				<div class="card shadow-4">
						<div class="card-body">
    						<h6 class="mb-4">Modelo aviso de Privacidad</h6>
							<ul class="list-unstyled">
								<li><i class="ti-check text-success mr-2"></i> ... para pacientes y <br/>cuidadores</li>
							</ul>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
    			</div>
    			<div class="col-md-4">
    				<div class="card shadow-4">
						<div class="card-body">
		    				<h6 class="mb-4">Ejecución de Actividades Virtuales</h6>
							<ul class="list-unstyled">
								<li><i class="ti-check text-success mr-2"></i> Impartido por la <br/>Dra. Heriberto Lizaola</li>
							</ul>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
    			</div>
    		</div>
    		<div class="row gap-y text-center">
    			<div class="col-md-4">
    				<div class="card shadow-4">
						<div class="card-body">
		    				<h6 class="mb-4">Asociaciones Nacionales</h6>
							<ul class="list-unstyled">
								<li><i class="ti-check text-success mr-2"></i> Asociaciones FEMECOG y <br/>Otras Asociaciones</li>
							</ul>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
    			</div>
    			<div class="col-md-4">
    				<div class="card shadow-4">
						<div class="card-body">
		    				<h6 class="mb-4">Administración en el Consultrio</h6>
							<ul class="list-unstyled">
								<li><i class="ti-check text-success mr-2"></i> Impartido por la <br/>Dra. Elsa Díaz</li>
							</ul>
							<a class="fs-12 fw-600" href="#">Visitar Sitio <i class="fa fa-angle-right pl-1"></i></a>
						</div>
					</div>
    			</div>
    			<div class="col-md-4">
    			</div>
    		</div>
    		</div>
    	</div>
    </section>
    <section class="section">
    	<div class="container">
    		<div class="row align-items-center">
	    		<header class="section-header">
	    			<h2 class="text-danger">Comité de Cuidado de los Derechos de la Salud de la Mujer</h2>
	    			<p>"Trato digno y respetuoso en la atención Obstétrica"</p>
	    			<hr>
	    		</header>
	    	</div>
	    	<div class="row gap-y text-center">
	    		<div class="col-lg-6">
	    			<h5 align="center">Introducción</h5><br>	
					<iframe width="350" height="210" src="https://www.youtube.com/embed/OdKJNKdEktA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    		</div>
	    		<div class="col-lg-6">
	    			<h5 align="center">Parto con Enfoque Humanizado</h5><br>	
					<iframe width="350" height="210" src="https://www.youtube.com/embed/Ru0GEuy4uYI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    		</div>
	    	</div>
	    	<div class="row gap-y text-center">
	    		<div class="col-lg-6">
	    			<h5 align="center">Guía de Práctica Clínica del Sector Salud</h5></br>
					<iframe width="350" height="210" src="https://www.youtube.com/embed/p03nKkmGzC8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    		</div>
	    		<div class="col-lg-6">
	    			<h5 align="center">Trato Digno y Respetuoso</h5><br>	
					<iframe width="350" height="210" src="https://www.youtube.com/embed/HgynObwmICE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    		</div>
	    	</div>
	    	<div class="row gap-y text-center">
	    		<div class="col-lg-6">
	    			<h5 align="center">La Relación Médico-Paciente</h5><br>	
					<iframe width="350" height="210" src="https://www.youtube.com/embed/xG7-I7BUX3o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    		</div>
	    		<div class="col-lg-6">
	    			
	    		</div>
	    	</div>
    	</div>
    </section>
{% endblock %}