{% extends 'home/layout.twig.html' %}

{% block title %} Revista GOM{% endblock %}

{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url({{ asset('img/header-banner-001.jpg') }});">
        <div class="container text-center">
            <h1 class="text-danger">
                <small class="small-1">F E M E C O G</small><br />
                 Revista Ginecología y Obstetricia de México
            </h1>
            <p class="lead-1 mt-2 mb-3">Editada por la Federación Mexicana de Colegios de Obstetricia y Ginecología Fundada por la Asociación Mexicana de Ginecología y Obstetricia en 1945</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section bg-gray">
        <div class="container">
            <header class="section-header">
                <small>F E M E C O G</small>
                <h2 class="text-danger">Información Exclusiva para Profesionales de la Salud</h2>
                <hr>
            </header>
            <div class="row gap-y">
                <div class="col-md-4">
                    <div class="card border hover-shadow-4">
                        <div class="card-body text-center">
                            <h5 class="card-title">Mayo 2021</h5>
                            <p>Vol. 89, número 5, 2021</p>
                            <a class="btn btn-xs btn-block btn-success" href="https://ginecologiayobstetricia.org.mx/revista/2021-89-5" target="_blank">Descarga PDF <i class="fa fa-angle-right pl-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border hover-shadow-4">
                        <div class="card-body text-center">
                            <h5 class="card-title">Abril 2021</h5>
                            <p>Vol. 89, número 4, 2021</p>
                            <a class="btn btn-xs btn-block btn-success" href="https://ginecologiayobstetricia.org.mx/revista/2021-89-4" target="_blank">Descarga PDF <i class="fa fa-angle-right pl-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gap-y">
                <div class="col-md-4">
                    <div class="card border hover-shadow-4">
                        <div class="card-body text-center">
                            <h5 class="card-title">Marzo 2021</h5>
                            <p>Vol. 89, número 3, 2021</p>
                            <a class="btn btn-xs btn-block btn-success" href="https://ginecologiayobstetricia.org.mx/revista/2021-89-3" target="_blank">Descarga PDF <i class="fa fa-angle-right pl-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border hover-shadow-4">
                        <div class="card-body text-center">
                            <h5 class="card-title">Febrero 2021</h5>
                            <p>Vol. 89, número 5, 2021</p>
                            <a class="btn btn-xs btn-block btn-success" href="https://ginecologiayobstetricia.org.mx/revista/2021-89-2" target="_blank">Descarga PDF <i class="fa fa-angle-right pl-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border hover-shadow-4">
                        <div class="card-body text-center">
                            <h5 class="card-title">Enero 2021</h5>
                            <p>Vol. 89, número 4, 2021</p>
                            <a class="btn btn-xs btn-block btn-success" href="https://ginecologiayobstetricia.org.mx/revista/2021-89-1" target="_blank">Descarga PDF <i class="fa fa-angle-right pl-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}