{% extends 'home/layout.twig.html' %}

{% block title %}Congresos{% endblock %}

{% block header %}

    <header class="header pt-10 pb-01" style="background-image: url(img/header-banner-001.jpg);">
        <div class="container text-center">
            <p class="small-2 text-uppercase text-lightest fw-500 ls-1">F E M E C O G</p>
            <h1 class="text-danger">
                Comites 
            </h1>
            <p class="lead-1 mt-2 mb-3"> Comités de Federación Mexicana de Colegios de Obstetricia y Ginecología, A.C.<br/>2019 – 2021</p>
        </div>
    </header> 

{% endblock %}

{% block page_contents %}
    <section class="section bg-gray">
    	<div class="container">
    		<div class="row align-items-center">
    			<header class="section-header">
		            <h2 class="text-danger">Comit&eacute; de Gesti&oacute;n y<br />Seguimiento de los Comit&eacute;s</h2>
		            <h4>Coordinador</h4>
		            <p>
						<strong>&bull; Dra. Elsa D&iacute;az L&oacute;pez</strong> | elsadiazlopez@prodigy.net.mx<br/>
						<strong>&bull; Dr. Francisco Javier Guerrero Carre&ntilde;o</strong> | franco.guecar54@gmail.com
					</p>
					<hr>
    			</header>
    		</div>
            <div class="row gap-y">
                <div class="col-lg-4">
					<h5>
						1.- Comit&eacute; de Educaci&oacute;n Continua y Divulgaci&oacute;n Acad&eacute;mica
					</h5>
					<p>
						<strong>
							 Coordinador
							<br />
						</strong>
						 &bull; Dr. Dante Carbajal Ocampo
						<br />
						 &bull; Dra. Ana Mar&iacute;aVelasco Guzm&aacute;n
						<br />
						 &bull; Dr. Pablo Vilchis Nava
						<br />
						 &bull; Dr. Alfredo Gonz&aacute;lez Cort&eacute;s
					</p>
				</div>
				<div class="col-lg-4">
					<h5>
						2.- Comit&eacute; de Actividades Cient&iacute;ficas (CAC)
					</h5>
					<p>
						<strong>
							 Coordinador
						</strong>
						<br />
						 &bull; Dr. Javier G&oacute;mezpedroso Rea
						<br />
						 &bull; Dr. H&eacute;ctor Oviedo Cruz
						<br />
						 &bull; Dr. Mario Alberto Ch&aacute;vez Zamudio
						<br />
						 &bull; Dr. Antonio Sifuentes &Aacute;lvarez
						<br />
						 &bull; Dr. Heriberto Lizaola D&iacute;az de Le&oacute;n
						<br />
						 &bull; Dr. Irma Maricela Quintero Estrella
						<br />
						 &bull; Dr. Francisco Rafael Guadarrama S&aacute;nchez
						<br />
						 &bull; Dr. Gumersindo Gaspar V&aacute;zquez Castillo
					</p>
				</div>
				<div class="col-lg-4">
					<h5>
						3.- Comit&eacute; de Promoci&oacute;n de la Investigaci&oacute;n
					</h5>
					<p>
						<strong>
							 Coordinador
						</strong>
						<br />
						 &bull; Dr. Jos&eacute; Antonio Ayala M&eacute;ndez
						<br />
						 &bull; Dra. Olivia S&aacute;nchez Rodr&iacute;guez
						<br />
						 &bull; Dr. Marcelino Hern&aacute;ndez Valencia
						<br />
						 &bull; Dr. Salvador Espino y Sosa
						<br />
						 &bull; Dr. Mario E. Guzm&aacute;n Huerta
						<br />
						 &bull; Dra. Irma Viridiana Cruz Rodr&iacute;guez
						<br />
						 &bull; Dr. Fausto Coronel Cruz
						<br />
						 &bull; Dr. Sergio Rosales Ortiz
						<br />
						 &bull; Dr. Marco Julio Carlon Riveros
					</p>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-lg-4">
					<h5>
						4.- Comit&eacute; de Bio&eacute;tica
					</h5>
					<p>
						<strong>
							 Coordinador
						</strong>
						<br />
						 &bull; Dr. Estanislao D&iacute;az Barriga
						<br />
						 &bull; Dr. Guillermo Santib&aacute;&ntilde;ez Moreno
						<br />
						 &bull; Dr. Jos&eacute; Antonio Moreno S&aacute;nchez
					</p>
				</div>
				<div class="col-lg-4">
					<h5>
						5.- Comit&eacute; de Vinculaci&oacute;n con Instituciones Nacionales y Gubernamentales
					</h5>
					<p>
						<strong>
							Coordinador
						</strong>
						<br />
						&bull; Dr. Carlos Mor&aacute;n Villota
						<br />
						&bull; Dr. Gilberto Tena Alavez
						<br />
						&bull; Dr. Zigor Campos Goenaga
						<br />
						&bull; Dr. Gerardo E.A. Aurioles L&oacute;pez
					</p>
				</div>
				<div class="col-lg-4">
					<h5>
						6.- Comit&eacute; de Vinculaci&oacute;n con Instituciones Internacionales
					</h5>
					<p>
						<strong>
							Coordinador
						</strong>
						<br />
						&bull; Dr. Ernesto Castelazo Morales
						<br />
						&bull; Dr. Miguel &Aacute;ngel Mancera Res&eacute;ndiz
						<br />
						&bull; Dra. Atziri Ram&iacute;rez Negr&iacute;n
						<br />
						&bull; Dr. Sergio Fajardo Due&ntilde;as
						<br />
						&bull; Dr. Rodrigo Zamora Escudero
					</p>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-lg-4">
					<h5>
						7.- Comit&eacute; de Seguimiento a la Mortalidad Materna y Trato Digno y Respetuoso en la Atenci&oacute;n Obst&eacute;trica
					</h5>
					<p>
						<strong>
							Coordinador
						</strong>
						<br />
						&bull; Dr. Antonio Erasto Peralta S&aacute;nchez
						<br />
						&bull; Dr. Alejandro Posadas Nava
						<br />
						&bull; Dr. Javier Montoya Cossio
						<br />
						&bull; Dra. Clementina Sony Trinidad
						<br />
						&bull; Dr. Paulo Felipe Meade Trevi&ntilde;o
						<br />
						&bull; Dr. Manuel Borbolla Garc&iacute;a
						<br />
						&bull; Dr. Francisco Javier Robles El&iacute;as
					</p>
				</div>
				<div class="col-lg-4">
					<h5>
						8.- Comit&eacute; de Innovaci&oacute;n M&eacute;dico Digital
					</h5>
					<p>
						<strong>
							Coordinador
						</strong>
						<br />
						&bull; Dr. Heriberto Lizaola D&iacute;az de Le&oacute;n
						<br />
						&bull; Dr. Armando Alberto Moreno Santill&aacute;n
						<br />
						&bull; Dr. Francisco Jos&eacute; Bern&aacute;rdez Zapata
					</p>
				</div>
				<div class="col-lg-4">
					<h5>
						9.- Comit&eacute; de Educaci&oacute;n Comunitaria
					</h5>
					<p>
						<strong>
							Coordinador
						</strong>
						<br />
						&bull; Dra. Rosa Mar&iacute;a S&aacute;nchez Javier
						<br />
						&bull; Dr. Carlos Alberto Mart&iacute;nez Peral
						<br />
						&bull; Dr. Victor Moreno Palacio
						<br />
						&bull; Dr. Armando Enrique Carrera Cerv&oacute;n
						<br />
						&bull; Dr. Carlos L&oacute;pez Casta&ntilde;ares
					</p>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-lg-4">
					<h5>
						10. Comité de Cuidado de los Derechos de la Salud de la Mujer
					</h5>
					<p>
						<strong>
							Coordinador
						</strong>
						<br />
						&bull; Dra. María Antonia Basavilvazo Rodríguez
						<br />
						&bull; Dra. María Antonia Valdés Vargas
						<br />
						&bull; Dr. Valentín Tovar Galván
					</p>
				</div>
				<div class="col-lg-4">
					<h5>
						11. Comité de Estatuto y Reglamento
					</h5>
					<strong>
						Coordinador 
					</strong>
					<p>
						<br/>
						&bull; Dra. Paola Iturralde Rosas Priego
						<br/>
						&bull; Dr. Carlos Gerardo Salazar López Ortiz
						<br/>
						&bull; Dr. José Antonio Ayala Méndez
						<br/>
						&bull; Dr. Luis Gerardo Sentíes Cortina
						<br/>
						&bull; Dra. Erika Torres Valdez
					</p>
				</div>
				<div class="col-lg-4">
					<h5>
						12. Comité de Administración de Proyectos Estratégicos
					</h5>

					<p>
						<strong>
							Coordinador 
						</strong>
						<br/>
						&bull; Dra. Miriam Concepción Negrín Pérez 
						<br/>
						&bull; Dr. Jesús Chávez Brambila 
						<br/>
						&bull; Dr. Jesús Armando Montaño Uzcanga 
						<br/>
						&bull; C.P. José Manuel Rubio Gutiérrez 
					</p>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-lg-4">
					<h5>
						13. Comité de Honor y Justicia
					</h5>
					<p>
						<strong>
							Coordinador
						</strong>
						<br/>
						&bull; Dr. René Guillermo Bailón Uriza
						<br/>
						&bull; Dr. Alberto Kably Ambe
						<br/>
						&bull; Dr. Ernesto Castelazo Morales
						<br/>
						&bull; Dr. José Roberto Ahued Ahued
					</p>
				</div>
			</div>

{% endblock %}