<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Desarrollado  por warptechmx | warptech.mx -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block metas %}
		{% endblock %}

		<title>{% block title %}{% endblock %} - {% block companytitle %}{% endblock %}</title>

		<!-- Styles -->
		<link href="{{ asset('css/page.min.css') }}" rel="stylesheet">
		<link href="{{ asset('css/style.css') }}" rel="stylesheet">
		{% block stylesheets %}
		{% endblock %}

		<!-- Favicons -->
		<link rel="apple-touch-icon" href="{% block favicon %}{% endblock %}">
		<link rel="icon" href="{{ asset('img/favicon.png') }}">
	</head>

	<body>
		<!-- Topbar -->
		<section class="topbar d-lg-flex">
			<div class="container small-2">
				<div>Requiere más info? | <a href="mailto:direccionmedica@femecog.org.mx">direccionmedica@femecog.org.mx</a> | TEL: +52 (55)-5669-0211</div>
				{% if app.user %}
				<div>
					<strong>Hola: {{ app.user.nombreCompleto }}</strong>
					<a href="{{ path('app_logout') }}"  class="btn btn-sm btn-link">
						Cerrar sesión <i class="ti-angle-double-right"></i>
					</a>
				</div>
				{% else %}
				<div>
					<a href="{{ path('app_login') }}">Iniciar sesión</a>
				</div>
				{% endif %}
				<!-- <div class="social social-brand">
                    <a class="social-facebook" target="_blank" href="https://www.facebook.com/FEMECOG/"><i class="fa fa-facebook"></i></a>
                    <a class="social-twitter" target="_blank" href="https://twitter.com/FemecogOficial"><i class="fa fa-twitter"></i></a>
                    <a class="social-instagram" target="_blank" href="https://www.instagram.com/femecogoficial//"><i class="fa fa-instagram"></i></a>
                    <a class="social-youtube" target="_blank" href="https://www.youtube.com/c/femecog1960"><i class="fa fa-youtube"></i></a>
                </div> -->
			</div>
		</section>
		<!-- /.topbar -->

		<!-- Navbar -->
    	<nav class="navbar navbar-expand-lg navbar-dark navbar-stick-dark pt-3 pb-3" data-navbar="sticky">
		    <div class="container">
			{% block navbar %}
			{% endblock %}
		    </div>
	    </nav>
	    <!-- /.navbar -->

	    <!-- Header -->
	    {% block header %}
	    {% endblock %}
	    <!-- /.header -->

		{% block main %}
		{% endblock %}

		<!-- Footer -->
		{% block footer %}
		{% endblock %}

		<!-- Scripts -->
		{% block js %}
		{% endblock %}
	</body>
</html>