{% extends 'home/layout.twig.html' %}

{% block title %}Inicio de sesión!{% endblock %}

{% block main %}
<section class="section">
	<div class="container">
		<div class="col-lg-12">
			<form action="{{ path('post.auth.login') }}" method="post" class="w-25 h-25 mt-5 text-center" style="margin: 0 auto;">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal">Inicio de sesión</h1>
				<div class="form-group ">
					<label for="inputEmail">Correo electrónico</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus />
				</div>
				{#
				<div class="form-group">
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required />
				</div>
				#}
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
				<input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}" />

				{#
					Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					See https://symfony.com/doc/current/security/remember_me.html
				<div class="form-group">
					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" name="_remember_me"> Remember me
						</label>
					</div>
				</div>
				#}

				<button class="btn btn-primary" type="submit">
					<p class="small mt-3 opacity-70">Ingresar</p>
				</button>
			</form>
		</div>
	</div>
</section>
{% endblock %}