{% extends 'home/layout.twig.html' %}

{% block main %}
    <h1>Page not found</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('get.home') }}">return to the homepage</a>.
    </p>
{% endblock %}